src/main/resources/x12/271_A1.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- (c)Copyright 2004 Washington Publishing Company (http://www.wpc-edi.com) -->
<xs:schema version="1.0"  xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wpc="http://schemas.wpc-edi.com/X12/ISOMORPH/HIPAA/4010A1" targetNamespace="http://schemas.wpc-edi.com/X12/ISOMORPH/HIPAA/4010A1/WPC271A1" xmlns="http://schemas.wpc-edi.com/X12/ISOMORPH/HIPAA/4010A1/WPC271A1" >
<xs:annotation>
	<xs:documentation xml:lang="en"> 
		HIPAA Schema WPC271A1 - Washington Publishing Company (http://www.wpc-edi.com)
		Copyright (C) 2004 Washington Publishing Company
		This program is free software; you can redistribute it and/or
		modify it under the terms of the GNU General Public License
		as published by the Free Software Foundation; Version 2.
		This program is distributed in the hope that it will be useful,
		but WITHOUT ANY WARRANTY; without even the implied warranty of
		MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
		GNU General Public License for more details.
	</xs:documentation>
</xs:annotation>
<xs:element name="WPC271A1">
	<xs:annotation>
		<xs:documentation>Eligibility, Coverage or Benefit Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="WPC_IProc" minOccurs="0" maxOccurs="1" />
			<xs:element ref="WPC271A110200__BHT_BeginningOfHierarchicalTransaction" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC271A120108_2000A" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:element name="WPC271A110200__BHT_BeginningOfHierarchicalTransaction">
	<xs:annotation>
		<xs:documentation>Beginning of Hierarchical Transaction</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC271A11020G__BHT01_HierarchicalStructureCode"/>
		<xs:attribute name="WPC271A11020Q__BHT02_TransactionSetPurposeCode"/>
		<xs:attribute name="WPC271A11020Y__BHT03_SubmitterTransactionIdentifier"/>
		<xs:attribute name="WPC271A11020P__BHT04_TransactionSetCreationDate"/>
		<xs:attribute name="WPC271A11020M__BHT05_TransactionSetCreationTime"/>
		<xs:attribute name="WPC271A11020S__BHT06_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC271A120108_2000A">
	<xs:annotation>
		<xs:documentation>Information Source Level</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="WPC271A12010G_2000A_HL_InformationSourceLevel" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC271A12025Y_2000A_AAA_RequestValidation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC271A12030X_2100A" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC271A13010C_2000B" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:element name="WPC271A12010G_2000A_HL_InformationSourceLevel">
	<xs:annotation>
		<xs:documentation>Information Source Level</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC271A12010R_2000A_HL01_HierarchicalIDNumber"/>
		<xs:attribute name="WPC271A12010A_2000A_HL02_NotUsed"/>
		<xs:attribute name="WPC271A12010Q_2000A_HL03_HierarchicalLevelCode"/>
		<xs:attribute name="WPC271A12010S_2000A_HL04_HierarchicalChildCode"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC271A12025Y_2000A_AAA_RequestValidation">
	<xs:annotation>
		<xs:documentation>Request Validation</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC271A12025C_2000A_AAA01_ValidRequestIndicator"/>
		<xs:attribute name="WPC271A120255_2000A_AAA02_NotUsed"/>
		<xs:attribute name="WPC271A12025O_2000A_AAA03_RejectReasonCode"/>
		<xs:attribute name="WPC271A12025Y_2000A_AAA04_FollowUpActionCode"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC271A12030X_2100A">
	<xs:annotation>
		<xs:documentation>Information Source Name</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="WPC271A12030U_2100A_NM1_InformationSourceName" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC271A12040R_2100A_REF_InformationSourceAdditionalIdentification" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC271A12080U_2100A_PER_InformationSourceContactInformation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC271A12085S_2100A_AAA_RequestValidation" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:element name="WPC271A12030U_2100A_NM1_InformationSourceName">
	<xs:annotation>
		<xs:documentation>Information Source Name</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC271A12030K_2100A_NM101_EntityIdentifierCode"/>
		<xs:attribute name="WPC271A12030T_2100A_NM102_EntityTypeQualifier"/>
		<xs:attribute name="WPC271A12030F_2100A_NM103_InformationSourceLastOrOrganizationName"/>
		<xs:attribute name="WPC271A12030V_2100A_NM104_InformationSourceFirstName"/>
		<xs:attribute name="WPC271A12030Y_2100A_NM105_InformationSourceMiddleName"/>
		<xs:attribute name="WPC271A120308_2100A_NM106_NotUsed"/>
		<xs:attribute name="WPC271A12030C_2100A_NM107_InformationSourceNameSuffix"/>
		<xs:attribute name="WPC271A12030F_2100A_NM108_IdentificationCodeQualifier"/>
		<xs:attribute name="WPC271A12030E_2100A_NM109_InformationSourcePrimaryIdentifier"/>
		<xs:attribute name="WPC271A12030L_2100A_NM110_NotUsed"/>
		<xs:attribute name="WPC271A12030S_2100A_NM111_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC271A12040R_2100A_REF_InformationSourceAdditionalIdentification">
	<xs:annotation>
		<xs:documentation>Information Source Additional Identification</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC271A12040O_2100A_REF01_ReferenceIdentificationQualifier"/>
		<xs:attribute name="WPC271A12040Z_2100A_REF02_InformationSourceAdditionalPlanIdentifier"/>
		<xs:attribute name="WPC271A120404_2100A_REF03_PlanName"/>
		<xs:attribute name="WPC271A12040I_2100A_REF04_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC271A12080U_2100A_PER_InformationSourceContactInformation">
	<xs:annotation>
		<xs:documentation>Information Source Contact Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC271A12080C_2100A_PER01_ContactFunctionCode"/>
		<xs:attribute name="WPC271A12080Z_2100A_PER02_InformationSourceContactName"/>
		<xs:attribute name="WPC271A12080V_2100A_PER03_CommunicationNumberQualifier"/>
		<xs:attribute name="WPC271A12080I_2100A_PER04_InformationSourceCommunicationNumber"/>
		<xs:attribute name="WPC271A12080P_2100A_PER05_CommunicationNumberQualifier"/>
		<xs:attribute name="WPC271A120807_2100A_PER06_InformationSourceCommunicationNumber"/>
		<xs:attribute name="WPC271A12080U_2100A_PER07_CommunicationNumberQualifier"/>
		<xs:attribute name="WPC271A120801_2100A_PER08_InformationSourceCommunicationNumber"/>
		<xs:attribute name="WPC271A12080_2100A_PER09_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC271A12085S_2100A_AAA_RequestValidation">
	<xs:annotation>
		<xs:documentation>Request Validation</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC271A12085W_2100A_AAA01_ValidRequestIndicator"/>
		<xs:attribute name="WPC271A12085T_2100A_AAA02_NotUsed"/>
		<xs:attribute name="WPC271A120854_2100A_AAA03_RejectReasonCode"/>
		<xs:attribute name="WPC271A120855_2100A_AAA04_FollowUpActionCode"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC271A13010C_2000B">
	<xs:annotation>
		<xs:documentation>Information Receiver Level</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="WPC271A13010K_2000B_HL_InformationReceiverLevel" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC271A13030T_2100B" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC271A14010Y_2000C" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:element name="WPC271A13010K_2000B_HL_InformationReceiverLevel">
	<xs:annotation>
		<xs:documentation>Information Receiver Level</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC271A130103_2000B_HL01_HierarchicalIDNumber"/>
		<xs:attribute name="WPC271A13010F_2000B_HL02_HierarchicalParentIDNumber"/>
		<xs:attribute name="WPC271A13010Q_2000B_HL03_HierarchicalLevelCode"/>
		<xs:attribute name="WPC271A13010_2000B_HL04_HierarchicalChildCode"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC271A13030T_2100B">
	<xs:annotation>
		<xs:documentation>Information Receiver Name</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="WPC271A13030A_2100B_NM1_InformationReceiverName" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC271A13040_2100B_REF_InformationReceiverAdditionalIdentification" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC271A13085A_2100B_AAA_InformationReceiverRequestValidation" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:element name="WPC271A13030A_2100B_NM1_InformationReceiverName">
	<xs:annotation>
		<xs:documentation>Information Receiver Name</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC271A130309_2100B_NM101_EntityIdentifierCode"/>
		<xs:attribute name="WPC271A13030O_2100B_NM102_EntityTypeQualifier"/>
		<xs:attribute name="WPC271A13030_2100B_NM103_InformationReceiverLastOrOrganizationName"/>
		<xs:attribute name="WPC271A130309_2100B_NM104_InformationReceiverFirstName"/>
		<xs:attribute name="WPC271A13030L_2100B_NM105_InformationReceiverMiddleName"/>
		<xs:attribute name="WPC271A13030Y_2100B_NM106_NotUsed"/>
		<xs:attribute name="WPC271A13030B_2100B_NM107_InformationReceiverNameSuffix"/>
		<xs:attribute name="WPC271A13030D_2100B_NM108_IdentificationCodeQualifier"/>
		<xs:attribute name="WPC271A13030R_2100B_NM109_InformationReceiverIdentificationNumber"/>
		<xs:attribute name="WPC271A13030S_2100B_NM110_NotUsed"/>
		<xs:attribute name="WPC271A13030V_2100B_NM111_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC271A13040_2100B_REF_InformationReceiverAdditionalIdentification">
	<xs:annotation>
		<xs:documentation>Information Receiver Additional Identification</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC271A13040L_2100B_REF01_ReferenceIdentificationQualifier"/>
		<xs:attribute name="WPC271A13040_2100B_REF02_InformationReceiverAdditionalIdentifier"/>
		<xs:attribute name="WPC271A13040W_2100B_REF03_LicenseNumberStateCode"/>
		<xs:attribute name="WPC271A13040A_2100B_REF04_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC271A13085A_2100B_AAA_InformationReceiverRequestValidation">
	<xs:annotation>
		<xs:documentation>Information Receiver Request Validation</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC271A13085L_2100B_AAA01_ValidRequestIndicator"/>
		<xs:attribute name="WPC271A13085Y_2100B_AAA02_NotUsed"/>
		<xs:attribute name="WPC271A13085I_2100B_AAA03_RejectReasonCode"/>
		<xs:attribute name="WPC271A13085T_2100B_AAA04_FollowUpActionCode"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC271A14010Y_2000C">
	<xs:annotation>
		<xs:documentation>Subscriber Level</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="WPC271A14010F_2000C_HL_SubscriberLevel" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC271A14020P_2000C_TRN_SubscriberTraceNumber" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC271A14030Q_2100C" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC271A15010J_2000D" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:element name="WPC271A14010F_2000C_HL_SubscriberLevel">
	<xs:annotation>
		<xs:documentation>Subscriber Level</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC271A140107_2000C_HL01_HierarchicalIDNumber"/>
		<xs:attribute name="WPC271A14010Y_2000C_HL02_HierarchicalParentIDNumber"/>
		<xs:attribute name="WPC271A14010C_2000C_HL03_HierarchicalLevelCode"/>
		<xs:attribute name="WPC271A140109_2000C_HL04_HierarchicalChildCode"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC271A14020P_2000C_TRN_SubscriberTraceNumber">
	<xs:annotation>
		<xs:documentation>Subscriber Trace Number</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC271A14020L_2000C_TRN01_TraceTypeCode"/>
		<xs:attribute name="WPC271A14020S_2000C_TRN02_TraceNumber"/>
		<xs:attribute name="WPC271A140205_2000C_TRN03_TraceAssigningEntityIdentifier"/>
		<xs:attribute name="WPC271A14020T_2000C_TRN04_TraceAssigningEntityAdditionalIdentifier"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC271A14030Q_2100C">
	<xs:annotation>
		<xs:documentation>Subscriber Name</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="WPC271A14030Y_2100C_NM1_SubscriberName" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC271A14040F_2100C_REF_SubscriberAdditionalIdentification" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC271A14060T_2100C_N3_SubscriberAddress" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC271A14070P_2100C_N4_SubscriberCityStateZIPCode" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC271A14080S_2100C_PER_SubscriberContactInformation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC271A14085_2100C_AAA_SubscriberRequestValidation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC271A141007_2100C_DMG_SubscriberDemographicInformation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC271A14110A_2100C_INS_SubscriberRelationship" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC271A141209_2100C_DTP_SubscriberDate" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC271A14130Y_2110C" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:element name="WPC271A14030Y_2100C_NM1_SubscriberName">
	<xs:annotation>
		<xs:documentation>Subscriber Name</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC271A14030D_2100C_NM101_EntityIdentifierCode"/>
		<xs:attribute name="WPC271A14030G_2100C_NM102_EntityTypeQualifier"/>
		<xs:attribute name="WPC271A14030M_2100C_NM103_SubscriberLastName"/>
		<xs:attribute name="WPC271A140306_2100C_NM104_SubscriberFirstName"/>
		<xs:attribute name="WPC271A14030X_2100C_NM105_SubscriberMiddleName"/>
		<xs:attribute name="WPC271A14030B_2100C_NM106_SubscriberNamePrefix"/>
		<xs:attribute name="WPC271A14030A_2100C_NM107_SubscriberNameSuffix"/>
		<xs:attribute name="WPC271A140304_2100C_NM108_IdentificationCodeQualifier"/>
		<xs:attribute name="WPC271A14030F_2100C_NM109_SubscriberPrimaryIdentifier"/>
		<xs:attribute name="WPC271A14030M_2100C_NM110_NotUsed"/>
		<xs:attribute name="WPC271A14030X_2100C_NM111_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC271A14040F_2100C_REF_SubscriberAdditionalIdentification">
	<xs:annotation>
		<xs:documentation>Subscriber Additional Identification</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC271A14040E_2100C_REF01_ReferenceIdentificationQualifier"/>
		<xs:attribute name="WPC271A14040Y_2100C_REF02_SubscriberSupplementalIdentifier"/>
		<xs:attribute name="WPC271A14040E_2100C_REF03_PlanSponsorName"/>
		<xs:attribute name="WPC271A14040E_2100C_REF04_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC271A14060T_2100C_N3_SubscriberAddress">
	<xs:annotation>
		<xs:documentation>Subscriber Address</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC271A14060J_2100C_N301_SubscriberAddressLine"/>
		<xs:attribute name="WPC271A14060W_2100C_N302_SubscriberAddressLine"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC271A14070P_2100C_N4_SubscriberCityStateZIPCode">
	<xs:annotation>
		<xs:documentation>Subscriber City/State/ZIP Code</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC271A14070F_2100C_N401_SubscriberCityName"/>
		<xs:attribute name="WPC271A14070F_2100C_N402_SubscriberStateCode"/>
		<xs:attribute name="WPC271A14070Y_2100C_N403_SubscriberPostalZoneOrZIPCode"/>
		<xs:attribute name="WPC271A140703_2100C_N404_CountryCode"/>
		<xs:attribute name="WPC271A140705_2100C_N405_LocationQualifier"/>
		<xs:attribute name="WPC271A14070A_2100C_N406_LocationIdentificationCode"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC271A14080S_2100C_PER_SubscriberContactInformation">
	<xs:annotation>
		<xs:documentation>Subscriber Contact Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC271A14080L_2100C_PER01_ContactFunctionCode"/>
		<xs:attribute name="WPC271A14080Y_2100C_PER02_SubscriberContactName"/>
		<xs:attribute name="WPC271A14080_2100C_PER03_CommunicationNumberQualifier"/>
		<xs:attribute name="WPC271A14080A_2100C_PER04_SubscriberContactNumber"/>
		<xs:attribute name="WPC271A140802_2100C_PER05_CommunicationNumberQualifier"/>
		<xs:attribute name="WPC271A14080W_2100C_PER06_SubscriberContactNumber"/>
		<xs:attribute name="WPC271A14080Y_2100C_PER07_CommunicationNumberQualifier"/>
		<xs:attribute name="WPC271A14080V_2100C_PER08_SubscriberContactNumber"/>
		<xs:attribute name="WPC271A14080A_2100C_PER09_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC271A14085_2100C_AAA_SubscriberRequestValidation">
	<xs:annotation>
		<xs:documentation>Subscriber Request Validation</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC271A14085T_2100C_AAA01_ValidRequestIndicator"/>
		<xs:attribute name="WPC271A14085E_2100C_AAA02_NotUsed"/>
		<xs:attribute name="WPC271A14085G_2100C_AAA03_RejectReasonCode"/>
		<xs:attribute name="WPC271A14085G_2100C_AAA04_FollowUpActionCode"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC271A141007_2100C_DMG_SubscriberDemographicInformation">
	<xs:annotation>
		<xs:documentation>Subscriber Demographic Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC271A14100Q_2100C_DMG01_DateTimePeriodFormatQualifier"/>
		<xs:attribute name="WPC271A14100S_2100C_DMG02_SubscriberBirthDate"/>
		<xs:attribute name="WPC271A14100_2100C_DMG03_SubscriberGenderCode"/>
		<xs:attribute name="WPC271A14100E_2100C_DMG04_NotUsed"/>
		<xs:attribute name="WPC271A14100K_2100C_DMG05_NotUsed"/>
		<xs:attribute name="WPC271A14100J_2100C_DMG06_NotUsed"/>
		<xs:attribute name="WPC271A14100G_2100C_DMG07_NotUsed"/>
		<xs:attribute name="WPC271A14100_2100C_DMG08_NotUsed"/>
		<xs:attribute name="WPC271A141002_2100C_DMG09_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC271A14110A_2100C_INS_SubscriberRelationship">
	<xs:annotation>
		<xs:documentation>Subscriber Relationship</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC271A14110D_2100C_INS01_InsuredIndicator"/>
		<xs:attribute name="WPC271A14110_2100C_INS02_IndividualRelationshipCode"/>
		<xs:attribute name="WPC271A14110V_2100C_INS03_MaintenanceTypeCode"/>
		<xs:attribute name="WPC271A141108_2100C_INS04_MaintenanceReasonCode"/>
		<xs:attribute name="WPC271A14110N_2100C_INS05_NotUsed"/>
		<xs:attribute name="WPC271A14110X_2100C_INS06_NotUsed"/>
		<xs:attribute name="WPC271A14110B_2100C_INS07_NotUsed"/>
		<xs:attribute name="WPC271A14110Y_2100C_INS08_NotUsed"/>
		<xs:attribute name="WPC271A14110C_2100C_INS09_StudentStatusCode"/>
		<xs:attribute name="WPC271A14110F_2100C_INS10_HandicapIndicator"/>
		<xs:attribute name="WPC271A14110X_2100C_INS11_NotUsed"/>
		<xs:attribute name="WPC271A14110T_2100C_INS12_NotUsed"/>
		<xs:attribute name="WPC271A14110Y_2100C_INS13_NotUsed"/>
		<xs:attribute name="WPC271A14110C_2100C_INS14_NotUsed"/>
		<xs:attribute name="WPC271A14110U_2100C_INS15_NotUsed"/>
		<xs:attribute name="WPC271A14110D_2100C_INS16_NotUsed"/>
		<xs:attribute name="WPC271A14110L_2100C_INS17_BirthSequenceNumber"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC271A141209_2100C_DTP_SubscriberDate">
	<xs:annotation>
		<xs:documentation>Subscriber Date</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC271A14120_2100C_DTP01_DateTimeQualifier"/>
		<xs:attribute name="WPC271A14120N_2100C_DTP02_DateTimePeriodFormatQualifier"/>
		<xs:attribute name="WPC271A14120M_2100C_DTP03_DateTimePeriod"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC271A14130Y_2110C">
	<xs:annotation>
		<xs:documentation>Subscriber Eligibility or Benefit Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="WPC271A14130O_2110C_EB_SubscriberEligibilityOrBenefitInformation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC271A14135D_2110C_HSD_HealthCareServicesDelivery" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC271A14140U_2110C_REF_SubscriberAdditionalIdentification" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC271A14150_2110C_DTP_SubscriberEligibilityBenefitDate" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC271A14160R_2110C_AAA_SubscriberRequestValidation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC271A14170N_2110C_MSG_MessageText" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC271A14171Z_2115C" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC271A14178G_2110C_LS_LoopHeader" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC271A14180D_2120C" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC271A14225M_2110C_LE_LoopTrailer" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:element name="WPC271A14130O_2110C_EB_SubscriberEligibilityOrBenefitInformation">
	<xs:annotation>
		<xs:documentation>Subscriber Eligibility or Benefit Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="WPC271A14130U_2110C_EB13_CompositeMedicalProcedureIdentifier" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="WPC271A141307_2110C_EB01_EligibilityOrBenefitInformation"/>
		<xs:attribute name="WPC271A141307_2110C_EB02_BenefitCoverageLevelCode"/>
		<xs:attribute name="WPC271A14130B_2110C_EB03_ServiceTypeCode"/>
		<xs:attribute name="WPC271A14130Z_2110C_EB04_InsuranceTypeCode"/>
		<xs:attribute name="WPC271A141304_2110C_EB05_PlanCoverageDescription"/>
		<xs:attribute name="WPC271A14130I_2110C_EB06_TimePeriodQualifier"/>
		<xs:attribute name="WPC271A14130Y_2110C_EB07_BenefitAmount"/>
		<xs:attribute name="WPC271A14130L_2110C_EB08_BenefitPercent"/>
		<xs:attribute name="WPC271A14130U_2110C_EB09_QuantityQualifier"/>
		<xs:attribute name="WPC271A14130O_2110C_EB10_BenefitQuantity"/>
		<xs:attribute name="WPC271A14130_2110C_EB11_AuthorizationOrCertificationIndicator"/>
		<xs:attribute name="WPC271A14130C_2110C_EB12_InPlanNetworkIndicator"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC271A14130U_2110C_EB13_CompositeMedicalProcedureIdentifier">
	<xs:annotation>
		<xs:documentation>Composite Medical Procedure Identifier</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC271A141309_2110C_EB1301_ProductOrServiceIDQualifier"/>
		<xs:attribute name="WPC271A14130Q_2110C_EB1302_ProcedureCode"/>
		<xs:attribute name="WPC271A14130Q_2110C_EB1303_ProcedureModifier"/>
		<xs:attribute name="WPC271A14130H_2110C_EB1304_ProcedureModifier"/>
		<xs:attribute name="WPC271A141303_2110C_EB1305_ProcedureModifier"/>
		<xs:attribute name="WPC271A14130S_2110C_EB1306_ProcedureModifier"/>
		<xs:attribute name="WPC271A14130F_2110C_EB1307_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC271A14135D_2110C_HSD_HealthCareServicesDelivery">
	<xs:annotation>
		<xs:documentation>Health Care Services Delivery</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC271A14135P_2110C_HSD01_QuantityQualifier"/>
		<xs:attribute name="WPC271A14135M_2110C_HSD02_BenefitQuantity"/>
		<xs:attribute name="WPC271A14135F_2110C_HSD03_UnitOrBasisForMeasurementCode"/>
		<xs:attribute name="WPC271A14135X_2110C_HSD04_SampleSelectionModulus"/>
		<xs:attribute name="WPC271A141356_2110C_HSD05_TimePeriodQualifier"/>
		<xs:attribute name="WPC271A14135M_2110C_HSD06_PeriodCount"/>
		<xs:attribute name="WPC271A14135O_2110C_HSD07_DeliveryFrequencyCode"/>
		<xs:attribute name="WPC271A14135T_2110C_HSD08_DeliveryPatternTimeCode"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC271A14140U_2110C_REF_SubscriberAdditionalIdentification">
	<xs:annotation>
		<xs:documentation>Subscriber Additional Identification</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC271A14140O_2110C_REF01_ReferenceIdentificationQualifier"/>
		<xs:attribute name="WPC271A14140W_2110C_REF02_SubscriberEligibilityOrBenefitIdentifier"/>
		<xs:attribute name="WPC271A14140P_2110C_REF03_PlanSponsorName"/>
		<xs:attribute name="WPC271A141402_2110C_REF04_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC271A14150_2110C_DTP_SubscriberEligibilityBenefitDate">
	<xs:annotation>
		<xs:documentation>Subscriber Eligibility/Benefit Date</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC271A14150Z_2110C_DTP01_DateTimeQualifier"/>
		<xs:attribute name="WPC271A14150X_2110C_DTP02_DateTimePeriodFormatQualifier"/>
		<xs:attribute name="WPC271A14150J_2110C_DTP03_EligibilityOrBenefitDateTimePeriod"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC271A14160R_2110C_AAA_SubscriberRequestValidation">
	<xs:annotation>
		<xs:documentation>Subscriber Request Validation</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC271A14160H_2110C_AAA01_ValidRequestIndicator"/>
		<xs:attribute name="WPC271A14160W_2110C_AAA02_NotUsed"/>
		<xs:attribute name="WPC271A14160A_2110C_AAA03_RejectReasonCode"/>
		<xs:attribute name="WPC271A14160Z_2110C_AAA04_FollowUpActionCode"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC271A14170N_2110C_MSG_MessageText">
	<xs:annotation>
		<xs:documentation>Message Text</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC271A14170M_2110C_MSG01_FreeFormMessageText"/>
		<xs:attribute name="WPC271A14170M_2110C_MSG02_NotUsed"/>
		<xs:attribute name="WPC271A14170D_2110C_MSG03_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC271A14171Z_2115C">
	<xs:annotation>
		<xs:documentation>Subscriber Eligibility or Benefit Additional Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="WPC271A141710_2115C_III_SubscriberEligibilityOrBenefitAdditionalInformation" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:element name="WPC271A141710_2115C_III_SubscriberEligibilityOrBenefitAdditionalInformation">
	<xs:annotation>
		<xs:documentation>Subscriber Eligibility or Benefit Additional Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC271A141711_2115C_III01_CodeListQualifierCode"/>
		<xs:attribute name="WPC271A14171R_2115C_III02_IndustryCode"/>
		<xs:attribute name="WPC271A14171K_2115C_III03_NotUsed"/>
		<xs:attribute name="WPC271A14171U_2115C_III04_NotUsed"/>
		<xs:attribute name="WPC271A14171E_2115C_III05_NotUsed"/>
		<xs:attribute name="WPC271A14171T_2115C_III06_NotUsed"/>
		<xs:attribute name="WPC271A14171N_2115C_III07_NotUsed"/>
		<xs:attribute name="WPC271A14171S_2115C_III08_NotUsed"/>
		<xs:attribute name="WPC271A141714_2115C_III09_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC271A14178G_2110C_LS_LoopHeader">
	<xs:annotation>
		<xs:documentation>Loop Header</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC271A14178W_2110C_LS01_LoopIdentifierCode"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC271A14180D_2120C">
	<xs:annotation>
		<xs:documentation>Subscriber Benefit Related Entity Name</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="WPC271A14180Q_2120C_NM1_SubscriberBenefitRelatedEntityName" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC271A14200_2120C_N3_SubscriberBenefitRelatedEntityAddress" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC271A14210R_2120C_N4_SubscriberBenefitRelatedCityStateZIPCode" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC271A14220Z_2120C_PER_SubscriberBenefitRelatedEntityContactInformation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC271A14223S_2120C_PRV_SubscriberBenefitRelatedProviderInformation" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:element name="WPC271A14180Q_2120C_NM1_SubscriberBenefitRelatedEntityName">
	<xs:annotation>
		<xs:documentation>Subscriber Benefit Related Entity Name</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC271A14180A_2120C_NM101_EntityIdentifierCode"/>
		<xs:attribute name="WPC271A141804_2120C_NM102_EntityTypeQualifier"/>
		<xs:attribute name="WPC271A14180H_2120C_NM103_BenefitRelatedEntityLastOrOrganizationName"/>
		<xs:attribute name="WPC271A14180N_2120C_NM104_BenefitRelatedEntityFirstName"/>
		<xs:attribute name="WPC271A14180M_2120C_NM105_BenefitRelatedEntityMiddleName"/>
		<xs:attribute name="WPC271A14180O_2120C_NM106_NotUsed"/>
		<xs:attribute name="WPC271A14180O_2120C_NM107_BenefitRelatedEntityNameSuffix"/>
		<xs:attribute name="WPC271A14180N_2120C_NM108_IdentificationCodeQualifier"/>
		<xs:attribute name="WPC271A14180_2120C_NM109_BenefitRelatedEntityIdentifier"/>
		<xs:attribute name="WPC271A14180O_2120C_NM110_NotUsed"/>
		<xs:attribute name="WPC271A14180H_2120C_NM111_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC271A14200_2120C_N3_SubscriberBenefitRelatedEntityAddress">
	<xs:annotation>
		<xs:documentation>Subscriber Benefit Related Entity Address</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC271A14200U_2120C_N301_BenefitRelatedEntityAddressLine"/>
		<xs:attribute name="WPC271A14200V_2120C_N302_BenefitRelatedEntityAddressLine"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC271A14210R_2120C_N4_SubscriberBenefitRelatedCityStateZIPCode">
	<xs:annotation>
		<xs:documentation>Subscriber Benefit Related City/State/ZIP Code</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC271A142103_2120C_N401_BenefitRelatedEntityCityName"/>
		<xs:attribute name="WPC271A14210I_2120C_N402_BenefitRelatedEntityStateCode"/>
		<xs:attribute name="WPC271A14210Q_2120C_N403_BenefitRelatedEntityPostalZoneOrZIPCode"/>
		<xs:attribute name="WPC271A14210_2120C_N404_CountryCode"/>
		<xs:attribute name="WPC271A14210O_2120C_N405_LocationQualifier"/>
		<xs:attribute name="WPC271A14210S_2120C_N406_DepartmentOfDefenseHealthServiceRegionCode"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC271A14220Z_2120C_PER_SubscriberBenefitRelatedEntityContactInformation">
	<xs:annotation>
		<xs:documentation>Subscriber Benefit Related Entity Contact Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC271A14220G_2120C_PER01_ContactFunctionCode"/>
		<xs:attribute name="WPC271A14220H_2120C_PER02_BenefitRelatedEntityContactName"/>
		<xs:attribute name="WPC271A14220J_2120C_PER03_CommunicationNumberQualifier"/>
		<xs:attribute name="WPC271A14220T_2120C_PER04_BenefitRelatedEntityCommunicationNumber"/>
		<xs:attribute name="WPC271A14220H_2120C_PER05_CommunicationNumberQualifier"/>
		<xs:attribute name="WPC271A14220Y_2120C_PER06_BenefitRelatedEntityCommunicationNumber"/>
		<xs:attribute name="WPC271A14220C_2120C_PER07_CommunicationNumberQualifier"/>
		<xs:attribute name="WPC271A14220_2120C_PER08_BenefitRelatedEntityCommunicationNumber"/>
		<xs:attribute name="WPC271A14220G_2120C_PER09_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC271A14223S_2120C_PRV_SubscriberBenefitRelatedProviderInformation">
	<xs:annotation>
		<xs:documentation>Subscriber Benefit Related Provider Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC271A142230_2120C_PRV01_ProviderCode"/>
		<xs:attribute name="WPC271A14223K_2120C_PRV02_ReferenceIdentificationQualifier"/>
		<xs:attribute name="WPC271A14223H_2120C_PRV03_ProviderIdentifier"/>
		<xs:attribute name="WPC271A14223U_2120C_PRV04_NotUsed"/>
		<xs:attribute name="WPC271A14223G_2120C_PRV05_NotUsed"/>
		<xs:attribute name="WPC271A14223_2120C_PRV06_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC271A14225M_2110C_LE_LoopTrailer">
	<xs:annotation>
		<xs:documentation>Loop Trailer</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC271A14225O_2110C_LE01_LoopIdentifierCode"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC271A15010J_2000D">
	<xs:annotation>
		<xs:documentation>Dependent Level</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="WPC271A15010H_2000D_HL_DependentLevel" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC271A15020Z_2000D_TRN_DependentTraceNumber" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC271A15030O_2100D" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:element name="WPC271A15010H_2000D_HL_DependentLevel">
	<xs:annotation>
		<xs:documentation>Dependent Level</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC271A15010N_2000D_HL01_HierarchicalIDNumber"/>
		<xs:attribute name="WPC271A15010I_2000D_HL02_HierarchicalParentIDNumber"/>
		<xs:attribute name="WPC271A15010I_2000D_HL03_HierarchicalLevelCode"/>
		<xs:attribute name="WPC271A15010U_2000D_HL04_HierarchicalChildCode"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC271A15020Z_2000D_TRN_DependentTraceNumber">
	<xs:annotation>
		<xs:documentation>Dependent Trace Number</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC271A15020H_2000D_TRN01_TraceTypeCode"/>
		<xs:attribute name="WPC271A15020U_2000D_TRN02_TraceNumber"/>
		<xs:attribute name="WPC271A15020U_2000D_TRN03_TraceAssigningEntityIdentifier"/>
		<xs:attribute name="WPC271A15020_2000D_TRN04_TraceAssigningEntityAdditionalIdentifier"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC271A15030O_2100D">
	<xs:annotation>
		<xs:documentation>Dependent Name</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="WPC271A15030Q_2100D_NM1_DependentName" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC271A15040Z_2100D_REF_DependentAdditionalIdentification" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC271A15060K_2100D_N3_DependentAddress" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC271A15070L_2100D_N4_DependentCityStateZIPCode" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC271A15080F_2100D_PER_DependentContactInformation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC271A150858_2100D_AAA_DependentRequestValidation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC271A15100E_2100D_DMG_DependentDemographicInformation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC271A151106_2100D_INS_DependentRelationship" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC271A15120I_2100D_DTP_DependentDate" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC271A15130U_2110D" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:element name="WPC271A15030Q_2100D_NM1_DependentName">
	<xs:annotation>
		<xs:documentation>Dependent Name</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC271A15030S_2100D_NM101_EntityIdentifierCode"/>
		<xs:attribute name="WPC271A15030H_2100D_NM102_EntityTypeQualifier"/>
		<xs:attribute name="WPC271A15030L_2100D_NM103_DependentLastName"/>
		<xs:attribute name="WPC271A15030N_2100D_NM104_DependentFirstName"/>
		<xs:attribute name="WPC271A15030C_2100D_NM105_DependentMiddleName"/>
		<xs:attribute name="WPC271A15030F_2100D_NM106_NotUsed"/>
		<xs:attribute name="WPC271A15030C_2100D_NM107_DependentNameSuffix"/>
		<xs:attribute name="WPC271A15030E_2100D_NM108_IdentificationCodeQualifier"/>
		<xs:attribute name="WPC271A15030L_2100D_NM109_DependentPrimaryIdentifier"/>
		<xs:attribute name="WPC271A15030J_2100D_NM110_NotUsed"/>
		<xs:attribute name="WPC271A15030F_2100D_NM111_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC271A15040Z_2100D_REF_DependentAdditionalIdentification">
	<xs:annotation>
		<xs:documentation>Dependent Additional Identification</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC271A15040C_2100D_REF01_ReferenceIdentificationQualifier"/>
		<xs:attribute name="WPC271A15040M_2100D_REF02_DependentSupplementalIdentifier"/>
		<xs:attribute name="WPC271A150404_2100D_REF03_PlanSponsorName"/>
		<xs:attribute name="WPC271A150407_2100D_REF04_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC271A15060K_2100D_N3_DependentAddress">
	<xs:annotation>
		<xs:documentation>Dependent Address</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC271A15060D_2100D_N301_DependentAddressLine"/>
		<xs:attribute name="WPC271A15060R_2100D_N302_DependentAddressLine"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC271A15070L_2100D_N4_DependentCityStateZIPCode">
	<xs:annotation>
		<xs:documentation>Dependent City/State/ZIP Code</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC271A150703_2100D_N401_DependentCityName"/>
		<xs:attribute name="WPC271A15070V_2100D_N402_DependentStateCode"/>
		<xs:attribute name="WPC271A15070T_2100D_N403_DependentPostalZoneOrZIPCode"/>
		<xs:attribute name="WPC271A15070H_2100D_N404_CountryCode"/>
		<xs:attribute name="WPC271A15070T_2100D_N405_NotUsed"/>
		<xs:attribute name="WPC271A15070K_2100D_N406_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC271A15080F_2100D_PER_DependentContactInformation">
	<xs:annotation>
		<xs:documentation>Dependent Contact Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC271A15080J_2100D_PER01_ContactFunctionCode"/>
		<xs:attribute name="WPC271A15080J_2100D_PER02_DependentContactName"/>
		<xs:attribute name="WPC271A15080F_2100D_PER03_CommunicationNumberQualifier"/>
		<xs:attribute name="WPC271A15080S_2100D_PER04_DependentContactNumber"/>
		<xs:attribute name="WPC271A15080_2100D_PER05_CommunicationNumberQualifier"/>
		<xs:attribute name="WPC271A15080P_2100D_PER06_DependentContactNumber"/>
		<xs:attribute name="WPC271A15080X_2100D_PER07_CommunicationNumberQualifier"/>
		<xs:attribute name="WPC271A150807_2100D_PER08_DependentContactNumber"/>
		<xs:attribute name="WPC271A15080W_2100D_PER09_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC271A150858_2100D_AAA_DependentRequestValidation">
	<xs:annotation>
		<xs:documentation>Dependent Request Validation</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC271A15085T_2100D_AAA01_ValidRequestIndicator"/>
		<xs:attribute name="WPC271A15085S_2100D_AAA02_NotUsed"/>
		<xs:attribute name="WPC271A15085R_2100D_AAA03_RejectReasonCode"/>
		<xs:attribute name="WPC271A15085X_2100D_AAA04_FollowUpActionCode"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC271A15100E_2100D_DMG_DependentDemographicInformation">
	<xs:annotation>
		<xs:documentation>Dependent Demographic Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC271A151000_2100D_DMG01_DateTimePeriodFormatQualifier"/>
		<xs:attribute name="WPC271A15100B_2100D_DMG02_DependentBirthDate"/>
		<xs:attribute name="WPC271A15100H_2100D_DMG03_DependentGenderCode"/>
		<xs:attribute name="WPC271A15100C_2100D_DMG04_NotUsed"/>
		<xs:attribute name="WPC271A15100U_2100D_DMG05_NotUsed"/>
		<xs:attribute name="WPC271A15100A_2100D_DMG06_NotUsed"/>
		<xs:attribute name="WPC271A15100R_2100D_DMG07_NotUsed"/>
		<xs:attribute name="WPC271A15100Y_2100D_DMG08_NotUsed"/>
		<xs:attribute name="WPC271A15100B_2100D_DMG09_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC271A151106_2100D_INS_DependentRelationship">
	<xs:annotation>
		<xs:documentation>Dependent Relationship</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC271A15110V_2100D_INS01_InsuredIndicator"/>
		<xs:attribute name="WPC271A15110Z_2100D_INS02_IndividualRelationshipCode"/>
		<xs:attribute name="WPC271A15110M_2100D_INS03_MaintenanceTypeCode"/>
		<xs:attribute name="WPC271A15110J_2100D_INS04_MaintenanceReasonCode"/>
		<xs:attribute name="WPC271A151104_2100D_INS05_NotUsed"/>
		<xs:attribute name="WPC271A15110L_2100D_INS06_NotUsed"/>
		<xs:attribute name="WPC271A15110S_2100D_INS07_NotUsed"/>
		<xs:attribute name="WPC271A151106_2100D_INS08_NotUsed"/>
		<xs:attribute name="WPC271A15110I_2100D_INS09_StudentStatusCode"/>
		<xs:attribute name="WPC271A15110M_2100D_INS10_HandicapIndicator"/>
		<xs:attribute name="WPC271A15110B_2100D_INS11_NotUsed"/>
		<xs:attribute name="WPC271A15110T_2100D_INS12_NotUsed"/>
		<xs:attribute name="WPC271A15110G_2100D_INS13_NotUsed"/>
		<xs:attribute name="WPC271A151105_2100D_INS14_NotUsed"/>
		<xs:attribute name="WPC271A15110S_2100D_INS15_NotUsed"/>
		<xs:attribute name="WPC271A15110F_2100D_INS16_NotUsed"/>
		<xs:attribute name="WPC271A15110G_2100D_INS17_BirthSequenceNumber"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC271A15120I_2100D_DTP_DependentDate">
	<xs:annotation>
		<xs:documentation>Dependent Date</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC271A15120Z_2100D_DTP01_DateTimeQualifier"/>
		<xs:attribute name="WPC271A15120R_2100D_DTP02_DateTimePeriodFormatQualifier"/>
		<xs:attribute name="WPC271A15120R_2100D_DTP03_DateTimePeriod"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC271A15130U_2110D">
	<xs:annotation>
		<xs:documentation>Dependent Eligibility or Benefit Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="WPC271A151305_2110D_EB_DependentEligibilityOrBenefitInformation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC271A15135_2110D_HSD_HealthCareServicesDelivery" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC271A15140B_2110D_REF_DependentAdditionalIdentification" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC271A15150A_2110D_DTP_DependentEligibilityBenefitDate" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC271A15160_2110D_AAA_DependentRequestValidation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC271A15170V_2110D_MSG_MessageText" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC271A15171O_2115D" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC271A15178Q_2110D_LS_DependentEligibilityOrBenefitInformation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC271A15180H_2120D" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC271A15225Z_2110D_LE_LoopTrailer" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:element name="WPC271A151305_2110D_EB_DependentEligibilityOrBenefitInformation">
	<xs:annotation>
		<xs:documentation>Dependent Eligibility or Benefit Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="WPC271A15130R_2110D_EB13_CompositeMedicalProcedureIdentifier" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="WPC271A15130M_2110D_EB01_EligibilityOrBenefitInformation"/>
		<xs:attribute name="WPC271A15130H_2110D_EB02_BenefitCoverageLevelCode"/>
		<xs:attribute name="WPC271A15130D_2110D_EB03_ServiceTypeCode"/>
		<xs:attribute name="WPC271A15130S_2110D_EB04_InsuranceTypeCode"/>
		<xs:attribute name="WPC271A15130Q_2110D_EB05_PlanCoverageDescription"/>
		<xs:attribute name="WPC271A15130_2110D_EB06_TimePeriodQualifier"/>
		<xs:attribute name="WPC271A15130I_2110D_EB07_BenefitAmount"/>
		<xs:attribute name="WPC271A15130N_2110D_EB08_BenefitPercent"/>
		<xs:attribute name="WPC271A15130F_2110D_EB09_QuantityQualifier"/>
		<xs:attribute name="WPC271A15130Z_2110D_EB10_BenefitQuantity"/>
		<xs:attribute name="WPC271A15130Y_2110D_EB11_AuthorizationOrCertificationIndicator"/>
		<xs:attribute name="WPC271A15130I_2110D_EB12_InPlanNetworkIndicator"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC271A15130R_2110D_EB13_CompositeMedicalProcedureIdentifier">
	<xs:annotation>
		<xs:documentation>Composite Medical Procedure Identifier</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC271A15130F_2110D_EB1301_ProductOrServiceIDQualifier"/>
		<xs:attribute name="WPC271A15130T_2110D_EB1302_ProcedureCode"/>
		<xs:attribute name="WPC271A151300_2110D_EB1303_ProcedureModifier"/>
		<xs:attribute name="WPC271A15130W_2110D_EB1304_ProcedureModifier"/>
		<xs:attribute name="WPC271A15130_2110D_EB1305_ProcedureModifier"/>
		<xs:attribute name="WPC271A151301_2110D_EB1306_ProcedureModifier"/>
		<xs:attribute name="WPC271A15130P_2110D_EB1307_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC271A15135_2110D_HSD_HealthCareServicesDelivery">
	<xs:annotation>
		<xs:documentation>Health Care Services Delivery</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC271A15135O_2110D_HSD01_QuantityQualifier"/>
		<xs:attribute name="WPC271A15135P_2110D_HSD02_BenefitQuantity"/>
		<xs:attribute name="WPC271A15135P_2110D_HSD03_UnitOrBasisForMeasurementCode"/>
		<xs:attribute name="WPC271A15135W_2110D_HSD04_SampleSelectionModulus"/>
		<xs:attribute name="WPC271A15135Y_2110D_HSD05_TimePeriodQualifier"/>
		<xs:attribute name="WPC271A15135Q_2110D_HSD06_PeriodCount"/>
		<xs:attribute name="WPC271A15135O_2110D_HSD07_DeliveryFrequencyCode"/>
		<xs:attribute name="WPC271A15135R_2110D_HSD08_DeliveryPatternTimeCode"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC271A15140B_2110D_REF_DependentAdditionalIdentification">
	<xs:annotation>
		<xs:documentation>Dependent Additional Identification</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC271A15140P_2110D_REF01_ReferenceIdentificationQualifier"/>
		<xs:attribute name="WPC271A15140T_2110D_REF02_DependentEligibilityOrBenefitIdentifier"/>
		<xs:attribute name="WPC271A15140O_2110D_REF03_PlanSponsorName"/>
		<xs:attribute name="WPC271A15140B_2110D_REF04_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC271A15150A_2110D_DTP_DependentEligibilityBenefitDate">
	<xs:annotation>
		<xs:documentation>Dependent Eligibility/Benefit Date</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC271A15150Z_2110D_DTP01_DateTimeQualifier"/>
		<xs:attribute name="WPC271A15150C_2110D_DTP02_DateTimePeriodFormatQualifier"/>
		<xs:attribute name="WPC271A15150R_2110D_DTP03_EligibilityOrBenefitDateTimePeriod"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC271A15160_2110D_AAA_DependentRequestValidation">
	<xs:annotation>
		<xs:documentation>Dependent Request Validation</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC271A15160V_2110D_AAA01_ValidRequestIndicator"/>
		<xs:attribute name="WPC271A15160A_2110D_AAA02_NotUsed"/>
		<xs:attribute name="WPC271A15160S_2110D_AAA03_RejectReasonCode"/>
		<xs:attribute name="WPC271A15160V_2110D_AAA04_FollowUpActionCode"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC271A15170V_2110D_MSG_MessageText">
	<xs:annotation>
		<xs:documentation>Message Text</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC271A151701_2110D_MSG01_FreeFormMessageText"/>
		<xs:attribute name="WPC271A15170K_2110D_MSG02_NotUsed"/>
		<xs:attribute name="WPC271A15170Y_2110D_MSG03_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC271A15171O_2115D">
	<xs:annotation>
		<xs:documentation>Dependent Eligibility or Benefit Additional Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="WPC271A15171N_2115D_III_DependentEligibilityOrBenefitAdditionalInformation" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:element name="WPC271A15171N_2115D_III_DependentEligibilityOrBenefitAdditionalInformation">
	<xs:annotation>
		<xs:documentation>Dependent Eligibility or Benefit Additional Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC271A15171H_2115D_III01_CodeListQualifierCode"/>
		<xs:attribute name="WPC271A15171S_2115D_III02_IndustryCode"/>
		<xs:attribute name="WPC271A151711_2115D_III03_NotUsed"/>
		<xs:attribute name="WPC271A15171A_2115D_III04_NotUsed"/>
		<xs:attribute name="WPC271A15171A_2115D_III05_NotUsed"/>
		<xs:attribute name="WPC271A15171F_2115D_III06_NotUsed"/>
		<xs:attribute name="WPC271A15171L_2115D_III07_NotUsed"/>
		<xs:attribute name="WPC271A151711_2115D_III08_NotUsed"/>
		<xs:attribute name="WPC271A15171V_2115D_III09_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC271A15178Q_2110D_LS_DependentEligibilityOrBenefitInformation">
	<xs:annotation>
		<xs:documentation>Dependent Eligibility or Benefit Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC271A15178B_2110D_LS01_LoopIdentifierCode"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC271A15180H_2120D">
	<xs:annotation>
		<xs:documentation>Dependent Benefit Related Entity Name</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="WPC271A15180Z_2120D_NM1_DependentBenefitRelatedEntityName" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC271A15200Q_2120D_N3_DependentBenefitRelatedEntityAddress" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC271A15210K_2120D_N4_DependentBenefitRelatedEntityCityStateZIPCode" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC271A15220U_2120D_PER_DependentBenefitRelatedEntityContactInformation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC271A15223A_2120D_PRV_DependentBenefitRelatedProviderInformation" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:element name="WPC271A15180Z_2120D_NM1_DependentBenefitRelatedEntityName">
	<xs:annotation>
		<xs:documentation>Dependent Benefit Related Entity Name</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC271A151803_2120D_NM101_EntityIdentifierCode"/>
		<xs:attribute name="WPC271A151803_2120D_NM102_EntityTypeQualifier"/>
		<xs:attribute name="WPC271A15180A_2120D_NM103_BenefitRelatedEntityLastOrOrganizationName"/>
		<xs:attribute name="WPC271A15180N_2120D_NM104_BenefitRelatedEntityFirstName"/>
		<xs:attribute name="WPC271A151802_2120D_NM105_BenefitRelatedEntityMiddleName"/>
		<xs:attribute name="WPC271A15180D_2120D_NM106_NotUsed"/>
		<xs:attribute name="WPC271A15180J_2120D_NM107_BenefitRelatedEntityNameSuffix"/>
		<xs:attribute name="WPC271A15180N_2120D_NM108_IdentificationCodeQualifier"/>
		<xs:attribute name="WPC271A151807_2120D_NM109_BenefitRelatedEntityIdentifier"/>
		<xs:attribute name="WPC271A15180S_2120D_NM110_NotUsed"/>
		<xs:attribute name="WPC271A15180Y_2120D_NM111_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC271A15200Q_2120D_N3_DependentBenefitRelatedEntityAddress">
	<xs:annotation>
		<xs:documentation>Dependent Benefit Related Entity Address</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC271A15200I_2120D_N301_BenefitRelatedEntityAddressLine"/>
		<xs:attribute name="WPC271A15200N_2120D_N302_BenefitRelatedEntityAddressLine"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC271A15210K_2120D_N4_DependentBenefitRelatedEntityCityStateZIPCode">
	<xs:annotation>
		<xs:documentation>Dependent Benefit Related Entity City/State/ZIP Code</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC271A15210W_2120D_N401_BenefitRelatedEntityCityName"/>
		<xs:attribute name="WPC271A15210I_2120D_N402_BenefitRelatedEntityStateCode"/>
		<xs:attribute name="WPC271A15210B_2120D_N403_BenefitRelatedEntityPostalZoneOrZIPCode"/>
		<xs:attribute name="WPC271A15210_2120D_N404_CountryCode"/>
		<xs:attribute name="WPC271A15210H_2120D_N405_LocationQualifier"/>
		<xs:attribute name="WPC271A15210P_2120D_N406_DepartmentOfDefenseHealthServiceRegionCode"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC271A15220U_2120D_PER_DependentBenefitRelatedEntityContactInformation">
	<xs:annotation>
		<xs:documentation>Dependent Benefit Related Entity Contact Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC271A15220M_2120D_PER01_ContactFunctionCode"/>
		<xs:attribute name="WPC271A15220M_2120D_PER02_BenefitRelatedEntityContactName"/>
		<xs:attribute name="WPC271A15220R_2120D_PER03_CommunicationNumberQualifier"/>
		<xs:attribute name="WPC271A15220T_2120D_PER04_BenefitRelatedEntityCommunicationNumber"/>
		<xs:attribute name="WPC271A15220K_2120D_PER05_CommunicationNumberQualifier"/>
		<xs:attribute name="WPC271A15220Z_2120D_PER06_BenefitRelatedEntityCommunicationNumber"/>
		<xs:attribute name="WPC271A15220B_2120D_PER07_CommunicationNumberQualifier"/>
		<xs:attribute name="WPC271A152209_2120D_PER08_BenefitRelatedEntityCommunicationNumber"/>
		<xs:attribute name="WPC271A152206_2120D_PER09_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC271A15223A_2120D_PRV_DependentBenefitRelatedProviderInformation">
	<xs:annotation>
		<xs:documentation>Dependent Benefit Related Provider Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC271A152233_2120D_PRV01_ProviderCode"/>
		<xs:attribute name="WPC271A15223Q_2120D_PRV02_ReferenceIdentificationQualifier"/>
		<xs:attribute name="WPC271A15223O_2120D_PRV03_ProviderIdentifier"/>
		<xs:attribute name="WPC271A15223B_2120D_PRV04_NotUsed"/>
		<xs:attribute name="WPC271A15223Q_2120D_PRV05_NotUsed"/>
		<xs:attribute name="WPC271A15223T_2120D_PRV06_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC271A15225Z_2110D_LE_LoopTrailer">
	<xs:annotation>
		<xs:documentation>Loop Trailer</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC271A15225_2110D_LE01_LoopIdentifierCode"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC_IProc">
	<xs:annotation>
		<xs:documentation>WPC IProc</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="WPC_IProcEvnt" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC_Errors" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="X12_Envelope" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:element name="WPC_IProcEvnt">
	<xs:annotation>
		<xs:documentation>WPC IProcEvent</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="src" use="optional"/>
		<xs:attribute name="type" use="optional"/>
		<xs:attribute name="dt" use="optional"/>
		<xs:attribute name="hsh" use="optional"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC_Errors">
	<xs:annotation>
		<xs:documentation>WPC Error Collection</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="Violation" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:element name="Violation">
	<xs:annotation>
		<xs:documentation>Violation Detail</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="ErrorType" use="required">
			<xs:annotation>
				<xs:documentation>Enumeration of error type</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="FileID">
			<xs:annotation>
				<xs:documentation>Identifier of original submission</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TraceNumber">
			<xs:annotation>
				<xs:documentation>Application layer trace identifier</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ViolationLocation">
			<xs:annotation>
				<xs:documentation>Location of errant data</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ViolationDescription">
			<xs:annotation>
				<xs:documentation>Text description of violation</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="RuleProcessor">
			<xs:annotation>
				<xs:documentation>Rule processor identifier</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="RuleSource">
			<xs:annotation>
				<xs:documentation>Source identifier of violated rule</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="RuleViolationText">
			<xs:annotation>
				<xs:documentation>Text description of rule</xs:documentation>
			</xs:annotation>
		</xs:attribute>			
		<xs:attribute name="BadDataContent">
			<xs:annotation>
				<xs:documentation>Errant data found in violation of indicated rule</xs:documentation>
			</xs:annotation>
		</xs:attribute>			
	</xs:complexType>
</xs:element>
<xs:element name="X12_Envelope">
	<xs:annotation>
		<xs:documentation>X12 Envelope</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="ISA_InterchangeControlHeader" minOccurs="0"/>
			<xs:element ref="GS_FunctionalGroupHeader" minOccurs="0"/>
			<xs:element ref="ST_TransactionSetHeader" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:element name="ST_TransactionSetHeader">
	<xs:annotation>
		<xs:documentation>Transaction Set Header</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="ST01__TransactionSetIdentifierCode" use="optional"/>
		<xs:attribute name="ST02__TransactionSetControlNumber" use="optional"/>
	</xs:complexType>
</xs:element>
<xs:element name="GS_FunctionalGroupHeader">
	<xs:annotation>
		<xs:documentation>Functional Group Header</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="GS01__FunctionalIdentifierCode" use="optional"/>
		<xs:attribute name="GS02__ApplicationSendersCode" use="optional"/>
		<xs:attribute name="GS03__ApplicationReceiversCode" use="optional"/>
		<xs:attribute name="GS04__Date" use="optional"/>
		<xs:attribute name="GS05__Time" use="optional"/>
		<xs:attribute name="GS06__GroupControlNumber" use="optional"/>
		<xs:attribute name="GS07__ResponsibleAgencyCode" use="optional"/>
		<xs:attribute name="GS08__VersionReleaseIndustryIdentifierCode" use="optional"/>
	</xs:complexType>
</xs:element>
<xs:element name="ISA_InterchangeControlHeader">
	<xs:annotation>
		<xs:documentation>Interchange Control Header</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="ISA01__AuthorizationInformationQualifier" use="optional"/>
		<xs:attribute name="ISA02__AuthorizationInformation" use="optional"/>
		<xs:attribute name="ISA03__SecurityInformationQualifier" use="optional"/>
		<xs:attribute name="ISA04__SecurityInformation" use="optional"/>
		<xs:attribute name="ISA05__InterchangeIDQualifier" use="optional"/>
		<xs:attribute name="ISA06__InterchangeSenderID" use="optional"/>
		<xs:attribute name="ISA07__InterchangeIDQualifier" use="optional"/>
		<xs:attribute name="ISA08__InterchangeReceiverID" use="optional"/>
		<xs:attribute name="ISA09__InterchangeDate" use="optional"/>
		<xs:attribute name="ISA10__InterchangeTime" use="optional"/>
		<xs:attribute name="ISA11__InterchangeControlStandardsIdentifier" use="optional"/>
		<xs:attribute name="ISA12__InterchangeControlVersionNumber" use="optional"/>
		<xs:attribute name="ISA13__InterchangeControlNumber" use="optional"/>
		<xs:attribute name="ISA14__AcknowledgmentRequested" use="optional"/>
		<xs:attribute name="ISA15__UsageIndicator" use="optional"/>
		<xs:attribute name="ISA16__ComponentElementSeparator" use="optional"/>
	</xs:complexType>
</xs:element>
</xs:schema>


