src/main/resources/x12/275_A2.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- (c)Copyright 2004 Washington Publishing Company (http://www.wpc-edi.com) -->
<xs:schema version="1.0"  xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wpc="http://schemas.wpc-edi.com/X12/ISOMORPH/HIPAA/4050" targetNamespace="http://schemas.wpc-edi.com/X12/ISOMORPH/HIPAA/4050/WPC275A2" xmlns="http://schemas.wpc-edi.com/X12/ISOMORPH/HIPAA/4050/WPC275A2" >
<xs:annotation>
	<xs:documentation xml:lang="en"> 
		HIPAA Schema WPC275A2 - Washington Publishing Company (http://www.wpc-edi.com)
		Copyright (C) 2004 Washington Publishing Company
		This program is free software; you can redistribute it and/or
		modify it under the terms of the GNU General Public License
		as published by the Free Software Foundation; Version 2.
		This program is distributed in the hope that it will be useful,
		but WITHOUT ANY WARRANTY; without even the implied warranty of
		MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
		GNU General Public License for more details.
	</xs:documentation>
</xs:annotation>
<xs:element name="WPC275A2">
	<xs:annotation>
		<xs:documentation></xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="WPC_IProc" minOccurs="0" maxOccurs="1" />
			<xs:element ref="WPC275A2102000__BGN_BeginningSegment" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC275A210500A_1000A" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC275A2115004_1000B" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC275A212000T_1000C" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC275A212500R_1000D" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC275A220100E_2000A" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:element name="WPC275A2102000__BGN_BeginningSegment">
	<xs:annotation>
		<xs:documentation>Beginning Segment</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC275A210200G__BGN01_TransactionSetPurposeCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC275A210200Q__BGN02_TransactionSetIdentifierCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC275A210200Y__BGN03_TransactionSetCreationDate">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:element>
<xs:element name="WPC275A210500A_1000A">
	<xs:annotation>
		<xs:documentation>Transaction Receiver</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="WPC275A210500Q_1000A_NM1_TransactionReceiver" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC275A210900Y_1000A_PER_ResponseContact" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:element name="WPC275A210500Q_1000A_NM1_TransactionReceiver">
	<xs:annotation>
		<xs:documentation>Transaction Receiver</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC275A210500S_1000A_NM101_EntityIdentifierCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC275A210500Y_1000A_NM102_EntityTypeQualifier">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC275A210500C_1000A_NM103_ReceiverName">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC275A210500U_1000A_NM108_IdentificationCodeQualifier">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC275A210500K_1000A_NM109_ReceiverIdentifier">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:element>
<xs:element name="WPC275A210900Y_1000A_PER_ResponseContact">
	<xs:annotation>
		<xs:documentation>Response Contact</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC275A2109008_1000A_PER01_ContactFunctionCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC275A210900C_1000A_PER02_InformationReceiverContactName">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC275A210900F_1000A_PER03_CommunicationNumberQualifier">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC275A210900E_1000A_PER04_CommunicationNumber">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC275A210900L_1000A_PER05_CommunicationNumberQualifier">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC275A210900S_1000A_PER06_CommunicationNumber">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC275A210900R_1000A_PER07_CommunicationNumberQualifier">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC275A210900O_1000A_PER08_CommunicationNumber">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:element>
<xs:element name="WPC275A2115004_1000B">
	<xs:annotation>
		<xs:documentation>Submitter Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="WPC275A211500I_1000B_NM1_SubmitterInformation" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:element name="WPC275A211500I_1000B_NM1_SubmitterInformation">
	<xs:annotation>
		<xs:documentation>Submitter Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC275A211500U_1000B_NM101_EntityIdentifierCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC275A211500C_1000B_NM102_EntityTypeQualifier">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC275A211500Z_1000B_NM103_ReceiverName">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC275A211500V_1000B_NM104_SubmitterFirstName">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC275A211500I_1000B_NM105_SubmitterMiddleName">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC275A211500U_1000B_NM108_IdentificationCodeQualifier">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC275A2115001_1000B_NM109_ReceiverIdentifier">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:element>
<xs:element name="WPC275A212000T_1000C">
	<xs:annotation>
		<xs:documentation>Service Provider Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="WPC275A2120004_1000C_NM1_ServiceProviderInformation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC275A2121009_1000C_REF_ProviderSecondaryIdentification" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:element name="WPC275A2120004_1000C_NM1_ServiceProviderInformation">
	<xs:annotation>
		<xs:documentation>Service Provider Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC275A2120005_1000C_NM101_EntityIdentifierCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC275A212000C_1000C_NM102_EntityTypeQualifier">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC275A212000K_1000C_NM103_SubmitterLastOrOrganizationName">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC275A2120003_1000C_NM104_SubmitterFirstName">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC275A212000F_1000C_NM105_SubmitterMiddleName">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC275A212000_1000C_NM107_ProviderNameSuffix">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC275A212000T_1000C_NM108_IdentificationCodeQualifier">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC275A212000A_1000C_NM109_SubmitterIdentifier">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:element>
<xs:element name="WPC275A2121009_1000C_REF_ProviderSecondaryIdentification">
	<xs:annotation>
		<xs:documentation>Provider Secondary Identification</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC275A212100L_1000C_REF01_ReferenceIdentificationQualifier">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC275A212100Y_1000C_REF02_ReferenceIdentification">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:element>
<xs:element name="WPC275A212500R_1000D">
	<xs:annotation>
		<xs:documentation>Patient Name</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="WPC275A212500S_1000D_NM1_PatientName" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC275A213000F_1000D_REF_PatientAccountNumber" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC275A213020P_1000D_REF_InstitutionalTypeOfBill" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC275A213030Q_1000D_REF_MedicalRecordNumber" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC275A2130356_1000D_REF_ClaimIdentificationNumberForClearingHousesAndOtherTransmissionIntermediaries" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC275A213050F_1000D_DTP_InstitutionalClaimServiceDate" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:element name="WPC275A212500S_1000D_NM1_PatientName">
	<xs:annotation>
		<xs:documentation>Patient Name</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC275A212500V_1000D_NM101_EntityIdentifierCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC275A212500_1000D_NM102_EntityTypeQualifier">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC275A212500L_1000D_NM103_PatientLastName">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC275A212500_1000D_NM104_PatientFirstName">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC275A212500W_1000D_NM105_PatientMiddleName">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC275A212500A_1000D_NM107_PatientNameSuffix">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC275A212500L_1000D_NM108_IdentificationCodeQualifier">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC275A212500Y_1000D_NM109_PatientIdentifier">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:element>
<xs:element name="WPC275A213000F_1000D_REF_PatientAccountNumber">
	<xs:annotation>
		<xs:documentation>Patient Account Number</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC275A2130007_1000D_REF01_ReferenceIdentificationQualifier">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC275A213000Y_1000D_REF02_PatientAccountNumber">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:element>
<xs:element name="WPC275A213020P_1000D_REF_InstitutionalTypeOfBill">
	<xs:annotation>
		<xs:documentation>Institutional Type of Bill</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC275A213020L_1000D_REF01_ReferenceIdentificationQualifier">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC275A213020S_1000D_REF02_BillTypeIdentifier">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:element>
<xs:element name="WPC275A213030Q_1000D_REF_MedicalRecordNumber">
	<xs:annotation>
		<xs:documentation>Medical Record Number</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC275A213030Y_1000D_REF01_ReferenceIdentificationQualifier">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC275A213030D_1000D_REF02_MedicalRecordNumber">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:element>
<xs:element name="WPC275A2130356_1000D_REF_ClaimIdentificationNumberForClearingHousesAndOtherTransmissionIntermediaries">
	<xs:annotation>
		<xs:documentation>Claim Identification Number for Clearing Houses and Other Transmission Intermediaries</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC275A213035X_1000D_REF01_ReferenceIdentificationQualifier">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC275A213035B_1000D_REF02_ClearinghouseTraceNumber">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:element>
<xs:element name="WPC275A213050F_1000D_DTP_InstitutionalClaimServiceDate">
	<xs:annotation>
		<xs:documentation>Institutional Claim Service Date</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC275A213050M_1000D_DTP01_DateTimeQualifier">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC275A213050X_1000D_DTP02_DateTimePeriodFormatQualifier">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC275A213050F_1000D_DTP03_ClaimDate">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:element>
<xs:element name="WPC275A220100E_2000A">
	<xs:annotation>
		<xs:documentation>Assigned Number</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="WPC275A220100Y_2000A_LX_AssignedNumber" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC275A220150E_2000A_TRN_PayerSControlNumberProviderSControlNumber" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC275A220175F_2000A_STC_StatusInformation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC275A220500E_2000A_REF_ServiceLineItemIdentification" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC275A2205502_2000A_REF_ProcedureOrRevenueCode" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC275A220570F_2100A" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC275A220600U_2100B" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:element name="WPC275A220100Y_2000A_LX_AssignedNumber">
	<xs:annotation>
		<xs:documentation>Assigned Number</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC275A220100E_2000A_LX01_AssignedNumber">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:element>
<xs:element name="WPC275A220150E_2000A_TRN_PayerSControlNumberProviderSControlNumber">
	<xs:annotation>
		<xs:documentation>Payer's Control Number/Provider's Control Number</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC275A220150T_2000A_TRN01_TraceTypeCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC275A220150J_2000A_TRN02_AttachmentControlNumber">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:element>
<xs:element name="WPC275A220175F_2000A_STC_StatusInformation">
	<xs:annotation>
		<xs:documentation>Status Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="WPC275A220175F_2000A_STC01_HealthCareClaimStatus" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC275A220175V_2000A_STC10_HealthCareClaimStatus" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC275A220175G_2000A_STC11_HealthCareClaimStatus" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:element name="WPC275A220175F_2000A_STC01_HealthCareClaimStatus">
	<xs:annotation>
		<xs:documentation>Health Care Claim Status</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC275A220175Y_2000A_STC0101_HealthCareClaimStatusCategoryCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC275A2201753_2000A_STC0102_AdditionalInformationRequestCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC275A220175A_2000A_STC0104_CodeListQualifierCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:element>
<xs:element name="WPC275A220175V_2000A_STC10_HealthCareClaimStatus">
	<xs:annotation>
		<xs:documentation>Health Care Claim Status</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC275A220175A_2000A_STC1001_HealthCareClaimStatusCategoryCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC275A220175_2000A_STC1002_IndustryCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC275A220175E_2000A_STC1004_CodeListQualifierCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:element>
<xs:element name="WPC275A220175G_2000A_STC11_HealthCareClaimStatus">
	<xs:annotation>
		<xs:documentation>Health Care Claim Status</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC275A220175G_2000A_STC1101_HealthCareClaimStatusCategoryCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC275A2201757_2000A_STC1102_IndustryCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC275A220175S_2000A_STC1104_CodeListQualifierCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:element>
<xs:element name="WPC275A220500E_2000A_REF_ServiceLineItemIdentification">
	<xs:annotation>
		<xs:documentation>Service Line Item Identification</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC275A220500K_2000A_REF01_ReferenceIdentificationQualifier">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC275A220500J_2000A_REF02_ProcedureOrRevenueCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:element>
<xs:element name="WPC275A2205502_2000A_REF_ProcedureOrRevenueCode">
	<xs:annotation>
		<xs:documentation>Procedure or Revenue Code</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="WPC275A220550V_2000A_REF04_ReferenceIdentifier" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="WPC275A220550A_2000A_REF01_ReferenceIdentificationQualifier">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC275A220550D_2000A_REF02_LineItemControlNumber">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:element>
<xs:element name="WPC275A220550V_2000A_REF04_ReferenceIdentifier">
	<xs:annotation>
		<xs:documentation>Reference Identifier</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC275A2205508_2000A_REF0401_ReferenceIdentificationQualifier">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC275A220550N_2000A_REF0402_RevenueCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:element>
<xs:element name="WPC275A220570F_2100A">
	<xs:annotation>
		<xs:documentation>Service Line Date of Service</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="WPC275A220570X_2100A_DTP_ServiceLineDateOfService" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:element name="WPC275A220570X_2100A_DTP_ServiceLineDateOfService">
	<xs:annotation>
		<xs:documentation>Service Line Date of Service</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC275A220570T_2100A_DTP01_DateTimeQualifier">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC275A220570Y_2100A_DTP02_DateTimePeriodFormatQualifier">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC275A220570C_2100A_DTP03_ProfessionalServiceDate">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:element>
<xs:element name="WPC275A220600U_2100B">
	<xs:annotation>
		<xs:documentation>Date Additional Information Was Submitted</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="WPC275A220600D_2100B_DTP_DateAdditionalInformationWasSubmitted" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC275A220700N_2100B_CAT_CategoryOfPatientInformationService" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC275A2209004_2110B" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:element name="WPC275A220600D_2100B_DTP_DateAdditionalInformationWasSubmitted">
	<xs:annotation>
		<xs:documentation>Date Additional Information Was Submitted</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC275A220600L_2100B_DTP01_DateTimeQualifier">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC275A2206009_2100B_DTP02_DateTimePeriodFormatQualifier">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC275A220600_2100B_DTP03_AdditionalInformationGatheredDate">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:element>
<xs:element name="WPC275A220700N_2100B_CAT_CategoryOfPatientInformationService">
	<xs:annotation>
		<xs:documentation>Category of Patient Information Service</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC275A220700M_2100B_CAT01_AttachmentReportTypeCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC275A220700Y_2100B_CAT02_ReportTransmissionCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC275A220700O_2100B_CAT03_VersionIdentificationCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:element>
<xs:element name="WPC275A2209004_2110B">
	<xs:annotation>
		<xs:documentation>Electronic Format Identification</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="WPC275A220900I_2110B_EFI_ElectronicFormatIdentification" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC275A221000M_2110B_BIN_BinaryDataSegment" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:element name="WPC275A220900I_2110B_EFI_ElectronicFormatIdentification">
	<xs:annotation>
		<xs:documentation>Electronic Format Identification</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC275A220900Y_2110B_EFI01_SecurityLevelCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:element>
<xs:element name="WPC275A221000M_2110B_BIN_BinaryDataSegment">
	<xs:annotation>
		<xs:documentation>Binary Data Segment</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC275A221000F_2110B_BIN01_BinaryDataLengthNumber">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC275A221000X_2110B_BIN02_BinaryData">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:element>
<xs:element name="WPC_IProc">
	<xs:annotation>
		<xs:documentation>WPC IProc</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="WPC_IProcEvnt" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC_Errors" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="X12_Envelope" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:element name="WPC_IProcEvnt">
	<xs:annotation>
		<xs:documentation>WPC IProcEvent</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="src" use="optional"/>
		<xs:attribute name="type" use="optional"/>
		<xs:attribute name="dt" use="optional"/>
		<xs:attribute name="hsh" use="optional"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC_Errors">
	<xs:annotation>
		<xs:documentation>WPC Error Collection</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="Violation" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:element name="Violation">
	<xs:annotation>
		<xs:documentation>Violation Detail</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="ErrorType" use="required">
			<xs:annotation>
				<xs:documentation>Enumeration of error type</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="FileID">
			<xs:annotation>
				<xs:documentation>Identifier of original submission</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TraceNumber">
			<xs:annotation>
				<xs:documentation>Application layer trace identifier</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ViolationLocation">
			<xs:annotation>
				<xs:documentation>Location of errant data</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ViolationDescription">
			<xs:annotation>
				<xs:documentation>Text description of violation</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="RuleProcessor">
			<xs:annotation>
				<xs:documentation>Rule processor identifier</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="RuleSource">
			<xs:annotation>
				<xs:documentation>Source identifier of violated rule</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="RuleViolationText">
			<xs:annotation>
				<xs:documentation>Text description of rule</xs:documentation>
			</xs:annotation>
		</xs:attribute>			
		<xs:attribute name="BadDataContent">
			<xs:annotation>
				<xs:documentation>Errant data found in violation of indicated rule</xs:documentation>
			</xs:annotation>
		</xs:attribute>			
	</xs:complexType>
</xs:element>
<xs:element name="X12_Envelope">
	<xs:annotation>
		<xs:documentation>X12 Envelope</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="ISA_InterchangeControlHeader" minOccurs="0"/>
			<xs:element ref="GS_FunctionalGroupHeader" minOccurs="0"/>
			<xs:element ref="ST_TransactionSetHeader" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:element name="ST_TransactionSetHeader">
	<xs:annotation>
		<xs:documentation>Transaction Set Header</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="ST01__TransactionSetIdentifierCode" use="optional"/>
		<xs:attribute name="ST02__TransactionSetControlNumber" use="optional"/>
	</xs:complexType>
</xs:element>
<xs:element name="GS_FunctionalGroupHeader">
	<xs:annotation>
		<xs:documentation>Functional Group Header</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="GS01__FunctionalIdentifierCode" use="optional"/>
		<xs:attribute name="GS02__ApplicationSendersCode" use="optional"/>
		<xs:attribute name="GS03__ApplicationReceiversCode" use="optional"/>
		<xs:attribute name="GS04__Date" use="optional"/>
		<xs:attribute name="GS05__Time" use="optional"/>
		<xs:attribute name="GS06__GroupControlNumber" use="optional"/>
		<xs:attribute name="GS07__ResponsibleAgencyCode" use="optional"/>
		<xs:attribute name="GS08__VersionReleaseIndustryIdentifierCode" use="optional"/>
	</xs:complexType>
</xs:element>
<xs:element name="ISA_InterchangeControlHeader">
	<xs:annotation>
		<xs:documentation>Interchange Control Header</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="ISA01__AuthorizationInformationQualifier" use="optional"/>
		<xs:attribute name="ISA02__AuthorizationInformation" use="optional"/>
		<xs:attribute name="ISA03__SecurityInformationQualifier" use="optional"/>
		<xs:attribute name="ISA04__SecurityInformation" use="optional"/>
		<xs:attribute name="ISA05__InterchangeIDQualifier" use="optional"/>
		<xs:attribute name="ISA06__InterchangeSenderID" use="optional"/>
		<xs:attribute name="ISA07__InterchangeIDQualifier" use="optional"/>
		<xs:attribute name="ISA08__InterchangeReceiverID" use="optional"/>
		<xs:attribute name="ISA09__InterchangeDate" use="optional"/>
		<xs:attribute name="ISA10__InterchangeTime" use="optional"/>
		<xs:attribute name="ISA11__InterchangeControlStandardsIdentifier" use="optional"/>
		<xs:attribute name="ISA12__InterchangeControlVersionNumber" use="optional"/>
		<xs:attribute name="ISA13__InterchangeControlNumber" use="optional"/>
		<xs:attribute name="ISA14__AcknowledgmentRequested" use="optional"/>
		<xs:attribute name="ISA15__UsageIndicator" use="optional"/>
		<xs:attribute name="ISA16__ComponentElementSeparator" use="optional"/>
	</xs:complexType>
</xs:element>
</xs:schema>


