src/main/resources/x12/277_A3.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- (c)Copyright 2005 Washington Publishing Company (http://www.wpc-edi.com) -->
<xs:schema version="1.0"  xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wpc="http://schemas.wpc-edi.com/X12/ISOMORPH/HIPAA/4050" targetNamespace="http://schemas.wpc-edi.com/X12/ISOMORPH/HIPAA/4050/WPC277A3" xmlns="http://schemas.wpc-edi.com/X12/ISOMORPH/HIPAA/4050/WPC277A3" >
<xs:annotation>
	<xs:documentation xml:lang="en"> 
		HIPAA Schema WPC277A3 - Washington Publishing Company (http://www.wpc-edi.com)
		Copyright (C) 2005 Washington Publishing Company
		This program is free software; you can redistribute it and/or
		modify it under the terms of the GNU General Public License
		as published by the Free Software Foundation; Version 2.
		This program is distributed in the hope that it will be useful,
		but WITHOUT ANY WARRANTY; without even the implied warranty of
		MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
		GNU General Public License for more details.
	</xs:documentation>
</xs:annotation>
<xs:element name="WPC277A3">
	<xs:annotation>
		<xs:documentation>277: Request for Additional Information to Support a Health Care Claim</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="WPC_IProc" minOccurs="0" maxOccurs="1" />
			<xs:element ref="WPC277A3102000__BHT_BeginningOfHierarchicalTransaction" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC277A3201008_2000A" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:element name="WPC277A3102000__BHT_BeginningOfHierarchicalTransaction">
	<xs:annotation>
		<xs:documentation>Beginning of Hierarchical Transaction</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC277A310200G__BHT01_HierarchicalStructureCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A310200Q__BHT02_TransactionSetPurposeCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A310200Y__BHT03_OriginatorApplicationTransactionIdentifier">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A310200P__BHT04_TransactionSetCreationDate">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A310200M__BHT05_TransactionSetCreationTime">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A310200S__BHT06_TransactionTypeCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:element>
<xs:element name="WPC277A3201008_2000A">
	<xs:annotation>
		<xs:documentation>Information Source Level</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="WPC277A320100G_2000A_HL_InformationSourceLevel" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC277A320500Y_2100A" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC277A330100C_2000B" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:element name="WPC277A320100G_2000A_HL_InformationSourceLevel">
	<xs:annotation>
		<xs:documentation>Information Source Level</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC277A320100R_2000A_HL01_HierarchicalIDNumber">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A320100Q_2000A_HL03_HierarchicalLevelCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A320100S_2000A_HL04_HierarchicalChildCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:element>
<xs:element name="WPC277A320500Y_2100A">
	<xs:annotation>
		<xs:documentation>Payer Name</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="WPC277A320500C_2100A_NM1_PayerName" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC277A320800F_2100A_PER_PayerContactInformation" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:element name="WPC277A320500C_2100A_NM1_PayerName">
	<xs:annotation>
		<xs:documentation>Payer Name</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC277A3205005_2100A_NM101_EntityIdentifierCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A320500O_2100A_NM102_EntityTypeQualifier">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A320500Y_2100A_NM103_PayerName">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A320500F_2100A_NM108_IdentificationCodeQualifier">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A320500V_2100A_NM109_PayerIdentifier">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:element>
<xs:element name="WPC277A320800F_2100A_PER_PayerContactInformation">
	<xs:annotation>
		<xs:documentation>Payer Contact Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC277A320800E_2100A_PER01_ContactFunctionCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A320800L_2100A_PER02_PayerContactName">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A320800S_2100A_PER03_CommunicationNumberQualifier">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A320800R_2100A_PER04_PayerContactCommunicationNumber">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A320800O_2100A_PER05_CommunicationNumberQualifier">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A320800Z_2100A_PER06_PayerContactCommunicationNumber">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A3208004_2100A_PER07_CommunicationNumberQualifier">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A320800I_2100A_PER08_PayerContactCommunicationNumber">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:element>
<xs:element name="WPC277A330100C_2000B">
	<xs:annotation>
		<xs:documentation>Information Receiver Level</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="WPC277A330100Z_2000B_HL_InformationReceiverLevel" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC277A330500U_2100B" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC277A340100T_2000C" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:element name="WPC277A330100Z_2000B_HL_InformationReceiverLevel">
	<xs:annotation>
		<xs:documentation>Information Receiver Level</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC277A330100V_2000B_HL01_HierarchicalIDNumber">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A330100I_2000B_HL02_HierarchicalParentIDNumber">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A330100P_2000B_HL03_HierarchicalLevelCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A3301007_2000B_HL04_HierarchicalChildCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:element>
<xs:element name="WPC277A330500U_2100B">
	<xs:annotation>
		<xs:documentation>Information Receiver Name</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="WPC277A3305001_2100B_NM1_InformationReceiverName" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:element name="WPC277A3305001_2100B_NM1_InformationReceiverName">
	<xs:annotation>
		<xs:documentation>Information Receiver Name</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC277A330500_2100B_NM101_EntityIdentifierCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A330500S_2100B_NM102_EntityTypeQualifier">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A330500W_2100B_NM103_InformationReceiverLastOrOrganizationName">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A330500T_2100B_NM104_InformationReceiverFirstName">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A3305004_2100B_NM105_InformationReceiverMiddleName">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A330500K_2100B_NM108_IdentificationCodeQualifier">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A3305003_2100B_NM109_InformationReceiverIdentificationNumber">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:element>
<xs:element name="WPC277A340100T_2000C">
	<xs:annotation>
		<xs:documentation>Service Provider Level</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="WPC277A340100A_2000C_HL_ServiceProviderLevel" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC277A340500L_2100C" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC277A350100Y_2000D" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:element name="WPC277A340100A_2000C_HL_ServiceProviderLevel">
	<xs:annotation>
		<xs:documentation>Service Provider Level</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC277A3401009_2000C_HL01_HierarchicalIDNumber">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A340100O_2000C_HL02_HierarchicalParentIDNumber">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A340100_2000C_HL03_HierarchicalLevelCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A3401009_2000C_HL04_HierarchicalChildCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:element>
<xs:element name="WPC277A340500L_2100C">
	<xs:annotation>
		<xs:documentation>Service Provider Name</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="WPC277A340500Y_2100C_NM1_ServiceProviderName" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:element name="WPC277A340500Y_2100C_NM1_ServiceProviderName">
	<xs:annotation>
		<xs:documentation>Service Provider Name</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC277A340500B_2100C_NM101_EntityIdentifierCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A340500D_2100C_NM102_EntityTypeQualifier">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A340500R_2100C_NM103_ProviderLastOrOrganizationName">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A340500S_2100C_NM104_ProviderFirstName">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A340500V_2100C_NM105_ProviderMiddleName">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A340500L_2100C_NM107_ProviderNameSuffix">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A340500_2100C_NM108_IdentificationCodeQualifier">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A340500W_2100C_NM109_ProviderIdentifier">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:element>
<xs:element name="WPC277A350100Y_2000D">
	<xs:annotation>
		<xs:documentation>Subscriber Level</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="WPC277A350100I_2000D_HL_SubscriberLevel" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC277A350500Y_2100D" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC277A350900X_2200D" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC277A3601003_2000E" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:element name="WPC277A350100I_2000D_HL_SubscriberLevel">
	<xs:annotation>
		<xs:documentation>Subscriber Level</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC277A350100T_2000D_HL01_HierarchicalIDNumber">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A350100Y_2000D_HL02_HierarchicalParentIDNumber">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A350100F_2000D_HL03_HierarchicalLevelCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A3501007_2000D_HL04_HierarchicalChildCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:element>
<xs:element name="WPC277A350500Y_2100D">
	<xs:annotation>
		<xs:documentation>Subscriber Name</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="WPC277A350500C_2100D_NM1_SubscriberName" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:element name="WPC277A350500C_2100D_NM1_SubscriberName">
	<xs:annotation>
		<xs:documentation>Subscriber Name</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC277A3505009_2100D_NM101_EntityIdentifierCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A350500P_2100D_NM102_EntityTypeQualifier">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A350500L_2100D_NM103_SubscriberLastName">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A350500S_2100D_NM104_SubscriberFirstName">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A3505005_2100D_NM105_SubscriberMiddleName">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A350500Q_2100D_NM107_SubscriberNameSuffix">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A350500Y_2100D_NM108_IdentificationCodeQualifier">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A350500D_2100D_NM109_SubscriberIdentifier">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:element>
<xs:element name="WPC277A350900X_2200D">
	<xs:annotation>
		<xs:documentation>Payer Claim Identification Number</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="WPC277A350900B_2200D_TRN_PayerClaimIdentificationNumber" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC277A351000X_2200D_STC_ClaimLevelStatusInformation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC277A351100A_2200D_REF_PatientAccountNumber" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC277A351120G_2200D_REF_InstitutionalBillTypeIdentification" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC277A351140E_2200D_REF_MedicalRecordIdentification" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC277A3511452_2200D_REF_ClaimIdentificationNumberForClearinghousesAndOtherTransmissionIntermediaries" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC277A3512008_2200D_DTP_ClaimServiceDate" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC277A351210Y_2200D_DTP_ResponseDueDate" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC277A351300T_2210D" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC277A351800O_2220D" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:element name="WPC277A350900B_2200D_TRN_PayerClaimIdentificationNumber">
	<xs:annotation>
		<xs:documentation>Payer Claim Identification Number</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC277A350900A_2200D_TRN01_TraceTypeCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A3509004_2200D_TRN02_PayerClaimControlNumber">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:element>
<xs:element name="WPC277A351000X_2200D_STC_ClaimLevelStatusInformation">
	<xs:annotation>
		<xs:documentation>Claim Level Status Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="WPC277A351000F_2200D_STC01_HealthCareClaimStatus" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC277A3510005_2200D_STC10_HealthCareClaimStatus" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC277A351000_2200D_STC11_HealthCareClaimStatus" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="WPC277A351000T_2200D_STC02_StatusInformationEffectiveDate">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:element>
<xs:element name="WPC277A351000F_2200D_STC01_HealthCareClaimStatus">
	<xs:annotation>
		<xs:documentation>Health Care Claim Status</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC277A351000E_2200D_STC0101_IndustryCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A351000Y_2200D_STC0102_IndustryCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A351000E_2200D_STC0104_CodeListQualifierCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:element>
<xs:element name="WPC277A3510005_2200D_STC10_HealthCareClaimStatus">
	<xs:annotation>
		<xs:documentation>Health Care Claim Status</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC277A351000A_2200D_STC1001_IndustryCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A351000S_2200D_STC1002_IndustryCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A351000Y_2200D_STC1004_CodeListQualifierCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:element>
<xs:element name="WPC277A351000_2200D_STC11_HealthCareClaimStatus">
	<xs:annotation>
		<xs:documentation>Health Care Claim Status</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC277A351000A_2200D_STC1101_IndustryCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A3510002_2200D_STC1102_IndustryCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A351000Y_2200D_STC1104_CodeListQualifierCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:element>
<xs:element name="WPC277A351100A_2200D_REF_PatientAccountNumber">
	<xs:annotation>
		<xs:documentation>Patient Account Number</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC277A351100_2200D_REF01_ReferenceIdentificationQualifier">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A351100T_2200D_REF02_PatientAccountNumber">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:element>
<xs:element name="WPC277A351120G_2200D_REF_InstitutionalBillTypeIdentification">
	<xs:annotation>
		<xs:documentation>Institutional Bill Type Identification</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC277A3511207_2200D_REF01_ReferenceIdentificationQualifier">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A351120Q_2200D_REF02_BillTypeIdentifier">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:element>
<xs:element name="WPC277A351140E_2200D_REF_MedicalRecordIdentification">
	<xs:annotation>
		<xs:documentation>Medical Record Identification</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC277A351140K_2200D_REF01_ReferenceIdentificationQualifier">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A351140J_2200D_REF02_MedicalRecordNumber">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:element>
<xs:element name="WPC277A3511452_2200D_REF_ClaimIdentificationNumberForClearinghousesAndOtherTransmissionIntermediaries">
	<xs:annotation>
		<xs:documentation>Claim Identification Number For Clearinghouses and Other Transmission Intermediaries</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC277A351145A_2200D_REF01_ReferenceIdentificationQualifier">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A351145D_2200D_REF02_ClearinghouseTraceNumber">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:element>
<xs:element name="WPC277A3512008_2200D_DTP_ClaimServiceDate">
	<xs:annotation>
		<xs:documentation>Claim Service Date</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC277A351200N_2200D_DTP01_DateTimeQualifier">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A351200X_2200D_DTP02_DateTimePeriodFormatQualifier">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A351200B_2200D_DTP03_ClaimServicePeriod">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:element>
<xs:element name="WPC277A351210Y_2200D_DTP_ResponseDueDate">
	<xs:annotation>
		<xs:documentation>Response Due Date</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC277A351210C_2200D_DTP01_DateTimeQualifier">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A351210F_2200D_DTP02_DateTimePeriodFormatQualifier">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A351210X_2200D_DTP03_DateTimePeriod">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:element>
<xs:element name="WPC277A351300T_2210D">
	<xs:annotation>
		<xs:documentation>Claim Supplemental Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="WPC277A351300Y_2210D_PWK_ClaimSupplementalInformation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC277A351400O_2210D_PER_PayerContactInformation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC277A351500O_2210D_N1_ResponseContactIdentification" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC277A351600H_2210D_N3_ResponseContactAddress" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC277A351700F_2210D_N4_ResponseContactCityStateZIPCode" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:element name="WPC277A351300Y_2210D_PWK_ClaimSupplementalInformation">
	<xs:annotation>
		<xs:documentation>Claim Supplemental Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC277A351300C_2210D_PWK01_ReportTransmissionCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:element>
<xs:element name="WPC277A351400O_2210D_PER_PayerContactInformation">
	<xs:annotation>
		<xs:documentation>Payer Contact Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC277A3514007_2210D_PER01_ContactFunctionCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A3514007_2210D_PER02_PayerContactName">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A351400B_2210D_PER03_CommunicationNumberQualifier">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A351400Z_2210D_PER04_PayerContactCommunicationNumber">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A3514004_2210D_PER05_CommunicationNumberQualifier">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A351400I_2210D_PER06_PayerContactCommunicationNumber">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A351400Y_2210D_PER07_CommunicationNumberQualifier">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A351400L_2210D_PER08_PayerContactCommunicationNumber">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:element>
<xs:element name="WPC277A351500O_2210D_N1_ResponseContactIdentification">
	<xs:annotation>
		<xs:documentation>Response Contact Identification</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC277A351500_2210D_N101_EntityIdentifierCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A351500C_2210D_N102_Name">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:element>
<xs:element name="WPC277A351600H_2210D_N3_ResponseContactAddress">
	<xs:annotation>
		<xs:documentation>Response Contact Address</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC277A3516003_2210D_N301_AddressInformation">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A351600S_2210D_N302_AddressInformation">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:element>
<xs:element name="WPC277A351700F_2210D_N4_ResponseContactCityStateZIPCode">
	<xs:annotation>
		<xs:documentation>Response Contact City/State/ZIP Code</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC277A351700D_2210D_N401_CityName">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A351700P_2210D_N402_StateOrProvinceCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A351700M_2210D_N403_PostalCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A351700X_2210D_N405_LocationQualifier">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A3517006_2210D_N406_LocationIdentifier">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:element>
<xs:element name="WPC277A351800O_2220D">
	<xs:annotation>
		<xs:documentation>Service Line Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="WPC277A351800T_2220D_SVC_ServiceLineInformation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC277A351900N_2220D_STC_ServiceLineStatusInformation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC277A352000O_2220D_REF_ServiceLineItemIdentification" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC277A352100_2220D_DTP_ServiceLineDate" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:element name="WPC277A351800T_2220D_SVC_ServiceLineInformation">
	<xs:annotation>
		<xs:documentation>Service Line Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="WPC277A351800U_2220D_SVC01_CompositeMedicalProcedureIdentifier" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="WPC277A351800J_2220D_SVC02_LineItemChargeAmount">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A351800H_2220D_SVC04_RevenueCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:element>
<xs:element name="WPC277A351800U_2220D_SVC01_CompositeMedicalProcedureIdentifier">
	<xs:annotation>
		<xs:documentation>Composite Medical Procedure Identifier</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC277A351800O_2220D_SVC0101_ProductOrServiceIDQualifier">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A351800W_2220D_SVC0102_ServiceIdentificationCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A351800P_2220D_SVC0103_ProcedureModifier">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A3518002_2220D_SVC0104_ProcedureModifier">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A351800_2220D_SVC0105_ProcedureModifier">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A351800Z_2220D_SVC0106_ProcedureModifier">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:element>
<xs:element name="WPC277A351900N_2220D_STC_ServiceLineStatusInformation">
	<xs:annotation>
		<xs:documentation>Service Line Status Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="WPC277A351900M_2220D_STC01_HealthCareClaimStatus" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC277A3519004_2220D_STC10_HealthCareClaimStatus" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC277A351900A_2220D_STC11_HealthCareClaimStatus" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="WPC277A351900K_2220D_STC04_LineItemChargeAmount">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:element>
<xs:element name="WPC277A351900M_2220D_STC01_HealthCareClaimStatus">
	<xs:annotation>
		<xs:documentation>Health Care Claim Status</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC277A351900M_2220D_STC0101_IndustryCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A351900D_2220D_STC0102_IndustryCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A3519000_2220D_STC0104_CodeListQualifierCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:element>
<xs:element name="WPC277A3519004_2220D_STC10_HealthCareClaimStatus">
	<xs:annotation>
		<xs:documentation>Health Care Claim Status</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC277A351900G_2220D_STC1001_IndustryCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A351900W_2220D_STC1002_IndustryCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A351900Q_2220D_STC1004_CodeListQualifierCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:element>
<xs:element name="WPC277A351900A_2220D_STC11_HealthCareClaimStatus">
	<xs:annotation>
		<xs:documentation>Health Care Claim Status</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC277A3519004_2220D_STC1101_IndustryCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A351900H_2220D_STC1102_IndustryCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A351900M_2220D_STC1104_CodeListQualifierCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:element>
<xs:element name="WPC277A352000O_2220D_REF_ServiceLineItemIdentification">
	<xs:annotation>
		<xs:documentation>Service Line Item Identification</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC277A352000N_2220D_REF01_ReferenceIdentificationQualifier">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A352000_2220D_REF02_LineItemControlNumber">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:element>
<xs:element name="WPC277A352100_2220D_DTP_ServiceLineDate">
	<xs:annotation>
		<xs:documentation>Service Line Date</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC277A352100U_2220D_DTP01_DateTimeQualifier">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A352100V_2220D_DTP02_DateTimePeriodFormatQualifier">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A352100R_2220D_DTP03_ServiceLineDate">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:element>
<xs:element name="WPC277A3601003_2000E">
	<xs:annotation>
		<xs:documentation>Dependent Level</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="WPC277A360100I_2000E_HL_DependentLevel" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC277A360500Z_2100E" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC277A360900U_2200E" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:element name="WPC277A360100I_2000E_HL_DependentLevel">
	<xs:annotation>
		<xs:documentation>Dependent Level</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC277A360100Q_2000E_HL01_HierarchicalIDNumber">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A360100_2000E_HL02_HierarchicalParentIDNumber">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A360100O_2000E_HL03_HierarchicalLevelCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:element>
<xs:element name="WPC277A360500Z_2100E">
	<xs:annotation>
		<xs:documentation>Dependent Name</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="WPC277A360500G_2100E_NM1_DependentName" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:element name="WPC277A360500G_2100E_NM1_DependentName">
	<xs:annotation>
		<xs:documentation>Dependent Name</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC277A360500H_2100E_NM101_EntityIdentifierCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A360500J_2100E_NM102_EntityTypeQualifier">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A360500T_2100E_NM103_PatientLastName">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A360500H_2100E_NM104_PatientFirstName">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A360500Y_2100E_NM105_PatientMiddleName">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A360500_2100E_NM107_PatientNameSuffix">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A360500G_2100E_NM108_IdentificationCodeQualifier">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A360500S_2100E_NM109_PatientPrimaryIdentifier">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:element>
<xs:element name="WPC277A360900U_2200E">
	<xs:annotation>
		<xs:documentation>Payer Claim Identification Number</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="WPC277A360900G_2200E_TRN_PayerClaimIdentificationNumber" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC277A361000H_2200E_STC_ClaimLevelStatusInformation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC277A361100M_2200E_REF_PatientAccountNumber" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC277A361120R_2200E_REF_InstitutionalBillTypeIdentification" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC277A361140H_2200E_REF_MedicalRecordIdentification" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC277A361145J_2200E_REF_ClaimIdentificationNumberForClearinghousesAndOtherTransmissionIntermediaries" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC277A361200X_2200E_DTP_ClaimServiceDate" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC277A361210T_2200E_DTP_ResponseDueDate" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC277A361300E_2210E" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC277A361800_2220E" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:element name="WPC277A360900G_2200E_TRN_PayerClaimIdentificationNumber">
	<xs:annotation>
		<xs:documentation>Payer Claim Identification Number</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC277A360900_2200E_TRN01_TraceTypeCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A360900M_2200E_TRN02_PayerClaimControlNumber">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:element>
<xs:element name="WPC277A361000H_2200E_STC_ClaimLevelStatusInformation">
	<xs:annotation>
		<xs:documentation>Claim Level Status Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="WPC277A361000N_2200E_STC01_HealthCareClaimStatus" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC277A361000L_2200E_STC10_HealthCareClaimStatus" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC277A361000E_2200E_STC11_HealthCareClaimStatus" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="WPC277A361000H_2200E_STC02_StatusInformationEffectiveDate">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:element>
<xs:element name="WPC277A361000N_2200E_STC01_HealthCareClaimStatus">
	<xs:annotation>
		<xs:documentation>Health Care Claim Status</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC277A361000I_2200E_STC0101_IndustryCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A361000I_2200E_STC0102_IndustryCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A361000Z_2200E_STC0104_CodeListQualifierCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:element>
<xs:element name="WPC277A361000L_2200E_STC10_HealthCareClaimStatus">
	<xs:annotation>
		<xs:documentation>Health Care Claim Status</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC277A361000N_2200E_STC1001_IndustryCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A361000C_2200E_STC1002_IndustryCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A361000C_2200E_STC1004_CodeListQualifierCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:element>
<xs:element name="WPC277A361000E_2200E_STC11_HealthCareClaimStatus">
	<xs:annotation>
		<xs:documentation>Health Care Claim Status</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC277A361000L_2200E_STC1101_IndustryCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A361000J_2200E_STC1102_IndustryCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A361000Z_2200E_STC1104_CodeListQualifierCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:element>
<xs:element name="WPC277A361100M_2200E_REF_PatientAccountNumber">
	<xs:annotation>
		<xs:documentation>Patient Account Number</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC277A3611004_2200E_REF01_ReferenceIdentificationQualifier">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A3611007_2200E_REF02_PatientAccountNumber">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:element>
<xs:element name="WPC277A361120R_2200E_REF_InstitutionalBillTypeIdentification">
	<xs:annotation>
		<xs:documentation>Institutional Bill Type Identification</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC277A361120L_2200E_REF01_ReferenceIdentificationQualifier">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A3611203_2200E_REF02_BillTypeIdentifier">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:element>
<xs:element name="WPC277A361140H_2200E_REF_MedicalRecordIdentification">
	<xs:annotation>
		<xs:documentation>Medical Record Identification</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC277A361140T_2200E_REF01_ReferenceIdentificationQualifier">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A361140K_2200E_REF02_MedicalRecordNumber">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:element>
<xs:element name="WPC277A361145J_2200E_REF_ClaimIdentificationNumberForClearinghousesAndOtherTransmissionIntermediaries">
	<xs:annotation>
		<xs:documentation>Claim Identification Number For Clearinghouses and Other Transmission Intermediaries</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC277A361145F_2200E_REF01_ReferenceIdentificationQualifier">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A361145S_2200E_REF02_ClearinghouseTraceNumber">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:element>
<xs:element name="WPC277A361200X_2200E_DTP_ClaimServiceDate">
	<xs:annotation>
		<xs:documentation>Claim Service Date</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC277A3612007_2200E_DTP01_DateTimeQualifier">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A361200W_2200E_DTP02_DateTimePeriodFormatQualifier">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A3612008_2200E_DTP03_ClaimServicePeriod">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:element>
<xs:element name="WPC277A361210T_2200E_DTP_ResponseDueDate">
	<xs:annotation>
		<xs:documentation>Response Due Date</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC277A361210S_2200E_DTP01_DateTimeQualifier">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A361210R_2200E_DTP02_DateTimePeriodFormatQualifier">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A361210X_2200E_DTP03_DateTimePeriod">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:element>
<xs:element name="WPC277A361300E_2210E">
	<xs:annotation>
		<xs:documentation>Claim Supplemental Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="WPC277A3613000_2210E_PWK_ClaimSupplementalInformation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC277A361400V_2210E_PER_ResponseContactInformation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC277A361500B_2210E_N1_ResponseContactIdentification" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC277A361600I_2210E_N3_ResponseContactAddress" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC277A361700R_2210E_N4_ResponseContactCityStateZIPCode" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:element name="WPC277A3613000_2210E_PWK_ClaimSupplementalInformation">
	<xs:annotation>
		<xs:documentation>Claim Supplemental Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC277A361300B_2210E_PWK01_ReportTransmissionCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:element>
<xs:element name="WPC277A361400V_2210E_PER_ResponseContactInformation">
	<xs:annotation>
		<xs:documentation>Response Contact Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC277A361400Z_2210E_PER01_ContactFunctionCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A361400M_2210E_PER02_Name">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A361400J_2210E_PER03_CommunicationNumberQualifier">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A3614004_2210E_PER04_CommunicationNumber">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A361400L_2210E_PER05_CommunicationNumberQualifier">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A361400S_2210E_PER06_CommunicationNumber">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A3614006_2210E_PER07_CommunicationNumberQualifier">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A361400I_2210E_PER08_CommunicationNumber">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:element>
<xs:element name="WPC277A361500B_2210E_N1_ResponseContactIdentification">
	<xs:annotation>
		<xs:documentation>Response Contact Identification</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC277A361500T_2210E_N101_EntityIdentifierCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A361500G_2210E_N102_Name">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:element>
<xs:element name="WPC277A361600I_2210E_N3_ResponseContactAddress">
	<xs:annotation>
		<xs:documentation>Response Contact Address</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC277A361600Z_2210E_N301_AddressInformation">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A361600R_2210E_N302_AddressInformation">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:element>
<xs:element name="WPC277A361700R_2210E_N4_ResponseContactCityStateZIPCode">
	<xs:annotation>
		<xs:documentation>Response Contact City/State/ZIP Code</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC277A361700U_2210E_N401_CityName">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A3617005_2210E_N402_StateOrProvinceCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A361700M_2210E_N403_PostalCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A361700D_2210E_N405_LocationQualifier">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A361700S_2210E_N406_LocationIdentifier">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:element>
<xs:element name="WPC277A361800_2220E">
	<xs:annotation>
		<xs:documentation>Service Line Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="WPC277A361800I_2220E_SVC_ServiceLineInformation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC277A361900O_2220E_STC_ServiceLineStatusInformation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC277A362000Y_2220E_REF_ServiceLineItemIdentification" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC277A3621001_2220E_DTP_ServiceLineDate" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:element name="WPC277A361800I_2220E_SVC_ServiceLineInformation">
	<xs:annotation>
		<xs:documentation>Service Line Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="WPC277A361800N_2220E_SVC01_CompositeMedicalProcedureIdentifier" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="WPC277A3618000_2220E_SVC02_LineItemChargeAmount">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A361800_2220E_SVC04_RevenueCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:element>
<xs:element name="WPC277A361800N_2220E_SVC01_CompositeMedicalProcedureIdentifier">
	<xs:annotation>
		<xs:documentation>Composite Medical Procedure Identifier</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC277A361800F_2220E_SVC0101_ProductOrServiceIDQualifier">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A361800Z_2220E_SVC0102_ServiceIdentificationCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A361800Y_2220E_SVC0103_ProcedureModifier">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A361800I_2220E_SVC0104_ProcedureModifier">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A361800R_2220E_SVC0105_ProcedureModifier">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A361800F_2220E_SVC0106_ProcedureModifier">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:element>
<xs:element name="WPC277A361900O_2220E_STC_ServiceLineStatusInformation">
	<xs:annotation>
		<xs:documentation>Service Line Status Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="WPC277A361900P_2220E_STC01_HealthCareClaimStatus" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC277A361900Z_2220E_STC10_HealthCareClaimStatus" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC277A361900A_2220E_STC11_HealthCareClaimStatus" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="WPC277A361900B_2220E_STC04_LineItemChargeAmount">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:element>
<xs:element name="WPC277A361900P_2220E_STC01_HealthCareClaimStatus">
	<xs:annotation>
		<xs:documentation>Health Care Claim Status</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC277A361900P_2220E_STC0101_IndustryCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A361900W_2220E_STC0102_IndustryCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A361900Q_2220E_STC0104_CodeListQualifierCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:element>
<xs:element name="WPC277A361900Z_2220E_STC10_HealthCareClaimStatus">
	<xs:annotation>
		<xs:documentation>Health Care Claim Status</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC277A361900C_2220E_STC1001_IndustryCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A361900R_2220E_STC1002_IndustryCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A361900V_2220E_STC1004_CodeListQualifierCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:element>
<xs:element name="WPC277A361900A_2220E_STC11_HealthCareClaimStatus">
	<xs:annotation>
		<xs:documentation>Health Care Claim Status</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC277A361900S_2220E_STC1101_IndustryCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A361900V_2220E_STC1102_IndustryCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A3619001_2220E_STC1104_CodeListQualifierCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:element>
<xs:element name="WPC277A362000Y_2220E_REF_ServiceLineItemIdentification">
	<xs:annotation>
		<xs:documentation>Service Line Item Identification</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC277A362000O_2220E_REF01_ReferenceIdentificationQualifier">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A362000N_2220E_REF02_LineItemControlNumber">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:element>
<xs:element name="WPC277A3621001_2220E_DTP_ServiceLineDate">
	<xs:annotation>
		<xs:documentation>Service Line Date</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC277A362100A_2220E_DTP01_DateTimeQualifier">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A362100A_2220E_DTP02_DateTimePeriodFormatQualifier">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WPC277A362100F_2220E_DTP03_ServiceLineDate">
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:element>
<xs:element name="WPC_IProc">
	<xs:annotation>
		<xs:documentation>WPC IProc</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="WPC_IProcEvnt" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC_Errors" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="X12_Envelope" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:element name="WPC_IProcEvnt">
	<xs:annotation>
		<xs:documentation>WPC IProcEvent</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="src" use="optional"/>
		<xs:attribute name="type" use="optional"/>
		<xs:attribute name="dt" use="optional"/>
		<xs:attribute name="hsh" use="optional"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC_Errors">
	<xs:annotation>
		<xs:documentation>WPC Error Collection</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="Violation" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:element name="Violation">
	<xs:annotation>
		<xs:documentation>Violation Detail</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="ErrorType" use="required">
			<xs:annotation>
				<xs:documentation>Enumeration of error type</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="FileID">
			<xs:annotation>
				<xs:documentation>Identifier of original submission</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TraceNumber">
			<xs:annotation>
				<xs:documentation>Application layer trace identifier</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ViolationLocation">
			<xs:annotation>
				<xs:documentation>Location of errant data</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ViolationDescription">
			<xs:annotation>
				<xs:documentation>Text description of violation</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="RuleProcessor">
			<xs:annotation>
				<xs:documentation>Rule processor identifier</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="RuleSource">
			<xs:annotation>
				<xs:documentation>Source identifier of violated rule</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="RuleViolationText">
			<xs:annotation>
				<xs:documentation>Text description of rule</xs:documentation>
			</xs:annotation>
		</xs:attribute>			
		<xs:attribute name="BadDataContent">
			<xs:annotation>
				<xs:documentation>Errant data found in violation of indicated rule</xs:documentation>
			</xs:annotation>
		</xs:attribute>			
	</xs:complexType>
</xs:element>
<xs:element name="X12_Envelope">
	<xs:annotation>
		<xs:documentation>X12 Envelope</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="ISA_InterchangeControlHeader" minOccurs="0"/>
			<xs:element ref="GS_FunctionalGroupHeader" minOccurs="0"/>
			<xs:element ref="ST_TransactionSetHeader" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:element name="ST_TransactionSetHeader">
	<xs:annotation>
		<xs:documentation>Transaction Set Header</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="ST01__TransactionSetIdentifierCode" use="optional"/>
		<xs:attribute name="ST02__TransactionSetControlNumber" use="optional"/>
	</xs:complexType>
</xs:element>
<xs:element name="GS_FunctionalGroupHeader">
	<xs:annotation>
		<xs:documentation>Functional Group Header</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="GS01__FunctionalIdentifierCode" use="optional"/>
		<xs:attribute name="GS02__ApplicationSendersCode" use="optional"/>
		<xs:attribute name="GS03__ApplicationReceiversCode" use="optional"/>
		<xs:attribute name="GS04__Date" use="optional"/>
		<xs:attribute name="GS05__Time" use="optional"/>
		<xs:attribute name="GS06__GroupControlNumber" use="optional"/>
		<xs:attribute name="GS07__ResponsibleAgencyCode" use="optional"/>
		<xs:attribute name="GS08__VersionReleaseIndustryIdentifierCode" use="optional"/>
	</xs:complexType>
</xs:element>
<xs:element name="ISA_InterchangeControlHeader">
	<xs:annotation>
		<xs:documentation>Interchange Control Header</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="ISA01__AuthorizationInformationQualifier" use="optional"/>
		<xs:attribute name="ISA02__AuthorizationInformation" use="optional"/>
		<xs:attribute name="ISA03__SecurityInformationQualifier" use="optional"/>
		<xs:attribute name="ISA04__SecurityInformation" use="optional"/>
		<xs:attribute name="ISA05__InterchangeIDQualifier" use="optional"/>
		<xs:attribute name="ISA06__InterchangeSenderID" use="optional"/>
		<xs:attribute name="ISA07__InterchangeIDQualifier" use="optional"/>
		<xs:attribute name="ISA08__InterchangeReceiverID" use="optional"/>
		<xs:attribute name="ISA09__InterchangeDate" use="optional"/>
		<xs:attribute name="ISA10__InterchangeTime" use="optional"/>
		<xs:attribute name="ISA11__InterchangeControlStandardsIdentifier" use="optional"/>
		<xs:attribute name="ISA12__InterchangeControlVersionNumber" use="optional"/>
		<xs:attribute name="ISA13__InterchangeControlNumber" use="optional"/>
		<xs:attribute name="ISA14__AcknowledgmentRequested" use="optional"/>
		<xs:attribute name="ISA15__UsageIndicator" use="optional"/>
		<xs:attribute name="ISA16__ComponentElementSeparator" use="optional"/>
	</xs:complexType>
</xs:element>
</xs:schema>