src/main/resources/x12/278_A1.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- (c)Copyright 2004 Washington Publishing Company (http://www.wpc-edi.com) -->
<xs:schema version="1.0"  xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wpc="http://schemas.wpc-edi.com/X12/ISOMORPH/HIPAA/4010A1" targetNamespace="http://schemas.wpc-edi.com/X12/ISOMORPH/HIPAA/4010A1/WPC278A1" xmlns="http://schemas.wpc-edi.com/X12/ISOMORPH/HIPAA/4010A1/WPC278A1" >
<xs:annotation>
	<xs:documentation xml:lang="en"> 
		HIPAA Schema WPC278A1 - Washington Publishing Company (http://www.wpc-edi.com)
		Copyright (C) 2004 Washington Publishing Company
		This program is free software; you can redistribute it and/or
		modify it under the terms of the GNU General Public License
		as published by the Free Software Foundation; Version 2.
		This program is distributed in the hope that it will be useful,
		but WITHOUT ANY WARRANTY; without even the implied warranty of
		MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
		GNU General Public License for more details.
	</xs:documentation>
</xs:annotation>
<xs:element name="WPC278A1">
	<xs:annotation>
		<xs:documentation>Health Care Services Review -- Request for Review</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="WPC_IProc" minOccurs="0" maxOccurs="1" />
			<xs:element ref="WPC278A110200__BHT_BeginningOfHierarchicalTransaction" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC278A120108_2000A" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A110200__BHT_BeginningOfHierarchicalTransaction">
	<xs:annotation>
		<xs:documentation>Beginning of Hierarchical Transaction</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC278A11020G__BHT01_HierarchicalStructureCode"/>
		<xs:attribute name="WPC278A11020Q__BHT02_TransactionSetPurposeCode"/>
		<xs:attribute name="WPC278A11020Y__BHT03_SubmitterTransactionIdentifier"/>
		<xs:attribute name="WPC278A11020P__BHT04_TransactionSetCreationDate"/>
		<xs:attribute name="WPC278A11020M__BHT05_TransactionSetCreationTime"/>
		<xs:attribute name="WPC278A11020S__BHT06_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A120108_2000A">
	<xs:annotation>
		<xs:documentation>Utilization Management Organization (UMO) Level</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="WPC278A12010G_2000A_HL_UtilizationManagementOrganizationUMOLevel" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC278A12170Y_2010A" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC278A13010C_2000B" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A12010G_2000A_HL_UtilizationManagementOrganizationUMOLevel">
	<xs:annotation>
		<xs:documentation>Utilization Management Organization (UMO) Level</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC278A12010R_2000A_HL01_HierarchicalIDNumber"/>
		<xs:attribute name="WPC278A12010A_2000A_HL02_NotUsed"/>
		<xs:attribute name="WPC278A12010Q_2000A_HL03_HierarchicalLevelCode"/>
		<xs:attribute name="WPC278A12010S_2000A_HL04_HierarchicalChildCode"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A12170Y_2010A">
	<xs:annotation>
		<xs:documentation>Utilization Management Organization (UMO) Name</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="WPC278A12170C_2010A_NM1_UtilizationManagementOrganizationUMOName" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A12170C_2010A_NM1_UtilizationManagementOrganizationUMOName">
	<xs:annotation>
		<xs:documentation>Utilization Management Organization (UMO) Name</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC278A121705_2010A_NM101_EntityIdentifierCode"/>
		<xs:attribute name="WPC278A12170O_2010A_NM102_EntityTypeQualifier"/>
		<xs:attribute name="WPC278A12170Y_2010A_NM103_UtilizationManagementOrganizationUMOLastOrOrganizationName"/>
		<xs:attribute name="WPC278A12170X_2010A_NM104_UtilizationManagementOrganizationUMOFirstName"/>
		<xs:attribute name="WPC278A12170U_2010A_NM105_UtilizationManagementOrganizationUMOMiddleName"/>
		<xs:attribute name="WPC278A12170K_2010A_NM106_NotUsed"/>
		<xs:attribute name="WPC278A12170T_2010A_NM107_UtilizationManagementOrganizationUMONameSuffix"/>
		<xs:attribute name="WPC278A12170F_2010A_NM108_IdentificationCodeQualifier"/>
		<xs:attribute name="WPC278A12170V_2010A_NM109_UtilizationManagementOrganizationUMOIdentifier"/>
		<xs:attribute name="WPC278A12170Y_2010A_NM110_NotUsed"/>
		<xs:attribute name="WPC278A121708_2010A_NM111_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A13010C_2000B">
	<xs:annotation>
		<xs:documentation>Requester Level</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="WPC278A13010F_2000B_HL_RequesterLevel" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC278A13170O_2010B" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC278A14010Y_2000C" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A13010F_2000B_HL_RequesterLevel">
	<xs:annotation>
		<xs:documentation>Requester Level</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC278A13010E_2000B_HL01_HierarchicalIDNumber"/>
		<xs:attribute name="WPC278A13010L_2000B_HL02_HierarchicalParentIDNumber"/>
		<xs:attribute name="WPC278A13010S_2000B_HL03_HierarchicalLevelCode"/>
		<xs:attribute name="WPC278A13010R_2000B_HL04_HierarchicalChildCode"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A13170O_2010B">
	<xs:annotation>
		<xs:documentation>Requester Name</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="WPC278A13170Z_2010B_NM1_RequesterName" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC278A13180_2010B_REF_RequesterSupplementalIdentification" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC278A132005_2010B_N3_RequesterAddress" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC278A132103_2010B_N4_RequesterCityStateZIPCode" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC278A13220O_2010B_PER_RequesterContactInformation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC278A13240_2010B_PRV_RequesterProviderInformation" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A13170Z_2010B_NM1_RequesterName">
	<xs:annotation>
		<xs:documentation>Requester Name</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC278A131704_2010B_NM101_EntityIdentifierCode"/>
		<xs:attribute name="WPC278A13170I_2010B_NM102_EntityTypeQualifier"/>
		<xs:attribute name="WPC278A13170U_2010B_NM103_RequesterLastOrOrganizationName"/>
		<xs:attribute name="WPC278A13170C_2010B_NM104_RequesterFirstName"/>
		<xs:attribute name="WPC278A13170Z_2010B_NM105_RequesterMiddleName"/>
		<xs:attribute name="WPC278A13170V_2010B_NM106_NotUsed"/>
		<xs:attribute name="WPC278A13170I_2010B_NM107_RequesterNameSuffix"/>
		<xs:attribute name="WPC278A13170P_2010B_NM108_IdentificationCodeQualifier"/>
		<xs:attribute name="WPC278A131707_2010B_NM109_RequesterIdentifier"/>
		<xs:attribute name="WPC278A13170U_2010B_NM110_NotUsed"/>
		<xs:attribute name="WPC278A131701_2010B_NM111_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A13180_2010B_REF_RequesterSupplementalIdentification">
	<xs:annotation>
		<xs:documentation>Requester Supplemental Identification</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC278A13180S_2010B_REF01_ReferenceIdentificationQualifier"/>
		<xs:attribute name="WPC278A13180W_2010B_REF02_RequesterSupplementalIdentifier"/>
		<xs:attribute name="WPC278A13180T_2010B_REF03_NotUsed"/>
		<xs:attribute name="WPC278A131804_2010B_REF04_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A132005_2010B_N3_RequesterAddress">
	<xs:annotation>
		<xs:documentation>Requester Address</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC278A13200C_2010B_N301_RequesterAddressLine"/>
		<xs:attribute name="WPC278A13200K_2010B_N302_RequesterAddressLine"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A132103_2010B_N4_RequesterCityStateZIPCode">
	<xs:annotation>
		<xs:documentation>Requester City/State/ZIP Code</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC278A13210F_2010B_N401_RequesterCityName"/>
		<xs:attribute name="WPC278A13210Q_2010B_N402_RequesterStateOrProvinceCode"/>
		<xs:attribute name="WPC278A13210_2010B_N403_RequesterPostalZoneOrZIPCode"/>
		<xs:attribute name="WPC278A13210T_2010B_N404_RequesterCountryCode"/>
		<xs:attribute name="WPC278A13210A_2010B_N405_NotUsed"/>
		<xs:attribute name="WPC278A132109_2010B_N406_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A13220O_2010B_PER_RequesterContactInformation">
	<xs:annotation>
		<xs:documentation>Requester Contact Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC278A13220_2010B_PER01_ContactFunctionCode"/>
		<xs:attribute name="WPC278A132209_2010B_PER02_RequesterContactName"/>
		<xs:attribute name="WPC278A13220L_2010B_PER03_CommunicationNumberQualifier"/>
		<xs:attribute name="WPC278A13220Y_2010B_PER04_RequesterContactCommunicationNumber"/>
		<xs:attribute name="WPC278A13220B_2010B_PER05_CommunicationNumberQualifier"/>
		<xs:attribute name="WPC278A13220D_2010B_PER06_RequesterContactCommunicationNumber"/>
		<xs:attribute name="WPC278A13220R_2010B_PER07_CommunicationNumberQualifier"/>
		<xs:attribute name="WPC278A13220S_2010B_PER08_RequesterContactCommunicationNumber"/>
		<xs:attribute name="WPC278A13220V_2010B_PER09_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A13240_2010B_PRV_RequesterProviderInformation">
	<xs:annotation>
		<xs:documentation>Requester Provider Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC278A13240L_2010B_PRV01_ProviderCode"/>
		<xs:attribute name="WPC278A13240_2010B_PRV02_ReferenceIdentificationQualifier"/>
		<xs:attribute name="WPC278A13240W_2010B_PRV03_ProviderTaxonomyCode"/>
		<xs:attribute name="WPC278A13240A_2010B_PRV04_NotUsed"/>
		<xs:attribute name="WPC278A13240A_2010B_PRV05_NotUsed"/>
		<xs:attribute name="WPC278A13240L_2010B_PRV06_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A14010Y_2000C">
	<xs:annotation>
		<xs:documentation>Subscriber Level</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="WPC278A14010I_2000C_HL_SubscriberLevel" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC278A14020Y_2000C_TRN_PatientEventTrackingNumber" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC278A14070S_2000C_DTP_AccidentDate" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC278A14072Y_2000C_DTP_LastMenstrualPeriodDate" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC278A140746_2000C_DTP_EstimatedDateOfBirth" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC278A140764_2000C_DTP_OnsetOfCurrentSymptomsOrIllnessDate" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC278A14080F_2000C_HI_SubscriberDiagnosis" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC278A141552_2000C_PWK_AdditionalPatientInformation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC278A14170N_2010CA" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC278A15010O_2000D" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A14010I_2000C_HL_SubscriberLevel">
	<xs:annotation>
		<xs:documentation>Subscriber Level</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC278A14010T_2000C_HL01_HierarchicalIDNumber"/>
		<xs:attribute name="WPC278A14010Y_2000C_HL02_HierarchicalParentIDNumber"/>
		<xs:attribute name="WPC278A14010F_2000C_HL03_HierarchicalLevelCode"/>
		<xs:attribute name="WPC278A140107_2000C_HL04_HierarchicalChildCode"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A14020Y_2000C_TRN_PatientEventTrackingNumber">
	<xs:annotation>
		<xs:documentation>Patient Event Tracking Number</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC278A14020C_2000C_TRN01_TraceTypeCode"/>
		<xs:attribute name="WPC278A140209_2000C_TRN02_ReferenceIdentification"/>
		<xs:attribute name="WPC278A14020P_2000C_TRN03_TraceAssigningEntityIdentifier"/>
		<xs:attribute name="WPC278A14020L_2000C_TRN04_TraceAssigningEntityAdditionalIdentifier"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A14070S_2000C_DTP_AccidentDate">
	<xs:annotation>
		<xs:documentation>Accident Date</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC278A140705_2000C_DTP01_DateTimeQualifier"/>
		<xs:attribute name="WPC278A14070T_2000C_DTP02_DateTimePeriodFormatQualifier"/>
		<xs:attribute name="WPC278A14070Q_2000C_DTP03_AccidentDate"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A14072Y_2000C_DTP_LastMenstrualPeriodDate">
	<xs:annotation>
		<xs:documentation>Last Menstrual Period Date</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC278A14072D_2000C_DTP01_DateTimeQualifier"/>
		<xs:attribute name="WPC278A14072G_2000C_DTP02_DateTimePeriodFormatQualifier"/>
		<xs:attribute name="WPC278A14072M_2000C_DTP03_LastMenstrualPeriodDate"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A140746_2000C_DTP_EstimatedDateOfBirth">
	<xs:annotation>
		<xs:documentation>Estimated Date of Birth</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC278A14074X_2000C_DTP01_DateTimeQualifier"/>
		<xs:attribute name="WPC278A14074B_2000C_DTP02_DateTimePeriodFormatQualifier"/>
		<xs:attribute name="WPC278A14074A_2000C_DTP03_EstimatedBirthDate"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A140764_2000C_DTP_OnsetOfCurrentSymptomsOrIllnessDate">
	<xs:annotation>
		<xs:documentation>Onset of Current Symptoms or Illness Date</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC278A14076F_2000C_DTP01_DateTimeQualifier"/>
		<xs:attribute name="WPC278A14076M_2000C_DTP02_DateTimePeriodFormatQualifier"/>
		<xs:attribute name="WPC278A14076X_2000C_DTP03_OnsetDate"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A14080F_2000C_HI_SubscriberDiagnosis">
	<xs:annotation>
		<xs:documentation>Subscriber Diagnosis</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="WPC278A14080E_2000C_HI01_HealthCareCodeInformation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC278A14080F_2000C_HI02_HealthCareCodeInformation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC278A14080Y_2000C_HI03_HealthCareCodeInformation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC278A14080_2000C_HI04_HealthCareCodeInformation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC278A14080_2000C_HI05_HealthCareCodeInformation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC278A14080D_2000C_HI06_HealthCareCodeInformation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC278A14080C_2000C_HI07_HealthCareCodeInformation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC278A14080L_2000C_HI08_HealthCareCodeInformation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC278A140807_2000C_HI09_HealthCareCodeInformation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC278A14080O_2000C_HI10_HealthCareCodeInformation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC278A140803_2000C_HI11_HealthCareCodeInformation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC278A140806_2000C_HI12_HealthCareCodeInformation" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A14080E_2000C_HI01_HealthCareCodeInformation">
	<xs:annotation>
		<xs:documentation>Health Care Code Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC278A14080Y_2000C_HI0101_DiagnosisTypeCode"/>
		<xs:attribute name="WPC278A14080E_2000C_HI0102_DiagnosisCode"/>
		<xs:attribute name="WPC278A14080E_2000C_HI0103_DateTimePeriodFormatQualifier"/>
		<xs:attribute name="WPC278A14080T_2000C_HI0104_DiagnosisDate"/>
		<xs:attribute name="WPC278A14080J_2000C_HI0105_NotUsed"/>
		<xs:attribute name="WPC278A14080W_2000C_HI0106_NotUsed"/>
		<xs:attribute name="WPC278A14080P_2000C_HI0107_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A14080F_2000C_HI02_HealthCareCodeInformation">
	<xs:annotation>
		<xs:documentation>Health Care Code Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC278A14080F_2000C_HI0201_DiagnosisTypeCode"/>
		<xs:attribute name="WPC278A14080Y_2000C_HI0202_DiagnosisCode"/>
		<xs:attribute name="WPC278A140803_2000C_HI0203_DateTimePeriodFormatQualifier"/>
		<xs:attribute name="WPC278A140805_2000C_HI0204_DiagnosisDate"/>
		<xs:attribute name="WPC278A14080A_2000C_HI0205_NotUsed"/>
		<xs:attribute name="WPC278A14080S_2000C_HI0206_NotUsed"/>
		<xs:attribute name="WPC278A14080L_2000C_HI0207_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A14080Y_2000C_HI03_HealthCareCodeInformation">
	<xs:annotation>
		<xs:documentation>Health Care Code Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC278A14080_2000C_HI0301_DiagnosisTypeCode"/>
		<xs:attribute name="WPC278A14080A_2000C_HI0302_DiagnosisCode"/>
		<xs:attribute name="WPC278A140802_2000C_HI0303_DateTimePeriodFormatQualifier"/>
		<xs:attribute name="WPC278A14080W_2000C_HI0304_DiagnosisDate"/>
		<xs:attribute name="WPC278A14080Y_2000C_HI0305_NotUsed"/>
		<xs:attribute name="WPC278A14080V_2000C_HI0306_NotUsed"/>
		<xs:attribute name="WPC278A14080A_2000C_HI0307_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A14080_2000C_HI04_HealthCareCodeInformation">
	<xs:annotation>
		<xs:documentation>Health Care Code Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC278A14080T_2000C_HI0401_DiagnosisTypeCode"/>
		<xs:attribute name="WPC278A14080E_2000C_HI0402_DiagnosisCode"/>
		<xs:attribute name="WPC278A14080G_2000C_HI0403_DateTimePeriodFormatQualifier"/>
		<xs:attribute name="WPC278A14080G_2000C_HI0404_DiagnosisDate"/>
		<xs:attribute name="WPC278A140807_2000C_HI0405_NotUsed"/>
		<xs:attribute name="WPC278A14080Q_2000C_HI0406_NotUsed"/>
		<xs:attribute name="WPC278A14080S_2000C_HI0407_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A14080_2000C_HI05_HealthCareCodeInformation">
	<xs:annotation>
		<xs:documentation>Health Care Code Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC278A14080E_2000C_HI0501_DiagnosisTypeCode"/>
		<xs:attribute name="WPC278A14080K_2000C_HI0502_DiagnosisCode"/>
		<xs:attribute name="WPC278A14080J_2000C_HI0503_DateTimePeriodFormatQualifier"/>
		<xs:attribute name="WPC278A14080G_2000C_HI0504_DiagnosisDate"/>
		<xs:attribute name="WPC278A14080_2000C_HI0505_NotUsed"/>
		<xs:attribute name="WPC278A140802_2000C_HI0506_NotUsed"/>
		<xs:attribute name="WPC278A14080A_2000C_HI0507_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A14080D_2000C_HI06_HealthCareCodeInformation">
	<xs:annotation>
		<xs:documentation>Health Care Code Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC278A14080_2000C_HI0601_DiagnosisTypeCode"/>
		<xs:attribute name="WPC278A14080V_2000C_HI0602_DiagnosisCode"/>
		<xs:attribute name="WPC278A140808_2000C_HI0603_DateTimePeriodFormatQualifier"/>
		<xs:attribute name="WPC278A14080N_2000C_HI0604_DiagnosisDate"/>
		<xs:attribute name="WPC278A14080X_2000C_HI0605_NotUsed"/>
		<xs:attribute name="WPC278A14080B_2000C_HI0606_NotUsed"/>
		<xs:attribute name="WPC278A14080Y_2000C_HI0607_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A14080C_2000C_HI07_HealthCareCodeInformation">
	<xs:annotation>
		<xs:documentation>Health Care Code Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC278A14080F_2000C_HI0701_DiagnosisTypeCode"/>
		<xs:attribute name="WPC278A14080X_2000C_HI0702_DiagnosisCode"/>
		<xs:attribute name="WPC278A14080T_2000C_HI0703_DateTimePeriodFormatQualifier"/>
		<xs:attribute name="WPC278A14080Y_2000C_HI0704_DiagnosisDate"/>
		<xs:attribute name="WPC278A14080C_2000C_HI0705_NotUsed"/>
		<xs:attribute name="WPC278A14080U_2000C_HI0706_NotUsed"/>
		<xs:attribute name="WPC278A14080D_2000C_HI0707_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A14080L_2000C_HI08_HealthCareCodeInformation">
	<xs:annotation>
		<xs:documentation>Health Care Code Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC278A140809_2000C_HI0801_DiagnosisTypeCode"/>
		<xs:attribute name="WPC278A14080_2000C_HI0802_DiagnosisCode"/>
		<xs:attribute name="WPC278A14080N_2000C_HI0803_DateTimePeriodFormatQualifier"/>
		<xs:attribute name="WPC278A14080M_2000C_HI0804_DiagnosisDate"/>
		<xs:attribute name="WPC278A14080Y_2000C_HI0805_NotUsed"/>
		<xs:attribute name="WPC278A14080O_2000C_HI0806_NotUsed"/>
		<xs:attribute name="WPC278A140807_2000C_HI0807_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A140807_2000C_HI09_HealthCareCodeInformation">
	<xs:annotation>
		<xs:documentation>Health Care Code Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC278A14080B_2000C_HI0901_DiagnosisTypeCode"/>
		<xs:attribute name="WPC278A14080Z_2000C_HI0902_DiagnosisCode"/>
		<xs:attribute name="WPC278A140804_2000C_HI0903_DateTimePeriodFormatQualifier"/>
		<xs:attribute name="WPC278A14080I_2000C_HI0904_DiagnosisDate"/>
		<xs:attribute name="WPC278A14080Y_2000C_HI0905_NotUsed"/>
		<xs:attribute name="WPC278A14080L_2000C_HI0906_NotUsed"/>
		<xs:attribute name="WPC278A14080U_2000C_HI0907_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A14080O_2000C_HI10_HealthCareCodeInformation">
	<xs:annotation>
		<xs:documentation>Health Care Code Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC278A14080_2000C_HI1001_DiagnosisTypeCode"/>
		<xs:attribute name="WPC278A14080C_2000C_HI1002_DiagnosisCode"/>
		<xs:attribute name="WPC278A14080U_2000C_HI1003_DateTimePeriodFormatQualifier"/>
		<xs:attribute name="WPC278A140809_2000C_HI1004_DiagnosisDate"/>
		<xs:attribute name="WPC278A14080Q_2000C_HI1005_NotUsed"/>
		<xs:attribute name="WPC278A14080Q_2000C_HI1006_NotUsed"/>
		<xs:attribute name="WPC278A14080H_2000C_HI1007_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A140803_2000C_HI11_HealthCareCodeInformation">
	<xs:annotation>
		<xs:documentation>Health Care Code Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC278A14080S_2000C_HI1101_DiagnosisTypeCode"/>
		<xs:attribute name="WPC278A14080F_2000C_HI1102_DiagnosisCode"/>
		<xs:attribute name="WPC278A14080D_2000C_HI1103_DateTimePeriodFormatQualifier"/>
		<xs:attribute name="WPC278A14080P_2000C_HI1104_DiagnosisDate"/>
		<xs:attribute name="WPC278A14080M_2000C_HI1105_NotUsed"/>
		<xs:attribute name="WPC278A14080F_2000C_HI1106_NotUsed"/>
		<xs:attribute name="WPC278A14080X_2000C_HI1107_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A140806_2000C_HI12_HealthCareCodeInformation">
	<xs:annotation>
		<xs:documentation>Health Care Code Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC278A14080M_2000C_HI1201_DiagnosisTypeCode"/>
		<xs:attribute name="WPC278A14080O_2000C_HI1202_DiagnosisCode"/>
		<xs:attribute name="WPC278A14080T_2000C_HI1203_DateTimePeriodFormatQualifier"/>
		<xs:attribute name="WPC278A14080U_2000C_HI1204_DiagnosisDate"/>
		<xs:attribute name="WPC278A14080O_2000C_HI1205_NotUsed"/>
		<xs:attribute name="WPC278A14080W_2000C_HI1206_NotUsed"/>
		<xs:attribute name="WPC278A14080P_2000C_HI1207_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A141552_2000C_PWK_AdditionalPatientInformation">
	<xs:annotation>
		<xs:documentation>Additional Patient Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC278A14155_2000C_PWK01_AttachmentReportTypeCode"/>
		<xs:attribute name="WPC278A14155Z_2000C_PWK02_AttachmentTransmissionCode"/>
		<xs:attribute name="WPC278A14155X_2000C_PWK03_NotUsed"/>
		<xs:attribute name="WPC278A14155J_2000C_PWK04_NotUsed"/>
		<xs:attribute name="WPC278A14155R_2000C_PWK05_IdentificationCodeQualifier"/>
		<xs:attribute name="WPC278A14155H_2000C_PWK06_AttachmentControlNumber"/>
		<xs:attribute name="WPC278A14155W_2000C_PWK07_AttachmentDescription"/>
		<xs:attribute name="WPC278A14155A_2000C_PWK0800_NotUsed"/>
		<xs:attribute name="WPC278A14155Z_2000C_PWK09_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A14170N_2010CA">
	<xs:annotation>
		<xs:documentation>Subscriber Name</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="WPC278A14170M_2010CA_NM1_SubscriberName" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC278A14180S_2010CA_REF_SubscriberSupplementalIdentification" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC278A14250Q_2010CA_DMG_SubscriberDemographicInformation" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A14170M_2010CA_NM1_SubscriberName">
	<xs:annotation>
		<xs:documentation>Subscriber Name</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC278A14170M_2010CA_NM101_EntityIdentifierCode"/>
		<xs:attribute name="WPC278A14170D_2010CA_NM102_EntityTypeQualifier"/>
		<xs:attribute name="WPC278A14170Z_2010CA_NM103_SubscriberLastName"/>
		<xs:attribute name="WPC278A141700_2010CA_NM104_SubscriberFirstName"/>
		<xs:attribute name="WPC278A141701_2010CA_NM105_SubscriberMiddleName"/>
		<xs:attribute name="WPC278A14170R_2010CA_NM106_NotUsed"/>
		<xs:attribute name="WPC278A14170K_2010CA_NM107_SubscriberNameSuffix"/>
		<xs:attribute name="WPC278A14170U_2010CA_NM108_IdentificationCodeQualifier"/>
		<xs:attribute name="WPC278A14170E_2010CA_NM109_SubscriberPrimaryIdentifier"/>
		<xs:attribute name="WPC278A14170T_2010CA_NM110_NotUsed"/>
		<xs:attribute name="WPC278A14170N_2010CA_NM111_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A14180S_2010CA_REF_SubscriberSupplementalIdentification">
	<xs:annotation>
		<xs:documentation>Subscriber Supplemental Identification</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC278A141804_2010CA_REF01_ReferenceIdentificationQualifier"/>
		<xs:attribute name="WPC278A14180G_2010CA_REF02_SubscriberSupplementalIdentifier"/>
		<xs:attribute name="WPC278A14180W_2010CA_REF03_NotUsed"/>
		<xs:attribute name="WPC278A14180D_2010CA_REF0400_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A14250Q_2010CA_DMG_SubscriberDemographicInformation">
	<xs:annotation>
		<xs:documentation>Subscriber Demographic Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC278A14250A_2010CA_DMG01_DateTimePeriodFormatQualifier"/>
		<xs:attribute name="WPC278A142504_2010CA_DMG02_SubscriberBirthDate"/>
		<xs:attribute name="WPC278A14250H_2010CA_DMG03_SubscriberGenderCode"/>
		<xs:attribute name="WPC278A14250N_2010CA_DMG04_NotUsed"/>
		<xs:attribute name="WPC278A14250M_2010CA_DMG05_NotUsed"/>
		<xs:attribute name="WPC278A14250O_2010CA_DMG06_NotUsed"/>
		<xs:attribute name="WPC278A14250O_2010CA_DMG07_NotUsed"/>
		<xs:attribute name="WPC278A14250N_2010CA_DMG08_NotUsed"/>
		<xs:attribute name="WPC278A14250_2010CA_DMG09_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A15010O_2000D">
	<xs:annotation>
		<xs:documentation>Dependent Level</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="WPC278A15010H_2000D_HL_DependentLevel" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC278A150203_2000D_TRN_PatientEventTrackingNumber" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC278A15070S_2000D_DTP_AccidentDate" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC278A15072J_2000D_DTP_LastMenstrualPeriodDate" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC278A15074C_2000D_DTP_EstimatedDateOfBirth" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC278A150760_2000D_DTP_OnsetOfCurrentSymptomsOrIllnessDate" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC278A15080G_2000D_HI_DependentDiagnosis" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC278A15155_2000D_PWK_AdditionalPatientInformation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC278A151700_2010DA" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC278A16010Z_2000E" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A15010H_2000D_HL_DependentLevel">
	<xs:annotation>
		<xs:documentation>Dependent Level</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC278A15010_2000D_HL01_HierarchicalIDNumber"/>
		<xs:attribute name="WPC278A15010U_2000D_HL02_HierarchicalParentIDNumber"/>
		<xs:attribute name="WPC278A15010V_2000D_HL03_HierarchicalLevelCode"/>
		<xs:attribute name="WPC278A15010R_2000D_HL04_HierarchicalChildCode"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A150203_2000D_TRN_PatientEventTrackingNumber">
	<xs:annotation>
		<xs:documentation>Patient Event Tracking Number</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC278A15020I_2000D_TRN01_TraceTypeCode"/>
		<xs:attribute name="WPC278A15020Q_2000D_TRN02_ReferenceIdentification"/>
		<xs:attribute name="WPC278A15020_2000D_TRN03_TraceAssigningEntityIdentifier"/>
		<xs:attribute name="WPC278A15020O_2000D_TRN04_TraceAssigningEntityAdditionalIdentifier"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A15070S_2000D_DTP_AccidentDate">
	<xs:annotation>
		<xs:documentation>Accident Date</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC278A15070Z_2000D_DTP01_DateTimeQualifier"/>
		<xs:attribute name="WPC278A15070G_2000D_DTP02_DateTimePeriodFormatQualifier"/>
		<xs:attribute name="WPC278A15070H_2000D_DTP03_AccidentDate"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A15072J_2000D_DTP_LastMenstrualPeriodDate">
	<xs:annotation>
		<xs:documentation>Last Menstrual Period Date</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC278A15072T_2000D_DTP01_DateTimeQualifier"/>
		<xs:attribute name="WPC278A15072H_2000D_DTP02_DateTimePeriodFormatQualifier"/>
		<xs:attribute name="WPC278A15072Y_2000D_DTP03_LastMenstrualPeriodDate"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A15074C_2000D_DTP_EstimatedDateOfBirth">
	<xs:annotation>
		<xs:documentation>Estimated Date of Birth</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC278A15074_2000D_DTP01_DateTimeQualifier"/>
		<xs:attribute name="WPC278A15074G_2000D_DTP02_DateTimePeriodFormatQualifier"/>
		<xs:attribute name="WPC278A15074S_2000D_DTP03_EstimatedBirthDate"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A150760_2000D_DTP_OnsetOfCurrentSymptomsOrIllnessDate">
	<xs:annotation>
		<xs:documentation>Onset of Current Symptoms or Illness Date</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC278A15076K_2000D_DTP01_DateTimeQualifier"/>
		<xs:attribute name="WPC278A15076H_2000D_DTP02_DateTimePeriodFormatQualifier"/>
		<xs:attribute name="WPC278A15076U_2000D_DTP03_OnsetDate"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A15080G_2000D_HI_DependentDiagnosis">
	<xs:annotation>
		<xs:documentation>Dependent Diagnosis</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="WPC278A15080_2000D_HI01_HealthCareCodeInformation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC278A15080U_2000D_HI02_HealthCareCodeInformation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC278A15080S_2000D_HI03_HealthCareCodeInformation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC278A15080L_2000D_HI04_HealthCareCodeInformation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC278A15080K_2000D_HI05_HealthCareCodeInformation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC278A15080T_2000D_HI06_HealthCareCodeInformation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC278A15080P_2000D_HI07_HealthCareCodeInformation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC278A15080X_2000D_HI08_HealthCareCodeInformation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC278A15080R_2000D_HI09_HealthCareCodeInformation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC278A150804_2000D_HI10_HealthCareCodeInformation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC278A15080G_2000D_HI11_HealthCareCodeInformation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC278A15080R_2000D_HI12_HealthCareCodeInformation" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A15080_2000D_HI01_HealthCareCodeInformation">
	<xs:annotation>
		<xs:documentation>Health Care Code Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC278A15080M_2000D_HI0101_DiagnosisTypeCode"/>
		<xs:attribute name="WPC278A15080O_2000D_HI0102_DiagnosisCode"/>
		<xs:attribute name="WPC278A15080J_2000D_HI0103_DateTimePeriodFormatQualifier"/>
		<xs:attribute name="WPC278A15080H_2000D_HI0104_DiagnosisDate"/>
		<xs:attribute name="WPC278A15080N_2000D_HI0105_NotUsed"/>
		<xs:attribute name="WPC278A15080I_2000D_HI0106_NotUsed"/>
		<xs:attribute name="WPC278A15080I_2000D_HI0107_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A15080U_2000D_HI02_HealthCareCodeInformation">
	<xs:annotation>
		<xs:documentation>Health Care Code Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC278A15080Z_2000D_HI0201_DiagnosisTypeCode"/>
		<xs:attribute name="WPC278A15080H_2000D_HI0202_DiagnosisCode"/>
		<xs:attribute name="WPC278A15080U_2000D_HI0203_DateTimePeriodFormatQualifier"/>
		<xs:attribute name="WPC278A15080U_2000D_HI0204_DiagnosisDate"/>
		<xs:attribute name="WPC278A15080_2000D_HI0205_NotUsed"/>
		<xs:attribute name="WPC278A15080O_2000D_HI0206_NotUsed"/>
		<xs:attribute name="WPC278A15080Q_2000D_HI0207_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A15080S_2000D_HI03_HealthCareCodeInformation">
	<xs:annotation>
		<xs:documentation>Health Care Code Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC278A15080H_2000D_HI0301_DiagnosisTypeCode"/>
		<xs:attribute name="WPC278A15080L_2000D_HI0302_DiagnosisCode"/>
		<xs:attribute name="WPC278A15080N_2000D_HI0303_DateTimePeriodFormatQualifier"/>
		<xs:attribute name="WPC278A15080C_2000D_HI0304_DiagnosisDate"/>
		<xs:attribute name="WPC278A15080F_2000D_HI0305_NotUsed"/>
		<xs:attribute name="WPC278A15080C_2000D_HI0306_NotUsed"/>
		<xs:attribute name="WPC278A15080E_2000D_HI0307_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A15080L_2000D_HI04_HealthCareCodeInformation">
	<xs:annotation>
		<xs:documentation>Health Care Code Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC278A15080J_2000D_HI0401_DiagnosisTypeCode"/>
		<xs:attribute name="WPC278A15080F_2000D_HI0402_DiagnosisCode"/>
		<xs:attribute name="WPC278A15080Z_2000D_HI0403_DateTimePeriodFormatQualifier"/>
		<xs:attribute name="WPC278A15080C_2000D_HI0404_DiagnosisDate"/>
		<xs:attribute name="WPC278A15080M_2000D_HI0405_NotUsed"/>
		<xs:attribute name="WPC278A150804_2000D_HI0406_NotUsed"/>
		<xs:attribute name="WPC278A150807_2000D_HI0407_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A15080K_2000D_HI05_HealthCareCodeInformation">
	<xs:annotation>
		<xs:documentation>Health Care Code Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC278A15080D_2000D_HI0501_DiagnosisTypeCode"/>
		<xs:attribute name="WPC278A15080R_2000D_HI0502_DiagnosisCode"/>
		<xs:attribute name="WPC278A15080L_2000D_HI0503_DateTimePeriodFormatQualifier"/>
		<xs:attribute name="WPC278A150803_2000D_HI0504_DiagnosisDate"/>
		<xs:attribute name="WPC278A15080V_2000D_HI0505_NotUsed"/>
		<xs:attribute name="WPC278A15080T_2000D_HI0506_NotUsed"/>
		<xs:attribute name="WPC278A15080H_2000D_HI0507_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A15080T_2000D_HI06_HealthCareCodeInformation">
	<xs:annotation>
		<xs:documentation>Health Care Code Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC278A15080K_2000D_HI0601_DiagnosisTypeCode"/>
		<xs:attribute name="WPC278A15080F_2000D_HI0602_DiagnosisCode"/>
		<xs:attribute name="WPC278A15080J_2000D_HI0603_DateTimePeriodFormatQualifier"/>
		<xs:attribute name="WPC278A15080J_2000D_HI0604_DiagnosisDate"/>
		<xs:attribute name="WPC278A15080F_2000D_HI0605_NotUsed"/>
		<xs:attribute name="WPC278A15080S_2000D_HI0606_NotUsed"/>
		<xs:attribute name="WPC278A15080_2000D_HI0607_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A15080P_2000D_HI07_HealthCareCodeInformation">
	<xs:annotation>
		<xs:documentation>Health Care Code Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC278A15080X_2000D_HI0701_DiagnosisTypeCode"/>
		<xs:attribute name="WPC278A150807_2000D_HI0702_DiagnosisCode"/>
		<xs:attribute name="WPC278A15080W_2000D_HI0703_DateTimePeriodFormatQualifier"/>
		<xs:attribute name="WPC278A150808_2000D_HI0704_DiagnosisDate"/>
		<xs:attribute name="WPC278A15080T_2000D_HI0705_NotUsed"/>
		<xs:attribute name="WPC278A15080S_2000D_HI0706_NotUsed"/>
		<xs:attribute name="WPC278A15080R_2000D_HI0707_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A15080X_2000D_HI08_HealthCareCodeInformation">
	<xs:annotation>
		<xs:documentation>Health Care Code Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC278A15080E_2000D_HI0801_DiagnosisTypeCode"/>
		<xs:attribute name="WPC278A150800_2000D_HI0802_DiagnosisCode"/>
		<xs:attribute name="WPC278A15080B_2000D_HI0803_DateTimePeriodFormatQualifier"/>
		<xs:attribute name="WPC278A15080H_2000D_HI0804_DiagnosisDate"/>
		<xs:attribute name="WPC278A15080C_2000D_HI0805_NotUsed"/>
		<xs:attribute name="WPC278A15080U_2000D_HI0806_NotUsed"/>
		<xs:attribute name="WPC278A15080A_2000D_HI0807_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A15080R_2000D_HI09_HealthCareCodeInformation">
	<xs:annotation>
		<xs:documentation>Health Care Code Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC278A15080Y_2000D_HI0901_DiagnosisTypeCode"/>
		<xs:attribute name="WPC278A15080B_2000D_HI0902_DiagnosisCode"/>
		<xs:attribute name="WPC278A150806_2000D_HI0903_DateTimePeriodFormatQualifier"/>
		<xs:attribute name="WPC278A15080V_2000D_HI0904_DiagnosisDate"/>
		<xs:attribute name="WPC278A15080Z_2000D_HI0905_NotUsed"/>
		<xs:attribute name="WPC278A15080M_2000D_HI0906_NotUsed"/>
		<xs:attribute name="WPC278A15080J_2000D_HI0907_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A150804_2000D_HI10_HealthCareCodeInformation">
	<xs:annotation>
		<xs:documentation>Health Care Code Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC278A15080L_2000D_HI1001_DiagnosisTypeCode"/>
		<xs:attribute name="WPC278A15080S_2000D_HI1002_DiagnosisCode"/>
		<xs:attribute name="WPC278A150806_2000D_HI1003_DateTimePeriodFormatQualifier"/>
		<xs:attribute name="WPC278A15080I_2000D_HI1004_DiagnosisDate"/>
		<xs:attribute name="WPC278A15080M_2000D_HI1005_NotUsed"/>
		<xs:attribute name="WPC278A15080B_2000D_HI1006_NotUsed"/>
		<xs:attribute name="WPC278A15080T_2000D_HI1007_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A15080G_2000D_HI11_HealthCareCodeInformation">
	<xs:annotation>
		<xs:documentation>Health Care Code Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC278A150805_2000D_HI1101_DiagnosisTypeCode"/>
		<xs:attribute name="WPC278A15080S_2000D_HI1102_DiagnosisCode"/>
		<xs:attribute name="WPC278A15080F_2000D_HI1103_DateTimePeriodFormatQualifier"/>
		<xs:attribute name="WPC278A15080G_2000D_HI1104_DiagnosisDate"/>
		<xs:attribute name="WPC278A15080I_2000D_HI1105_NotUsed"/>
		<xs:attribute name="WPC278A15080Z_2000D_HI1106_NotUsed"/>
		<xs:attribute name="WPC278A15080R_2000D_HI1107_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A15080R_2000D_HI12_HealthCareCodeInformation">
	<xs:annotation>
		<xs:documentation>Health Care Code Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC278A15080U_2000D_HI1201_DiagnosisTypeCode"/>
		<xs:attribute name="WPC278A150805_2000D_HI1202_DiagnosisCode"/>
		<xs:attribute name="WPC278A15080M_2000D_HI1203_DateTimePeriodFormatQualifier"/>
		<xs:attribute name="WPC278A15080H_2000D_HI1204_DiagnosisDate"/>
		<xs:attribute name="WPC278A15080D_2000D_HI1205_NotUsed"/>
		<xs:attribute name="WPC278A15080S_2000D_HI1206_NotUsed"/>
		<xs:attribute name="WPC278A15080Q_2000D_HI1207_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A15155_2000D_PWK_AdditionalPatientInformation">
	<xs:annotation>
		<xs:documentation>Additional Patient Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC278A15155I_2000D_PWK01_AttachmentReportTypeCode"/>
		<xs:attribute name="WPC278A15155N_2000D_PWK02_AttachmentTransmissionCode"/>
		<xs:attribute name="WPC278A15155F_2000D_PWK03_NotUsed"/>
		<xs:attribute name="WPC278A15155Z_2000D_PWK04_NotUsed"/>
		<xs:attribute name="WPC278A15155Y_2000D_PWK05_IdentificationCodeQualifier"/>
		<xs:attribute name="WPC278A15155I_2000D_PWK06_AttachmentControlNumber"/>
		<xs:attribute name="WPC278A15155R_2000D_PWK07_AttachmentDescription"/>
		<xs:attribute name="WPC278A15155F_2000D_PWK0800_NotUsed"/>
		<xs:attribute name="WPC278A15155T_2000D_PWK09_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A151700_2010DA">
	<xs:annotation>
		<xs:documentation>Dependent Name</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="WPC278A15170W_2010DA_NM1_DependentName" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC278A15180R_2010DA_REF_DependentSupplementalIdentification" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC278A15250B_2010DA_DMG_DependentDemographicInformation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC278A15260V_2010DA_INS_DependentRelationship" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A15170W_2010DA_NM1_DependentName">
	<xs:annotation>
		<xs:documentation>Dependent Name</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC278A15170_2010DA_NM101_EntityIdentifierCode"/>
		<xs:attribute name="WPC278A151701_2010DA_NM102_EntityTypeQualifier"/>
		<xs:attribute name="WPC278A15170P_2010DA_NM103_DependentLastName"/>
		<xs:attribute name="WPC278A15170_2010DA_NM104_DependentFirstName"/>
		<xs:attribute name="WPC278A15170O_2010DA_NM105_DependentMiddleName"/>
		<xs:attribute name="WPC278A15170P_2010DA_NM106_NotUsed"/>
		<xs:attribute name="WPC278A15170P_2010DA_NM107_DependentNameSuffix"/>
		<xs:attribute name="WPC278A15170W_2010DA_NM108_NotUsed"/>
		<xs:attribute name="WPC278A15170Y_2010DA_NM109_NotUsed"/>
		<xs:attribute name="WPC278A15170Q_2010DA_NM110_NotUsed"/>
		<xs:attribute name="WPC278A15170O_2010DA_NM111_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A15180R_2010DA_REF_DependentSupplementalIdentification">
	<xs:annotation>
		<xs:documentation>Dependent Supplemental Identification</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC278A15180B_2010DA_REF01_ReferenceIdentificationQualifier"/>
		<xs:attribute name="WPC278A15180P_2010DA_REF02_DependentSupplementalIdentifier"/>
		<xs:attribute name="WPC278A15180T_2010DA_REF03_NotUsed"/>
		<xs:attribute name="WPC278A15180O_2010DA_REF0400_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A15250B_2010DA_DMG_DependentDemographicInformation">
	<xs:annotation>
		<xs:documentation>Dependent Demographic Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC278A15250A_2010DA_DMG01_DateTimePeriodFormatQualifier"/>
		<xs:attribute name="WPC278A15250Z_2010DA_DMG02_DependentBirthDate"/>
		<xs:attribute name="WPC278A15250C_2010DA_DMG03_DependentGenderCode"/>
		<xs:attribute name="WPC278A15250R_2010DA_DMG04_NotUsed"/>
		<xs:attribute name="WPC278A15250_2010DA_DMG05_NotUsed"/>
		<xs:attribute name="WPC278A15250V_2010DA_DMG06_NotUsed"/>
		<xs:attribute name="WPC278A15250A_2010DA_DMG07_NotUsed"/>
		<xs:attribute name="WPC278A15250S_2010DA_DMG08_NotUsed"/>
		<xs:attribute name="WPC278A15250V_2010DA_DMG09_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A15260V_2010DA_INS_DependentRelationship">
	<xs:annotation>
		<xs:documentation>Dependent Relationship</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC278A152601_2010DA_INS01_InsuredIndicator"/>
		<xs:attribute name="WPC278A15260K_2010DA_INS02_IndividualRelationshipCode"/>
		<xs:attribute name="WPC278A15260Y_2010DA_INS03_NotUsed"/>
		<xs:attribute name="WPC278A15260O_2010DA_INS04_NotUsed"/>
		<xs:attribute name="WPC278A15260N_2010DA_INS05_NotUsed"/>
		<xs:attribute name="WPC278A15260H_2010DA_INS06_NotUsed"/>
		<xs:attribute name="WPC278A15260S_2010DA_INS07_NotUsed"/>
		<xs:attribute name="WPC278A152601_2010DA_INS08_NotUsed"/>
		<xs:attribute name="WPC278A15260A_2010DA_INS09_NotUsed"/>
		<xs:attribute name="WPC278A15260A_2010DA_INS10_NotUsed"/>
		<xs:attribute name="WPC278A15260F_2010DA_INS11_NotUsed"/>
		<xs:attribute name="WPC278A15260L_2010DA_INS12_NotUsed"/>
		<xs:attribute name="WPC278A152601_2010DA_INS13_NotUsed"/>
		<xs:attribute name="WPC278A15260V_2010DA_INS14_NotUsed"/>
		<xs:attribute name="WPC278A15260Q_2010DA_INS15_NotUsed"/>
		<xs:attribute name="WPC278A15260B_2010DA_INS16_NotUsed"/>
		<xs:attribute name="WPC278A15260H_2010DA_INS17_BirthSequenceNumber"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A16010Z_2000E">
	<xs:annotation>
		<xs:documentation>Service Provider Level</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="WPC278A160103_2000E_HL_ServiceProviderLevel" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC278A16160D_2000E_MSG_MessageText" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC278A16170S_2010E" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC278A17010J_2000F" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A160103_2000E_HL_ServiceProviderLevel">
	<xs:annotation>
		<xs:documentation>Service Provider Level</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC278A160103_2000E_HL01_HierarchicalIDNumber"/>
		<xs:attribute name="WPC278A16010A_2000E_HL02_HierarchicalParentIDNumber"/>
		<xs:attribute name="WPC278A16010N_2000E_HL03_HierarchicalLevelCode"/>
		<xs:attribute name="WPC278A160102_2000E_HL04_HierarchicalChildCode"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A16160D_2000E_MSG_MessageText">
	<xs:annotation>
		<xs:documentation>Message Text</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC278A16160J_2000E_MSG01_FreeFormMessageText"/>
		<xs:attribute name="WPC278A16160N_2000E_MSG02_NotUsed"/>
		<xs:attribute name="WPC278A161607_2000E_MSG03_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A16170S_2010E">
	<xs:annotation>
		<xs:documentation>Service Provider Name</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="WPC278A16170Y_2010E_NM1_ServiceProviderName" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC278A16180M_2010E_REF_ServiceProviderSupplementalIdentification" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC278A16200Z_2010E_N3_ServiceProviderAddress" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC278A162106_2010E_N4_ServiceProviderCityStateZIPCode" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC278A16220T_2010E_PER_ServiceProviderContactInformation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC278A16240C_2010E_PRV_ServiceProviderInformation" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A16170Y_2010E_NM1_ServiceProviderName">
	<xs:annotation>
		<xs:documentation>Service Provider Name</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC278A16170Q_2010E_NM101_EntityIdentifierCode"/>
		<xs:attribute name="WPC278A16170I_2010E_NM102_EntityTypeQualifier"/>
		<xs:attribute name="WPC278A16170N_2010E_NM103_ServiceProviderLastOrOrganizationName"/>
		<xs:attribute name="WPC278A16170K_2010E_NM104_ServiceProviderFirstName"/>
		<xs:attribute name="WPC278A16170W_2010E_NM105_ServiceProviderMiddleName"/>
		<xs:attribute name="WPC278A16170I_2010E_NM106_NotUsed"/>
		<xs:attribute name="WPC278A16170B_2010E_NM107_ServiceProviderNameSuffix"/>
		<xs:attribute name="WPC278A16170_2010E_NM108_IdentificationCodeQualifier"/>
		<xs:attribute name="WPC278A16170H_2010E_NM109_ServiceProviderIdentifier"/>
		<xs:attribute name="WPC278A16170P_2010E_NM110_NotUsed"/>
		<xs:attribute name="WPC278A16170U_2010E_NM111_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A16180M_2010E_REF_ServiceProviderSupplementalIdentification">
	<xs:annotation>
		<xs:documentation>Service Provider Supplemental Identification</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC278A16180M_2010E_REF01_ReferenceIdentificationQualifier"/>
		<xs:attribute name="WPC278A16180R_2010E_REF02_ServiceProviderSupplementalIdentifier"/>
		<xs:attribute name="WPC278A16180T_2010E_REF03_NotUsed"/>
		<xs:attribute name="WPC278A16180K_2010E_REF04_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A16200Z_2010E_N3_ServiceProviderAddress">
	<xs:annotation>
		<xs:documentation>Service Provider Address</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC278A16200B_2010E_N301_ServiceProviderAddressLine"/>
		<xs:attribute name="WPC278A162009_2010E_N302_ServiceProviderAddressLine"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A162106_2010E_N4_ServiceProviderCityStateZIPCode">
	<xs:annotation>
		<xs:documentation>Service Provider City/State/ZIP Code</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC278A16210A_2010E_N401_ServiceProviderCityName"/>
		<xs:attribute name="WPC278A162103_2010E_N402_ServiceProviderStateOrProvinceCode"/>
		<xs:attribute name="WPC278A16210Q_2010E_N403_ServiceProviderPostalZoneOrZIPCode"/>
		<xs:attribute name="WPC278A16210O_2010E_N404_ServiceProviderCountryCode"/>
		<xs:attribute name="WPC278A16210B_2010E_N405_NotUsed"/>
		<xs:attribute name="WPC278A16210Q_2010E_N406_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A16220T_2010E_PER_ServiceProviderContactInformation">
	<xs:annotation>
		<xs:documentation>Service Provider Contact Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC278A16220Z_2010E_PER01_ContactFunctionCode"/>
		<xs:attribute name="WPC278A16220_2010E_PER02_ServiceProviderContactName"/>
		<xs:attribute name="WPC278A162203_2010E_PER03_CommunicationNumberQualifier"/>
		<xs:attribute name="WPC278A162205_2010E_PER04_ServiceProviderContactCommunicationNumber"/>
		<xs:attribute name="WPC278A16220J_2010E_PER05_CommunicationNumberQualifier"/>
		<xs:attribute name="WPC278A16220F_2010E_PER06_ServiceProviderContactCommunicationNumber"/>
		<xs:attribute name="WPC278A162206_2010E_PER07_CommunicationNumberQualifier"/>
		<xs:attribute name="WPC278A16220Q_2010E_PER08_ServiceProviderContactCommunicationNumber"/>
		<xs:attribute name="WPC278A16220C_2010E_PER09_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A16240C_2010E_PRV_ServiceProviderInformation">
	<xs:annotation>
		<xs:documentation>Service Provider Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC278A16240W_2010E_PRV01_ProviderCode"/>
		<xs:attribute name="WPC278A16240_2010E_PRV02_ReferenceIdentificationQualifier"/>
		<xs:attribute name="WPC278A162400_2010E_PRV03_ProviderTaxonomyCode"/>
		<xs:attribute name="WPC278A16240S_2010E_PRV04_NotUsed"/>
		<xs:attribute name="WPC278A16240Z_2010E_PRV05_NotUsed"/>
		<xs:attribute name="WPC278A16240Y_2010E_PRV06_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A17010J_2000F">
	<xs:annotation>
		<xs:documentation>Service Level</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="WPC278A170108_2000F_HL_ServiceLevel" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC278A17020W_2000F_TRN_ServiceTraceNumber" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC278A17040M_2000F_UM_HealthCareServicesReviewInformation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC278A17060V_2000F_REF_PreviousCertificationIdentification" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC278A17070W_2000F_DTP_ServiceDate" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC278A17072L_2000F_DTP_AdmissionDate" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC278A170749_2000F_DTP_DischargeDate" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC278A17076Q_2000F_DTP_SurgeryDate" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC278A17080A_2000F_HI_Procedures" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC278A17090T_2000F_HSD_HealthCareServicesDelivery" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC278A17100V_2000F_CRC_PatientConditionInformation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC278A17110R_2000F_CL1_InstitutionalClaimCode" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC278A17120H_2000F_CR1_AmbulanceTransportInformation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC278A17130I_2000F_CR2_SpinalManipulationServiceInformation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC278A171400_2000F_CR5_HomeOxygenTherapyInformation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC278A171505_2000F_CR6_HomeHealthCareInformation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC278A17155V_2000F_PWK_AdditionalServiceInformation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC278A171605_2000F_MSG_MessageText" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A170108_2000F_HL_ServiceLevel">
	<xs:annotation>
		<xs:documentation>Service Level</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC278A17010Y_2000F_HL01_HierarchicalIDNumber"/>
		<xs:attribute name="WPC278A17010_2000F_HL02_HierarchicalParentIDNumber"/>
		<xs:attribute name="WPC278A17010H_2000F_HL03_HierarchicalLevelCode"/>
		<xs:attribute name="WPC278A170106_2000F_HL04_HierarchicalChildCode"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A17020W_2000F_TRN_ServiceTraceNumber">
	<xs:annotation>
		<xs:documentation>Service Trace Number</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC278A17020B_2000F_TRN01_TraceTypeCode"/>
		<xs:attribute name="WPC278A17020I_2000F_TRN02_ServiceTraceNumber"/>
		<xs:attribute name="WPC278A17020W_2000F_TRN03_TraceAssigningEntityIdentifier"/>
		<xs:attribute name="WPC278A17020I_2000F_TRN04_TraceAssigningEntityAdditionalIdentifier"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A17040M_2000F_UM_HealthCareServicesReviewInformation">
	<xs:annotation>
		<xs:documentation>Health Care Services Review Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="WPC278A17040T_2000F_UM04_HealthCareServiceLocationInformation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC278A17040T_2000F_UM05_RelatedCausesInformation" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="WPC278A170408_2000F_UM01_RequestCategoryCode"/>
		<xs:attribute name="WPC278A17040V_2000F_UM02_CertificationTypeCode"/>
		<xs:attribute name="WPC278A17040F_2000F_UM03_ServiceTypeCode"/>
		<xs:attribute name="WPC278A17040W_2000F_UM06_LevelOfServiceCode"/>
		<xs:attribute name="WPC278A17040U_2000F_UM07_CurrentHealthConditionCode"/>
		<xs:attribute name="WPC278A17040N_2000F_UM08_PrognosisCode"/>
		<xs:attribute name="WPC278A17040Z_2000F_UM09_ReleaseOfInformationCode"/>
		<xs:attribute name="WPC278A17040M_2000F_UM10_DelayReasonCode"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A17040T_2000F_UM04_HealthCareServiceLocationInformation">
	<xs:annotation>
		<xs:documentation>Health Care Service Location Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC278A17040B_2000F_UM0401_FacilityTypeCode"/>
		<xs:attribute name="WPC278A17040B_2000F_UM0402_FacilityCodeQualifier"/>
		<xs:attribute name="WPC278A17040X_2000F_UM0403_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A17040T_2000F_UM05_RelatedCausesInformation">
	<xs:annotation>
		<xs:documentation>Related Causes Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC278A170400_2000F_UM0501_RelatedCausesCode"/>
		<xs:attribute name="WPC278A17040N_2000F_UM0502_RelatedCausesCode"/>
		<xs:attribute name="WPC278A170408_2000F_UM0503_RelatedCausesCode"/>
		<xs:attribute name="WPC278A17040R_2000F_UM0504_StateCode"/>
		<xs:attribute name="WPC278A17040G_2000F_UM0505_CountryCode"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A17060V_2000F_REF_PreviousCertificationIdentification">
	<xs:annotation>
		<xs:documentation>Previous Certification Identification</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC278A17060_2000F_REF01_ReferenceIdentificationQualifier"/>
		<xs:attribute name="WPC278A17060O_2000F_REF02_PreviousCertificationIdentifier"/>
		<xs:attribute name="WPC278A17060A_2000F_REF03_NotUsed"/>
		<xs:attribute name="WPC278A17060B_2000F_REF04_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A17070W_2000F_DTP_ServiceDate">
	<xs:annotation>
		<xs:documentation>Service Date</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC278A17070Q_2000F_DTP01_DateTimeQualifier"/>
		<xs:attribute name="WPC278A17070U_2000F_DTP02_DateTimePeriodFormatQualifier"/>
		<xs:attribute name="WPC278A17070P_2000F_DTP03_ProposedOrActualServiceDate"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A17072L_2000F_DTP_AdmissionDate">
	<xs:annotation>
		<xs:documentation>Admission Date</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC278A17072_2000F_DTP01_DateTimeQualifier"/>
		<xs:attribute name="WPC278A17072F_2000F_DTP02_DateTimePeriodFormatQualifier"/>
		<xs:attribute name="WPC278A17072O_2000F_DTP03_ProposedOrActualAdmissionDate"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A170749_2000F_DTP_DischargeDate">
	<xs:annotation>
		<xs:documentation>Discharge Date</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC278A17074X_2000F_DTP01_DateTimeQualifier"/>
		<xs:attribute name="WPC278A170747_2000F_DTP02_DateTimePeriodFormatQualifier"/>
		<xs:attribute name="WPC278A17074B_2000F_DTP03_ProposedOrActualDischargeDate"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A17076Q_2000F_DTP_SurgeryDate">
	<xs:annotation>
		<xs:documentation>Surgery Date</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC278A170767_2000F_DTP01_DateTimeQualifier"/>
		<xs:attribute name="WPC278A17076_2000F_DTP02_DateTimePeriodFormatQualifier"/>
		<xs:attribute name="WPC278A170765_2000F_DTP03_ProposedOrActualSurgeryDate"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A17080A_2000F_HI_Procedures">
	<xs:annotation>
		<xs:documentation>Procedures</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="WPC278A17080V_2000F_HI01_HealthCareCodeInformation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC278A17080I_2000F_HI02_HealthCareCodeInformation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC278A17080K_2000F_HI03_HealthCareCodeInformation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC278A170805_2000F_HI04_HealthCareCodeInformation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC278A17080N_2000F_HI05_HealthCareCodeInformation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC278A17080U_2000F_HI06_HealthCareCodeInformation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC278A17080V_2000F_HI07_HealthCareCodeInformation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC278A170806_2000F_HI08_HealthCareCodeInformation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC278A17080E_2000F_HI09_HealthCareCodeInformation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC278A17080T_2000F_HI10_HealthCareCodeInformation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC278A17080I_2000F_HI11_HealthCareCodeInformation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC278A17080S_2000F_HI12_HealthCareCodeInformation" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A17080V_2000F_HI01_HealthCareCodeInformation">
	<xs:annotation>
		<xs:documentation>Health Care Code Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC278A17080E_2000F_HI0101_CodeListQualifierCode"/>
		<xs:attribute name="WPC278A170805_2000F_HI0102_ProcedureCode"/>
		<xs:attribute name="WPC278A17080T_2000F_HI0103_DateTimePeriodFormatQualifier"/>
		<xs:attribute name="WPC278A17080I_2000F_HI0104_ProcedureDate"/>
		<xs:attribute name="WPC278A17080K_2000F_HI0105_ProcedureMonetaryAmount"/>
		<xs:attribute name="WPC278A17080O_2000F_HI0106_ProcedureQuantity"/>
		<xs:attribute name="WPC278A170804_2000F_HI0107_VersionReleaseOrIndustryIdentifier"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A17080I_2000F_HI02_HealthCareCodeInformation">
	<xs:annotation>
		<xs:documentation>Health Care Code Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC278A17080D_2000F_HI0201_CodeListQualifierCode"/>
		<xs:attribute name="WPC278A17080V_2000F_HI0202_ProcedureCode"/>
		<xs:attribute name="WPC278A17080V_2000F_HI0203_DateTimePeriodFormatQualifier"/>
		<xs:attribute name="WPC278A17080H_2000F_HI0204_ProcedureDate"/>
		<xs:attribute name="WPC278A170805_2000F_HI0205_ProcedureMonetaryAmount"/>
		<xs:attribute name="WPC278A17080G_2000F_HI0206_ProcedureQuantity"/>
		<xs:attribute name="WPC278A17080E_2000F_HI0207_VersionReleaseOrIndustryIdentifier"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A17080K_2000F_HI03_HealthCareCodeInformation">
	<xs:annotation>
		<xs:documentation>Health Care Code Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC278A170806_2000F_HI0301_CodeListQualifierCode"/>
		<xs:attribute name="WPC278A17080C_2000F_HI0302_ProcedureCode"/>
		<xs:attribute name="WPC278A17080Q_2000F_HI0303_DateTimePeriodFormatQualifier"/>
		<xs:attribute name="WPC278A17080V_2000F_HI0304_ProcedureDate"/>
		<xs:attribute name="WPC278A17080D_2000F_HI0305_ProcedureMonetaryAmount"/>
		<xs:attribute name="WPC278A17080V_2000F_HI0306_ProcedureQuantity"/>
		<xs:attribute name="WPC278A17080P_2000F_HI0307_VersionReleaseOrIndustryIdentifier"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A170805_2000F_HI04_HealthCareCodeInformation">
	<xs:annotation>
		<xs:documentation>Health Care Code Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC278A17080O_2000F_HI0401_CodeListQualifierCode"/>
		<xs:attribute name="WPC278A17080U_2000F_HI0402_ProcedureCode"/>
		<xs:attribute name="WPC278A17080X_2000F_HI0403_DateTimePeriodFormatQualifier"/>
		<xs:attribute name="WPC278A17080E_2000F_HI0404_ProcedureDate"/>
		<xs:attribute name="WPC278A17080_2000F_HI0405_ProcedureMonetaryAmount"/>
		<xs:attribute name="WPC278A17080Y_2000F_HI0406_ProcedureQuantity"/>
		<xs:attribute name="WPC278A170803_2000F_HI0407_VersionReleaseOrIndustryIdentifier"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A17080N_2000F_HI05_HealthCareCodeInformation">
	<xs:annotation>
		<xs:documentation>Health Care Code Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC278A17080H_2000F_HI0501_CodeListQualifierCode"/>
		<xs:attribute name="WPC278A170803_2000F_HI0502_ProcedureCode"/>
		<xs:attribute name="WPC278A170804_2000F_HI0503_DateTimePeriodFormatQualifier"/>
		<xs:attribute name="WPC278A170800_2000F_HI0504_ProcedureDate"/>
		<xs:attribute name="WPC278A17080K_2000F_HI0505_ProcedureMonetaryAmount"/>
		<xs:attribute name="WPC278A17080N_2000F_HI0506_ProcedureQuantity"/>
		<xs:attribute name="WPC278A17080X_2000F_HI0507_VersionReleaseOrIndustryIdentifier"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A17080U_2000F_HI06_HealthCareCodeInformation">
	<xs:annotation>
		<xs:documentation>Health Care Code Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC278A17080F_2000F_HI0601_CodeListQualifierCode"/>
		<xs:attribute name="WPC278A17080Q_2000F_HI0602_ProcedureCode"/>
		<xs:attribute name="WPC278A17080_2000F_HI0603_DateTimePeriodFormatQualifier"/>
		<xs:attribute name="WPC278A17080P_2000F_HI0604_ProcedureDate"/>
		<xs:attribute name="WPC278A17080E_2000F_HI0605_ProcedureMonetaryAmount"/>
		<xs:attribute name="WPC278A17080B_2000F_HI0606_ProcedureQuantity"/>
		<xs:attribute name="WPC278A17080Q_2000F_HI0607_VersionReleaseOrIndustryIdentifier"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A17080V_2000F_HI07_HealthCareCodeInformation">
	<xs:annotation>
		<xs:documentation>Health Care Code Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC278A17080H_2000F_HI0701_CodeListQualifierCode"/>
		<xs:attribute name="WPC278A17080U_2000F_HI0702_ProcedureCode"/>
		<xs:attribute name="WPC278A17080J_2000F_HI0703_DateTimePeriodFormatQualifier"/>
		<xs:attribute name="WPC278A17080D_2000F_HI0704_ProcedureDate"/>
		<xs:attribute name="WPC278A17080M_2000F_HI0705_ProcedureMonetaryAmount"/>
		<xs:attribute name="WPC278A17080F_2000F_HI0706_ProcedureQuantity"/>
		<xs:attribute name="WPC278A17080X_2000F_HI0707_VersionReleaseOrIndustryIdentifier"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A170806_2000F_HI08_HealthCareCodeInformation">
	<xs:annotation>
		<xs:documentation>Health Care Code Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC278A17080Z_2000F_HI0801_CodeListQualifierCode"/>
		<xs:attribute name="WPC278A17080J_2000F_HI0802_ProcedureCode"/>
		<xs:attribute name="WPC278A17080K_2000F_HI0803_DateTimePeriodFormatQualifier"/>
		<xs:attribute name="WPC278A17080B_2000F_HI0804_ProcedureDate"/>
		<xs:attribute name="WPC278A17080D_2000F_HI0805_ProcedureMonetaryAmount"/>
		<xs:attribute name="WPC278A17080O_2000F_HI0806_ProcedureQuantity"/>
		<xs:attribute name="WPC278A17080K_2000F_HI0807_VersionReleaseOrIndustryIdentifier"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A17080E_2000F_HI09_HealthCareCodeInformation">
	<xs:annotation>
		<xs:documentation>Health Care Code Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC278A17080U_2000F_HI0901_CodeListQualifierCode"/>
		<xs:attribute name="WPC278A17080P_2000F_HI0902_ProcedureCode"/>
		<xs:attribute name="WPC278A17080A_2000F_HI0903_DateTimePeriodFormatQualifier"/>
		<xs:attribute name="WPC278A17080O_2000F_HI0904_ProcedureDate"/>
		<xs:attribute name="WPC278A170805_2000F_HI0905_ProcedureMonetaryAmount"/>
		<xs:attribute name="WPC278A17080C_2000F_HI0906_ProcedureQuantity"/>
		<xs:attribute name="WPC278A17080V_2000F_HI0907_VersionReleaseOrIndustryIdentifier"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A17080T_2000F_HI10_HealthCareCodeInformation">
	<xs:annotation>
		<xs:documentation>Health Care Code Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC278A17080A_2000F_HI1001_CodeListQualifierCode"/>
		<xs:attribute name="WPC278A17080F_2000F_HI1002_ProcedureCode"/>
		<xs:attribute name="WPC278A17080P_2000F_HI1003_DateTimePeriodFormatQualifier"/>
		<xs:attribute name="WPC278A17080E_2000F_HI1004_ProcedureDate"/>
		<xs:attribute name="WPC278A17080K_2000F_HI1005_ProcedureMonetaryAmount"/>
		<xs:attribute name="WPC278A17080_2000F_HI1006_ProcedureQuantity"/>
		<xs:attribute name="WPC278A17080L_2000F_HI1007_VersionReleaseOrIndustryIdentifier"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A17080I_2000F_HI11_HealthCareCodeInformation">
	<xs:annotation>
		<xs:documentation>Health Care Code Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC278A17080F_2000F_HI1101_CodeListQualifierCode"/>
		<xs:attribute name="WPC278A17080B_2000F_HI1102_ProcedureCode"/>
		<xs:attribute name="WPC278A170800_2000F_HI1103_DateTimePeriodFormatQualifier"/>
		<xs:attribute name="WPC278A17080I_2000F_HI1104_ProcedureDate"/>
		<xs:attribute name="WPC278A17080G_2000F_HI1105_ProcedureMonetaryAmount"/>
		<xs:attribute name="WPC278A17080Q_2000F_HI1106_ProcedureQuantity"/>
		<xs:attribute name="WPC278A17080T_2000F_HI1107_VersionReleaseOrIndustryIdentifier"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A17080S_2000F_HI12_HealthCareCodeInformation">
	<xs:annotation>
		<xs:documentation>Health Care Code Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC278A17080U_2000F_HI1201_CodeListQualifierCode"/>
		<xs:attribute name="WPC278A17080Y_2000F_HI1202_ProcedureCode"/>
		<xs:attribute name="WPC278A17080Z_2000F_HI1203_DateTimePeriodFormatQualifier"/>
		<xs:attribute name="WPC278A17080_2000F_HI1204_ProcedureDate"/>
		<xs:attribute name="WPC278A17080B_2000F_HI1205_ProcedureMonetaryAmount"/>
		<xs:attribute name="WPC278A17080T_2000F_HI1206_ProcedureQuantity"/>
		<xs:attribute name="WPC278A17080L_2000F_HI1207_VersionReleaseOrIndustryIdentifier"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A17090T_2000F_HSD_HealthCareServicesDelivery">
	<xs:annotation>
		<xs:documentation>Health Care Services Delivery</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC278A17090M_2000F_HSD01_QuantityQualifier"/>
		<xs:attribute name="WPC278A17090H_2000F_HSD02_ServiceUnitCount"/>
		<xs:attribute name="WPC278A17090R_2000F_HSD03_UnitOrBasisForMeasurementCode"/>
		<xs:attribute name="WPC278A17090J_2000F_HSD04_SampleSelectionModulus"/>
		<xs:attribute name="WPC278A17090F_2000F_HSD05_TimePeriodQualifier"/>
		<xs:attribute name="WPC278A17090H_2000F_HSD06_PeriodCount"/>
		<xs:attribute name="WPC278A17090Y_2000F_HSD07_ShipDeliveryOrCalendarPatternCode"/>
		<xs:attribute name="WPC278A17090M_2000F_HSD08_DeliveryPatternTimeCode"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A17100V_2000F_CRC_PatientConditionInformation">
	<xs:annotation>
		<xs:documentation>Patient Condition Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC278A17100I_2000F_CRC01_CodeCategory"/>
		<xs:attribute name="WPC278A17100V_2000F_CRC02_CertificationConditionIndicator"/>
		<xs:attribute name="WPC278A17100Y_2000F_CRC03_ConditionCode"/>
		<xs:attribute name="WPC278A17100Y_2000F_CRC04_ConditionCode"/>
		<xs:attribute name="WPC278A17100J_2000F_CRC05_ConditionCode"/>
		<xs:attribute name="WPC278A17100N_2000F_CRC06_ConditionCode"/>
		<xs:attribute name="WPC278A17100Q_2000F_CRC07_ConditionCode"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A17110R_2000F_CL1_InstitutionalClaimCode">
	<xs:annotation>
		<xs:documentation>Institutional Claim Code</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC278A17110R_2000F_CL101_AdmissionTypeCode"/>
		<xs:attribute name="WPC278A17110J_2000F_CL102_AdmissionSourceCode"/>
		<xs:attribute name="WPC278A17110T_2000F_CL103_PatientStatusCode"/>
		<xs:attribute name="WPC278A17110N_2000F_CL104_NursingHomeResidentialStatusCode"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A17120H_2000F_CR1_AmbulanceTransportInformation">
	<xs:annotation>
		<xs:documentation>Ambulance Transport Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC278A17120F_2000F_CR101_UnitOrBasisForMeasurementCode"/>
		<xs:attribute name="WPC278A171203_2000F_CR102_PatientWeight"/>
		<xs:attribute name="WPC278A171206_2000F_CR103_AmbulanceTransportCode"/>
		<xs:attribute name="WPC278A17120S_2000F_CR104_AmbulanceTransportReasonCode"/>
		<xs:attribute name="WPC278A17120_2000F_CR105_UnitOrBasisForMeasurementCode"/>
		<xs:attribute name="WPC278A171201_2000F_CR106_TransportDistance"/>
		<xs:attribute name="WPC278A171207_2000F_CR107_AmbulanceTripOriginAddress"/>
		<xs:attribute name="WPC278A17120V_2000F_CR108_AmbulanceTripDestinationAddress"/>
		<xs:attribute name="WPC278A17120G_2000F_CR109_RoundTripPurposeDescription"/>
		<xs:attribute name="WPC278A17120E_2000F_CR110_StretcherPurposeDescription"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A17130I_2000F_CR2_SpinalManipulationServiceInformation">
	<xs:annotation>
		<xs:documentation>Spinal Manipulation Service Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC278A17130G_2000F_CR201_TreatmentSeriesNumber"/>
		<xs:attribute name="WPC278A171306_2000F_CR202_TreatmentCount"/>
		<xs:attribute name="WPC278A17130_2000F_CR203_SubluxationLevelCode"/>
		<xs:attribute name="WPC278A17130V_2000F_CR204_SubluxationLevelCode"/>
		<xs:attribute name="WPC278A17130R_2000F_CR205_UnitOrBasisForMeasurementCode"/>
		<xs:attribute name="WPC278A17130_2000F_CR206_TreatmentPeriodCount"/>
		<xs:attribute name="WPC278A171307_2000F_CR207_MonthlyTreatmentCount"/>
		<xs:attribute name="WPC278A17130U_2000F_CR208_PatientConditionCode"/>
		<xs:attribute name="WPC278A17130Q_2000F_CR209_ComplicationIndicator"/>
		<xs:attribute name="WPC278A17130L_2000F_CR210_PatientConditionDescription"/>
		<xs:attribute name="WPC278A17130K_2000F_CR211_PatientConditionDescription"/>
		<xs:attribute name="WPC278A17130Z_2000F_CR212_XRayAvailabilityIndicator"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A171400_2000F_CR5_HomeOxygenTherapyInformation">
	<xs:annotation>
		<xs:documentation>Home Oxygen Therapy Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC278A17140S_2000F_CR501_NotUsed"/>
		<xs:attribute name="WPC278A171404_2000F_CR502_NotUsed"/>
		<xs:attribute name="WPC278A17140J_2000F_CR503_OxygenEquipmentTypeCode"/>
		<xs:attribute name="WPC278A171404_2000F_CR504_OxygenEquipmentTypeCode"/>
		<xs:attribute name="WPC278A17140V_2000F_CR505_EquipmentReasonDescription"/>
		<xs:attribute name="WPC278A171405_2000F_CR506_OxygenFlowRate"/>
		<xs:attribute name="WPC278A171403_2000F_CR507_DailyOxygenUseCount"/>
		<xs:attribute name="WPC278A171402_2000F_CR508_OxygenUsePeriodHourCount"/>
		<xs:attribute name="WPC278A17140W_2000F_CR509_RespiratoryTherapistOrderText"/>
		<xs:attribute name="WPC278A17140_2000F_CR510_ArterialBloodGasQuantity"/>
		<xs:attribute name="WPC278A17140V_2000F_CR511_OxygenSaturationQuantity"/>
		<xs:attribute name="WPC278A171404_2000F_CR512_OxygenTestConditionCode"/>
		<xs:attribute name="WPC278A17140L_2000F_CR513_OxygenTestFindingsCode"/>
		<xs:attribute name="WPC278A17140H_2000F_CR514_OxygenTestFindingsCode"/>
		<xs:attribute name="WPC278A17140A_2000F_CR515_OxygenTestFindingsCode"/>
		<xs:attribute name="WPC278A171409_2000F_CR516_PortableOxygenSystemFlowRate"/>
		<xs:attribute name="WPC278A171408_2000F_CR517_OxygenDeliverySystemCode"/>
		<xs:attribute name="WPC278A17140M_2000F_CR518_OxygenEquipmentTypeCode"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A171505_2000F_CR6_HomeHealthCareInformation">
	<xs:annotation>
		<xs:documentation>Home Health Care Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC278A17150C_2000F_CR601_PrognosisCode"/>
		<xs:attribute name="WPC278A17150B_2000F_CR602_ServiceFromDate"/>
		<xs:attribute name="WPC278A17150B_2000F_CR603_DateTimePeriodFormatQualifier"/>
		<xs:attribute name="WPC278A17150W_2000F_CR604_HomeHealthCertificationPeriod"/>
		<xs:attribute name="WPC278A17150J_2000F_CR605_NotUsed"/>
		<xs:attribute name="WPC278A17150Y_2000F_CR606_SkilledNursingFacilityIndicator"/>
		<xs:attribute name="WPC278A17150H_2000F_CR607_MedicareCoverageIndicator"/>
		<xs:attribute name="WPC278A17150A_2000F_CR608_CertificationTypeCode"/>
		<xs:attribute name="WPC278A171507_2000F_CR609_SurgeryDate"/>
		<xs:attribute name="WPC278A17150W_2000F_CR610_ProductOrServiceIDQualifier"/>
		<xs:attribute name="WPC278A171502_2000F_CR611_SurgicalProcedureCode"/>
		<xs:attribute name="WPC278A17150O_2000F_CR612_PhysicianOrderDate"/>
		<xs:attribute name="WPC278A17150B_2000F_CR613_LastVisitDate"/>
		<xs:attribute name="WPC278A17150R_2000F_CR614_PhysicianContactDate"/>
		<xs:attribute name="WPC278A17150Z_2000F_CR615_DateTimePeriodFormatQualifier"/>
		<xs:attribute name="WPC278A17150P_2000F_CR616_LastAdmissionPeriod"/>
		<xs:attribute name="WPC278A17150R_2000F_CR617_PatientDischargeFacilityTypeCode"/>
		<xs:attribute name="WPC278A17150M_2000F_CR618_NotUsed"/>
		<xs:attribute name="WPC278A17150W_2000F_CR619_NotUsed"/>
		<xs:attribute name="WPC278A17150D_2000F_CR620_NotUsed"/>
		<xs:attribute name="WPC278A17150O_2000F_CR621_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A17155V_2000F_PWK_AdditionalServiceInformation">
	<xs:annotation>
		<xs:documentation>Additional Service Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC278A17155T_2000F_PWK01_AttachmentReportTypeCode"/>
		<xs:attribute name="WPC278A17155V_2000F_PWK02_AttachmentTransmissionCode"/>
		<xs:attribute name="WPC278A17155B_2000F_PWK03_NotUsed"/>
		<xs:attribute name="WPC278A17155O_2000F_PWK04_NotUsed"/>
		<xs:attribute name="WPC278A17155_2000F_PWK05_IdentificationCodeQualifier"/>
		<xs:attribute name="WPC278A17155Z_2000F_PWK06_AttachmentControlNumber"/>
		<xs:attribute name="WPC278A17155Y_2000F_PWK07_AttachmentDescription"/>
		<xs:attribute name="WPC278A17155U_2000F_PWK0800_NotUsed"/>
		<xs:attribute name="WPC278A17155Z_2000F_PWK09_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC278A171605_2000F_MSG_MessageText">
	<xs:annotation>
		<xs:documentation>Message Text</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC278A17160E_2000F_MSG01_FreeFormMessageText"/>
		<xs:attribute name="WPC278A17160Y_2000F_MSG02_NotUsed"/>
		<xs:attribute name="WPC278A17160R_2000F_MSG03_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC_IProc">
	<xs:annotation>
		<xs:documentation>WPC IProc</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="WPC_IProcEvnt" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC_Errors" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="X12_Envelope" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:element name="WPC_IProcEvnt">
	<xs:annotation>
		<xs:documentation>WPC IProcEvent</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="src" use="optional"/>
		<xs:attribute name="type" use="optional"/>
		<xs:attribute name="dt" use="optional"/>
		<xs:attribute name="hsh" use="optional"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC_Errors">
	<xs:annotation>
		<xs:documentation>WPC Error Collection</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="Violation" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:element name="Violation">
	<xs:annotation>
		<xs:documentation>Violation Detail</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="ErrorType" use="required">
			<xs:annotation>
				<xs:documentation>Enumeration of error type</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="FileID">
			<xs:annotation>
				<xs:documentation>Identifier of original submission</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TraceNumber">
			<xs:annotation>
				<xs:documentation>Application layer trace identifier</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ViolationLocation">
			<xs:annotation>
				<xs:documentation>Location of errant data</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ViolationDescription">
			<xs:annotation>
				<xs:documentation>Text description of violation</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="RuleProcessor">
			<xs:annotation>
				<xs:documentation>Rule processor identifier</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="RuleSource">
			<xs:annotation>
				<xs:documentation>Source identifier of violated rule</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="RuleViolationText">
			<xs:annotation>
				<xs:documentation>Text description of rule</xs:documentation>
			</xs:annotation>
		</xs:attribute>			
		<xs:attribute name="BadDataContent">
			<xs:annotation>
				<xs:documentation>Errant data found in violation of indicated rule</xs:documentation>
			</xs:annotation>
		</xs:attribute>			
	</xs:complexType>
</xs:element>
<xs:element name="X12_Envelope">
	<xs:annotation>
		<xs:documentation>X12 Envelope</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="ISA_InterchangeControlHeader" minOccurs="0"/>
			<xs:element ref="GS_FunctionalGroupHeader" minOccurs="0"/>
			<xs:element ref="ST_TransactionSetHeader" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:element name="ST_TransactionSetHeader">
	<xs:annotation>
		<xs:documentation>Transaction Set Header</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="ST01__TransactionSetIdentifierCode" use="optional"/>
		<xs:attribute name="ST02__TransactionSetControlNumber" use="optional"/>
	</xs:complexType>
</xs:element>
<xs:element name="GS_FunctionalGroupHeader">
	<xs:annotation>
		<xs:documentation>Functional Group Header</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="GS01__FunctionalIdentifierCode" use="optional"/>
		<xs:attribute name="GS02__ApplicationSendersCode" use="optional"/>
		<xs:attribute name="GS03__ApplicationReceiversCode" use="optional"/>
		<xs:attribute name="GS04__Date" use="optional"/>
		<xs:attribute name="GS05__Time" use="optional"/>
		<xs:attribute name="GS06__GroupControlNumber" use="optional"/>
		<xs:attribute name="GS07__ResponsibleAgencyCode" use="optional"/>
		<xs:attribute name="GS08__VersionReleaseIndustryIdentifierCode" use="optional"/>
	</xs:complexType>
</xs:element>
<xs:element name="ISA_InterchangeControlHeader">
	<xs:annotation>
		<xs:documentation>Interchange Control Header</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="ISA01__AuthorizationInformationQualifier" use="optional"/>
		<xs:attribute name="ISA02__AuthorizationInformation" use="optional"/>
		<xs:attribute name="ISA03__SecurityInformationQualifier" use="optional"/>
		<xs:attribute name="ISA04__SecurityInformation" use="optional"/>
		<xs:attribute name="ISA05__InterchangeIDQualifier" use="optional"/>
		<xs:attribute name="ISA06__InterchangeSenderID" use="optional"/>
		<xs:attribute name="ISA07__InterchangeIDQualifier" use="optional"/>
		<xs:attribute name="ISA08__InterchangeReceiverID" use="optional"/>
		<xs:attribute name="ISA09__InterchangeDate" use="optional"/>
		<xs:attribute name="ISA10__InterchangeTime" use="optional"/>
		<xs:attribute name="ISA11__InterchangeControlStandardsIdentifier" use="optional"/>
		<xs:attribute name="ISA12__InterchangeControlVersionNumber" use="optional"/>
		<xs:attribute name="ISA13__InterchangeControlNumber" use="optional"/>
		<xs:attribute name="ISA14__AcknowledgmentRequested" use="optional"/>
		<xs:attribute name="ISA15__UsageIndicator" use="optional"/>
		<xs:attribute name="ISA16__ComponentElementSeparator" use="optional"/>
	</xs:complexType>
</xs:element>
</xs:schema>


