src/main/resources/x12/834_A1.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- (c)Copyright 2004 Washington Publishing Company (http://www.wpc-edi.com) -->
<xs:schema version="1.0"  xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wpc="http://schemas.wpc-edi.com/X12/ISOMORPH/HIPAA/4010A1" targetNamespace="http://schemas.wpc-edi.com/X12/ISOMORPH/HIPAA/4010A1/WPC834A1" xmlns="http://schemas.wpc-edi.com/X12/ISOMORPH/HIPAA/4010A1/WPC834A1" >
<xs:annotation>
	<xs:documentation xml:lang="en"> 
		HIPAA Schema WPC834A1 - Washington Publishing Company (http://www.wpc-edi.com)
		Copyright (C) 2004 Washington Publishing Company
		This program is free software; you can redistribute it and/or
		modify it under the terms of the GNU General Public License
		as published by the Free Software Foundation; Version 2.
		This program is distributed in the hope that it will be useful,
		but WITHOUT ANY WARRANTY; without even the implied warranty of
		MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
		GNU General Public License for more details.
	</xs:documentation>
</xs:annotation>
<xs:element name="WPC834A1">
	<xs:annotation>
		<xs:documentation>Benefit Enrollment and Maintenance</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="WPC_IProc" minOccurs="0" maxOccurs="1" />
			<xs:element ref="WPC834A110200__BGN_BeginningSegment" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC834A11030A__REF_TransactionSetPolicyNumber" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC834A110405__DTP_FileEffectiveDate" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC834A11070U_1000A" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC834A11190F_1000B" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC834A11310I_1000C" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC834A12010F_2000" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:element name="WPC834A110200__BGN_BeginningSegment">
	<xs:annotation>
		<xs:documentation>Beginning Segment</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC834A11020G__BGN01_TransactionSetPurposeCode"/>
		<xs:attribute name="WPC834A11020Q__BGN02_TransactionSetIdentifierCode"/>
		<xs:attribute name="WPC834A11020Y__BGN03_TransactionSetCreationDate"/>
		<xs:attribute name="WPC834A11020P__BGN04_TransactionSetCreationTime"/>
		<xs:attribute name="WPC834A11020M__BGN05_TimeZoneCode"/>
		<xs:attribute name="WPC834A11020S__BGN06_TransactionSetIdentifierCode"/>
		<xs:attribute name="WPC834A110208__BGN07_NotUsed"/>
		<xs:attribute name="WPC834A11020G__BGN08_ActionCode"/>
		<xs:attribute name="WPC834A11020R__BGN09_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC834A11030A__REF_TransactionSetPolicyNumber">
	<xs:annotation>
		<xs:documentation>Transaction Set Policy Number</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC834A11030Q__REF01_ReferenceIdentificationQualifier"/>
		<xs:attribute name="WPC834A11030S__REF02_MasterPolicyNumber"/>
		<xs:attribute name="WPC834A11030Y__REF03_NotUsed"/>
		<xs:attribute name="WPC834A11030C__REF04_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC834A110405__DTP_FileEffectiveDate">
	<xs:annotation>
		<xs:documentation>File Effective Date</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC834A11040O__DTP01_DateTimeQualifier"/>
		<xs:attribute name="WPC834A11040Y__DTP02_DateTimePeriodFormatQualifier"/>
		<xs:attribute name="WPC834A11040X__DTP03_DateTimePeriod"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC834A11070U_1000A">
	<xs:annotation>
		<xs:documentation>Sponsor Name</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="WPC834A11070K_1000A_N1_SponsorName" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:element name="WPC834A11070K_1000A_N1_SponsorName">
	<xs:annotation>
		<xs:documentation>Sponsor Name</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC834A11070T_1000A_N101_EntityIdentifierCode"/>
		<xs:attribute name="WPC834A11070F_1000A_N102_PlanSponsorName"/>
		<xs:attribute name="WPC834A11070V_1000A_N103_IdentificationCodeQualifier"/>
		<xs:attribute name="WPC834A11070Y_1000A_N104_SponsorIdentifier"/>
		<xs:attribute name="WPC834A110708_1000A_N105_NotUsed"/>
		<xs:attribute name="WPC834A11070C_1000A_N106_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC834A11190F_1000B">
	<xs:annotation>
		<xs:documentation>Payer</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="WPC834A11190E_1000B_N1_Payer" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:element name="WPC834A11190E_1000B_N1_Payer">
	<xs:annotation>
		<xs:documentation>Payer</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC834A11190L_1000B_N101_EntityIdentifierCode"/>
		<xs:attribute name="WPC834A11190S_1000B_N102_InsurerName"/>
		<xs:attribute name="WPC834A11190R_1000B_N103_IdentificationCodeQualifier"/>
		<xs:attribute name="WPC834A11190O_1000B_N104_InsurerIdentificationCode"/>
		<xs:attribute name="WPC834A11190Z_1000B_N105_NotUsed"/>
		<xs:attribute name="WPC834A111904_1000B_N106_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC834A11310I_1000C">
	<xs:annotation>
		<xs:documentation>TPA/Broker Name</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="WPC834A11310U_1000C_N1_TPABrokerName" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC834A11360U_1100C" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:element name="WPC834A11310U_1000C_N1_TPABrokerName">
	<xs:annotation>
		<xs:documentation>TPA/Broker Name</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC834A11310C_1000C_N101_EntityIdentifierCode"/>
		<xs:attribute name="WPC834A11310Z_1000C_N102_TPAOrBrokerName"/>
		<xs:attribute name="WPC834A11310V_1000C_N103_IdentificationCodeQualifier"/>
		<xs:attribute name="WPC834A11310I_1000C_N104_TPAOrBrokerIdentificationCode"/>
		<xs:attribute name="WPC834A11310P_1000C_N105_NotUsed"/>
		<xs:attribute name="WPC834A113107_1000C_N106_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC834A11360U_1100C">
	<xs:annotation>
		<xs:documentation>TPA/Broker Account Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="WPC834A113601_1100C_ACT_TPABrokerAccountInformation" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:element name="WPC834A113601_1100C_ACT_TPABrokerAccountInformation">
	<xs:annotation>
		<xs:documentation>TPA/Broker Account Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC834A11360_1100C_ACT01_TPAOrBrokerAccountNumber"/>
		<xs:attribute name="WPC834A11360S_1100C_ACT02_NotUsed"/>
		<xs:attribute name="WPC834A11360W_1100C_ACT03_NotUsed"/>
		<xs:attribute name="WPC834A11360T_1100C_ACT04_NotUsed"/>
		<xs:attribute name="WPC834A113604_1100C_ACT05_NotUsed"/>
		<xs:attribute name="WPC834A113605_1100C_ACT06_TPAOrBrokerAccountNumber"/>
		<xs:attribute name="WPC834A11360C_1100C_ACT07_NotUsed"/>
		<xs:attribute name="WPC834A11360K_1100C_ACT08_NotUsed"/>
		<xs:attribute name="WPC834A113603_1100C_ACT09_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC834A12010F_2000">
	<xs:annotation>
		<xs:documentation>Member Level Detail</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="WPC834A12010Q_2000_INS_MemberLevelDetail" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC834A12020W_2000_REF_SubscriberNumber" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC834A12022I_2000_REF_MemberPolicyNumber" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC834A12024Y_2000_REF_MemberIdentificationNumber" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC834A12025S_2000_REF_PriorCoverageMonths" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC834A12029D_2000_DTP_MemberLevelDates" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC834A12030X_2100A" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC834A13030M_2100B" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC834A14030D_2100C" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC834A15030N_2100D" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC834A16030R_2100E" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC834A17030H_2100F" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC834A18030J_2100G" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC834A19200I_2200" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC834A192605_2300" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:element name="WPC834A12010Q_2000_INS_MemberLevelDetail">
	<xs:annotation>
		<xs:documentation>Member Level Detail</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC834A12010_2000_INS01_InsuredIndicator"/>
		<xs:attribute name="WPC834A12010T_2000_INS02_IndividualRelationshipCode"/>
		<xs:attribute name="WPC834A12010A_2000_INS03_MaintenanceTypeCode"/>
		<xs:attribute name="WPC834A120109_2000_INS04_MaintenanceReasonCode"/>
		<xs:attribute name="WPC834A12010O_2000_INS05_BenefitStatusCode"/>
		<xs:attribute name="WPC834A12010_2000_INS06_MedicarePlanCode"/>
		<xs:attribute name="WPC834A120109_2000_INS07_ConsolidatedOmnibusBudgetReconciliationActCOBRAQualifyingEventCode"/>
		<xs:attribute name="WPC834A12010L_2000_INS08_EmploymentStatusCode"/>
		<xs:attribute name="WPC834A12010Y_2000_INS09_StudentStatusCode"/>
		<xs:attribute name="WPC834A12010B_2000_INS10_HandicapIndicator"/>
		<xs:attribute name="WPC834A12010D_2000_INS11_DateTimePeriodFormatQualifier"/>
		<xs:attribute name="WPC834A12010R_2000_INS12_InsuredIndividualDeathDate"/>
		<xs:attribute name="WPC834A12010S_2000_INS13_NotUsed"/>
		<xs:attribute name="WPC834A12010V_2000_INS14_NotUsed"/>
		<xs:attribute name="WPC834A12010_2000_INS15_NotUsed"/>
		<xs:attribute name="WPC834A12010L_2000_INS16_NotUsed"/>
		<xs:attribute name="WPC834A12010_2000_INS17_BirthSequenceNumber"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC834A12020W_2000_REF_SubscriberNumber">
	<xs:annotation>
		<xs:documentation>Subscriber Number</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC834A12020A_2000_REF01_ReferenceIdentificationQualifier"/>
		<xs:attribute name="WPC834A12020A_2000_REF02_SubscriberIdentifier"/>
		<xs:attribute name="WPC834A12020L_2000_REF03_NotUsed"/>
		<xs:attribute name="WPC834A12020Y_2000_REF04_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC834A12022I_2000_REF_MemberPolicyNumber">
	<xs:annotation>
		<xs:documentation>Member Policy Number</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC834A12022T_2000_REF01_ReferenceIdentificationQualifier"/>
		<xs:attribute name="WPC834A12022Y_2000_REF02_InsuredGroupOrPolicyNumber"/>
		<xs:attribute name="WPC834A12022F_2000_REF03_NotUsed"/>
		<xs:attribute name="WPC834A120227_2000_REF04_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC834A12024Y_2000_REF_MemberIdentificationNumber">
	<xs:annotation>
		<xs:documentation>Member Identification Number</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC834A12024C_2000_REF01_ReferenceIdentificationQualifier"/>
		<xs:attribute name="WPC834A120249_2000_REF02_SubscriberSupplementalIdentifier"/>
		<xs:attribute name="WPC834A12024P_2000_REF03_NotUsed"/>
		<xs:attribute name="WPC834A12024L_2000_REF04_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC834A12025S_2000_REF_PriorCoverageMonths">
	<xs:annotation>
		<xs:documentation>Prior Coverage Months</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC834A120255_2000_REF01_ReferenceIdentificationQualifier"/>
		<xs:attribute name="WPC834A12025T_2000_REF02_PriorCoverageMonthCount"/>
		<xs:attribute name="WPC834A12025Q_2000_REF03_NotUsed"/>
		<xs:attribute name="WPC834A12025Y_2000_REF04_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC834A12029D_2000_DTP_MemberLevelDates">
	<xs:annotation>
		<xs:documentation>Member Level Dates</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC834A12029G_2000_DTP01_DateTimeQualifier"/>
		<xs:attribute name="WPC834A12029M_2000_DTP02_DateTimePeriodFormatQualifier"/>
		<xs:attribute name="WPC834A120296_2000_DTP03_StatusInformationEffectiveDate"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC834A12030X_2100A">
	<xs:annotation>
		<xs:documentation>Member Name</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="WPC834A12030B_2100A_NM1_MemberName" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC834A12040J_2100A_PER_MemberCommunicationsNumbers" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC834A12050L_2100A_N3_MemberResidenceStreetAddress" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC834A12060A_2100A_N4_MemberResidenceCityStateZIPCode" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC834A12080T_2100A_DMG_MemberDemographics" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC834A12110J_2100A_ICM_MemberIncome" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC834A12120V_2100A_AMT_MemberPolicyAmounts" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC834A12130B_2100A_HLH_MemberHealthInformation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC834A12150U_2100A_LUI_MemberLanguage" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:element name="WPC834A12030B_2100A_NM1_MemberName">
	<xs:annotation>
		<xs:documentation>Member Name</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC834A12030A_2100A_NM101_EntityIdentifierCode"/>
		<xs:attribute name="WPC834A120304_2100A_NM102_EntityTypeQualifier"/>
		<xs:attribute name="WPC834A12030F_2100A_NM103_SubscriberLastName"/>
		<xs:attribute name="WPC834A12030M_2100A_NM104_SubscriberFirstName"/>
		<xs:attribute name="WPC834A12030X_2100A_NM105_SubscriberMiddleName"/>
		<xs:attribute name="WPC834A12030F_2100A_NM106_SubscriberNamePrefix"/>
		<xs:attribute name="WPC834A12030E_2100A_NM107_SubscriberNameSuffix"/>
		<xs:attribute name="WPC834A12030Y_2100A_NM108_IdentificationCodeQualifier"/>
		<xs:attribute name="WPC834A12030E_2100A_NM109_SubscriberIdentifier"/>
		<xs:attribute name="WPC834A12030E_2100A_NM110_NotUsed"/>
		<xs:attribute name="WPC834A12030T_2100A_NM111_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC834A12040J_2100A_PER_MemberCommunicationsNumbers">
	<xs:annotation>
		<xs:documentation>Member Communications Numbers</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC834A12040W_2100A_PER01_ContactFunctionCode"/>
		<xs:attribute name="WPC834A12040P_2100A_PER02_NotUsed"/>
		<xs:attribute name="WPC834A12040F_2100A_PER03_CommunicationNumberQualifier"/>
		<xs:attribute name="WPC834A12040F_2100A_PER04_CommunicationNumber"/>
		<xs:attribute name="WPC834A12040Y_2100A_PER05_CommunicationNumberQualifier"/>
		<xs:attribute name="WPC834A120403_2100A_PER06_CommunicationNumber"/>
		<xs:attribute name="WPC834A120405_2100A_PER07_CommunicationNumberQualifier"/>
		<xs:attribute name="WPC834A12040A_2100A_PER08_CommunicationNumber"/>
		<xs:attribute name="WPC834A12040S_2100A_PER09_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC834A12050L_2100A_N3_MemberResidenceStreetAddress">
	<xs:annotation>
		<xs:documentation>Member Residence Street Address</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC834A12050Y_2100A_N301_SubscriberAddressLine"/>
		<xs:attribute name="WPC834A12050_2100A_N302_SubscriberAddressLine"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC834A12060A_2100A_N4_MemberResidenceCityStateZIPCode">
	<xs:annotation>
		<xs:documentation>Member Residence City, State, ZIP Code</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC834A120602_2100A_N401_SubscriberCityName"/>
		<xs:attribute name="WPC834A12060W_2100A_N402_SubscriberStateCode"/>
		<xs:attribute name="WPC834A12060Y_2100A_N403_SubscriberPostalZoneOrZIPCode"/>
		<xs:attribute name="WPC834A12060V_2100A_N404_CountryCode"/>
		<xs:attribute name="WPC834A12060A_2100A_N405_LocationQualifier"/>
		<xs:attribute name="WPC834A12060_2100A_N406_LocationIdentificationCode"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC834A12080T_2100A_DMG_MemberDemographics">
	<xs:annotation>
		<xs:documentation>Member Demographics</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC834A12080E_2100A_DMG01_DateTimePeriodFormatQualifier"/>
		<xs:attribute name="WPC834A12080G_2100A_DMG02_MemberBirthDate"/>
		<xs:attribute name="WPC834A12080G_2100A_DMG03_GenderCode"/>
		<xs:attribute name="WPC834A120807_2100A_DMG04_MaritalStatusCode"/>
		<xs:attribute name="WPC834A12080Q_2100A_DMG05_RaceOrEthnicityCode"/>
		<xs:attribute name="WPC834A12080S_2100A_DMG06_CitizenshipStatusCode"/>
		<xs:attribute name="WPC834A12080_2100A_DMG07_NotUsed"/>
		<xs:attribute name="WPC834A12080E_2100A_DMG08_NotUsed"/>
		<xs:attribute name="WPC834A12080K_2100A_DMG09_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC834A12110J_2100A_ICM_MemberIncome">
	<xs:annotation>
		<xs:documentation>Member Income</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC834A12110G_2100A_ICM01_FrequencyCode"/>
		<xs:attribute name="WPC834A12110_2100A_ICM02_WageAmount"/>
		<xs:attribute name="WPC834A121102_2100A_ICM03_WorkHoursCount"/>
		<xs:attribute name="WPC834A12110A_2100A_ICM04_LocationIdentificationCode"/>
		<xs:attribute name="WPC834A12110D_2100A_ICM05_SalaryGradeCode"/>
		<xs:attribute name="WPC834A12110_2100A_ICM06_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC834A12120V_2100A_AMT_MemberPolicyAmounts">
	<xs:annotation>
		<xs:documentation>Member Policy Amounts</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC834A121208_2100A_AMT01_AmountQualifierCode"/>
		<xs:attribute name="WPC834A12120N_2100A_AMT02_ContractAmount"/>
		<xs:attribute name="WPC834A12120X_2100A_AMT03_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC834A12130B_2100A_HLH_MemberHealthInformation">
	<xs:annotation>
		<xs:documentation>Member Health Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC834A12130Y_2100A_HLH01_HealthRelatedCode"/>
		<xs:attribute name="WPC834A12130C_2100A_HLH02_MemberHeight"/>
		<xs:attribute name="WPC834A12130F_2100A_HLH03_MemberWeight"/>
		<xs:attribute name="WPC834A12130X_2100A_HLH04_NotUsed"/>
		<xs:attribute name="WPC834A12130T_2100A_HLH05_NotUsed"/>
		<xs:attribute name="WPC834A12130Y_2100A_HLH06_NotUsed"/>
		<xs:attribute name="WPC834A12130C_2100A_HLH07_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC834A12150U_2100A_LUI_MemberLanguage">
	<xs:annotation>
		<xs:documentation>Member Language</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC834A12150D_2100A_LUI01_IdentificationCodeQualifier"/>
		<xs:attribute name="WPC834A12150L_2100A_LUI02_LanguageCode"/>
		<xs:attribute name="WPC834A121509_2100A_LUI03_LanguageDescription"/>
		<xs:attribute name="WPC834A12150_2100A_LUI04_LanguageUseIndicator"/>
		<xs:attribute name="WPC834A12150N_2100A_LUI05_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC834A13030M_2100B">
	<xs:annotation>
		<xs:documentation>Incorrect Member Name</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="WPC834A13030Y_2100B_NM1_IncorrectMemberName" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC834A13080_2100B_DMG_IncorrectMemberDemographics" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:element name="WPC834A13030Y_2100B_NM1_IncorrectMemberName">
	<xs:annotation>
		<xs:documentation>Incorrect Member Name</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC834A13030O_2100B_NM101_EntityIdentifierCode"/>
		<xs:attribute name="WPC834A130307_2100B_NM102_EntityTypeQualifier"/>
		<xs:attribute name="WPC834A130307_2100B_NM103_PriorIncorrectInsuredLastName"/>
		<xs:attribute name="WPC834A13030B_2100B_NM104_PriorIncorrectInsuredFirstName"/>
		<xs:attribute name="WPC834A13030Z_2100B_NM105_PriorIncorrectInsuredMiddleName"/>
		<xs:attribute name="WPC834A130304_2100B_NM106_PriorIncorrectInsuredNamePrefix"/>
		<xs:attribute name="WPC834A13030I_2100B_NM107_PriorIncorrectInsuredNameSuffix"/>
		<xs:attribute name="WPC834A13030Y_2100B_NM108_IdentificationCodeQualifier"/>
		<xs:attribute name="WPC834A13030L_2100B_NM109_PriorIncorrectInsuredIdentifier"/>
		<xs:attribute name="WPC834A13030U_2100B_NM110_NotUsed"/>
		<xs:attribute name="WPC834A13030O_2100B_NM111_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC834A13080_2100B_DMG_IncorrectMemberDemographics">
	<xs:annotation>
		<xs:documentation>Incorrect Member Demographics</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC834A13080C_2100B_DMG01_DateTimePeriodFormatQualifier"/>
		<xs:attribute name="WPC834A13080U_2100B_DMG02_PriorIncorrectInsuredBirthDate"/>
		<xs:attribute name="WPC834A130809_2100B_DMG03_PriorIncorrectInsuredGenderCode"/>
		<xs:attribute name="WPC834A13080Q_2100B_DMG04_NotUsed"/>
		<xs:attribute name="WPC834A13080Q_2100B_DMG05_NotUsed"/>
		<xs:attribute name="WPC834A13080H_2100B_DMG06_NotUsed"/>
		<xs:attribute name="WPC834A130803_2100B_DMG07_NotUsed"/>
		<xs:attribute name="WPC834A13080S_2100B_DMG08_NotUsed"/>
		<xs:attribute name="WPC834A13080F_2100B_DMG09_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC834A14030D_2100C">
	<xs:annotation>
		<xs:documentation>Member Mailing Address</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="WPC834A14030P_2100C_NM1_MemberMailingAddress" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC834A140502_2100C_N3_MemberMailStreetAddress" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC834A14060X_2100C_N4_MemberMailCityStateZip" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:element name="WPC834A14030P_2100C_NM1_MemberMailingAddress">
	<xs:annotation>
		<xs:documentation>Member Mailing Address</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC834A14030M_2100C_NM101_EntityIdentifierCode"/>
		<xs:attribute name="WPC834A14030F_2100C_NM102_EntityTypeQualifier"/>
		<xs:attribute name="WPC834A14030X_2100C_NM103_NotUsed"/>
		<xs:attribute name="WPC834A140306_2100C_NM104_NotUsed"/>
		<xs:attribute name="WPC834A14030M_2100C_NM105_NotUsed"/>
		<xs:attribute name="WPC834A14030O_2100C_NM106_NotUsed"/>
		<xs:attribute name="WPC834A14030T_2100C_NM107_NotUsed"/>
		<xs:attribute name="WPC834A14030U_2100C_NM108_NotUsed"/>
		<xs:attribute name="WPC834A14030O_2100C_NM109_NotUsed"/>
		<xs:attribute name="WPC834A14030W_2100C_NM110_NotUsed"/>
		<xs:attribute name="WPC834A14030P_2100C_NM111_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC834A140502_2100C_N3_MemberMailStreetAddress">
	<xs:annotation>
		<xs:documentation>Member Mail Street Address</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC834A14050_2100C_N301_SubscriberAddressLine"/>
		<xs:attribute name="WPC834A14050Z_2100C_N302_SubscriberAddressLine"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC834A14060X_2100C_N4_MemberMailCityStateZip">
	<xs:annotation>
		<xs:documentation>Member Mail City, State, Zip</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC834A14060J_2100C_N401_SubscriberCityName"/>
		<xs:attribute name="WPC834A14060R_2100C_N402_SubscriberStateCode"/>
		<xs:attribute name="WPC834A14060H_2100C_N403_SubscriberPostalZoneOrZIPCode"/>
		<xs:attribute name="WPC834A14060W_2100C_N404_CountryCode"/>
		<xs:attribute name="WPC834A14060A_2100C_N405_NotUsed"/>
		<xs:attribute name="WPC834A14060Z_2100C_N406_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC834A15030N_2100D">
	<xs:annotation>
		<xs:documentation>Member Employer</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="WPC834A15030M_2100D_NM1_MemberEmployer" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC834A15040S_2100D_PER_MemberEmployerCommunicationsNumbers" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC834A15050M_2100D_N3_MemberEmployerStreetAddress" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC834A15060N_2100D_N4_MemberEmployerCityStateZip" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:element name="WPC834A15030M_2100D_NM1_MemberEmployer">
	<xs:annotation>
		<xs:documentation>Member Employer</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC834A15030M_2100D_NM101_EntityIdentifierCode"/>
		<xs:attribute name="WPC834A15030D_2100D_NM102_EntityTypeQualifier"/>
		<xs:attribute name="WPC834A15030Z_2100D_NM103_InsuredEmployerName"/>
		<xs:attribute name="WPC834A150300_2100D_NM104_InsuredEmployerFirstName"/>
		<xs:attribute name="WPC834A150301_2100D_NM105_InsuredEmployerMiddleName"/>
		<xs:attribute name="WPC834A15030R_2100D_NM106_NotUsed"/>
		<xs:attribute name="WPC834A15030K_2100D_NM107_InsuredEmployerNameSuffix"/>
		<xs:attribute name="WPC834A15030U_2100D_NM108_IdentificationCodeQualifier"/>
		<xs:attribute name="WPC834A15030E_2100D_NM109_InsuredEmployerIdentifier"/>
		<xs:attribute name="WPC834A15030T_2100D_NM110_NotUsed"/>
		<xs:attribute name="WPC834A15030N_2100D_NM111_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC834A15040S_2100D_PER_MemberEmployerCommunicationsNumbers">
	<xs:annotation>
		<xs:documentation>Member Employer Communications Numbers</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC834A150404_2100D_PER01_ContactFunctionCode"/>
		<xs:attribute name="WPC834A15040G_2100D_PER02_NotUsed"/>
		<xs:attribute name="WPC834A15040W_2100D_PER03_CommunicationNumberQualifier"/>
		<xs:attribute name="WPC834A15040D_2100D_PER04_CommunicationNumber"/>
		<xs:attribute name="WPC834A15040Q_2100D_PER05_CommunicationNumberQualifier"/>
		<xs:attribute name="WPC834A15040A_2100D_PER06_CommunicationNumber"/>
		<xs:attribute name="WPC834A150404_2100D_PER07_CommunicationNumberQualifier"/>
		<xs:attribute name="WPC834A15040H_2100D_PER08_CommunicationNumber"/>
		<xs:attribute name="WPC834A15040N_2100D_PER09_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC834A15050M_2100D_N3_MemberEmployerStreetAddress">
	<xs:annotation>
		<xs:documentation>Member Employer Street Address</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC834A15050O_2100D_N301_InsuredEmployerAddressLine"/>
		<xs:attribute name="WPC834A15050O_2100D_N302_InsuredEmployerAddressLine"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC834A15060N_2100D_N4_MemberEmployerCityStateZip">
	<xs:annotation>
		<xs:documentation>Member Employer City, State, Zip</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC834A15060_2100D_N401_InsuredEmployerCityName"/>
		<xs:attribute name="WPC834A15060O_2100D_N402_InsuredEmployerStateCode"/>
		<xs:attribute name="WPC834A15060H_2100D_N403_InsuredEmployerPostalZoneOrZIPCode"/>
		<xs:attribute name="WPC834A15060_2100D_N404_CountryCode"/>
		<xs:attribute name="WPC834A15060U_2100D_N405_NotUsed"/>
		<xs:attribute name="WPC834A15060V_2100D_N406_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC834A16030R_2100E">
	<xs:annotation>
		<xs:documentation>Member School</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="WPC834A160303_2100E_NM1_MemberSchool" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC834A16040Y_2100E_PER_MemberSchoolCommmunicationsNumbers" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC834A16050_2100E_N3_MemberSchoolStreetAddress" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC834A16060J_2100E_N4_MemberSchoolCityStateZip" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:element name="WPC834A160303_2100E_NM1_MemberSchool">
	<xs:annotation>
		<xs:documentation>Member School</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC834A16030I_2100E_NM101_EntityIdentifierCode"/>
		<xs:attribute name="WPC834A16030Q_2100E_NM102_EntityTypeQualifier"/>
		<xs:attribute name="WPC834A16030_2100E_NM103_SchoolName"/>
		<xs:attribute name="WPC834A16030O_2100E_NM104_NotUsed"/>
		<xs:attribute name="WPC834A16030S_2100E_NM105_NotUsed"/>
		<xs:attribute name="WPC834A16030Z_2100E_NM106_NotUsed"/>
		<xs:attribute name="WPC834A16030G_2100E_NM107_NotUsed"/>
		<xs:attribute name="WPC834A16030H_2100E_NM108_NotUsed"/>
		<xs:attribute name="WPC834A16030J_2100E_NM109_NotUsed"/>
		<xs:attribute name="WPC834A16030T_2100E_NM110_NotUsed"/>
		<xs:attribute name="WPC834A16030H_2100E_NM111_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC834A16040Y_2100E_PER_MemberSchoolCommmunicationsNumbers">
	<xs:annotation>
		<xs:documentation>Member School Commmunications Numbers</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC834A16040C_2100E_PER01_ContactFunctionCode"/>
		<xs:attribute name="WPC834A16040_2100E_PER02_NotUsed"/>
		<xs:attribute name="WPC834A16040G_2100E_PER03_CommunicationNumberQualifier"/>
		<xs:attribute name="WPC834A16040S_2100E_PER04_CommunicationNumber"/>
		<xs:attribute name="WPC834A160400_2100E_PER05_CommunicationNumberQualifier"/>
		<xs:attribute name="WPC834A16040K_2100E_PER06_CommunicationNumber"/>
		<xs:attribute name="WPC834A16040H_2100E_PER07_CommunicationNumberQualifier"/>
		<xs:attribute name="WPC834A16040U_2100E_PER08_CommunicationNumber"/>
		<xs:attribute name="WPC834A16040G_2100E_PER09_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC834A16050_2100E_N3_MemberSchoolStreetAddress">
	<xs:annotation>
		<xs:documentation>Member School Street Address</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC834A16050M_2100E_N301_SchoolAddressLine"/>
		<xs:attribute name="WPC834A16050O_2100E_N302_SchoolAddressLine"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC834A16060J_2100E_N4_MemberSchoolCityStateZip">
	<xs:annotation>
		<xs:documentation>Member School City, State, Zip</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC834A16060H_2100E_N401_SchoolCityName"/>
		<xs:attribute name="WPC834A16060N_2100E_N402_SchoolStateCode"/>
		<xs:attribute name="WPC834A16060I_2100E_N403_SchoolPostalZoneOrZIPCode"/>
		<xs:attribute name="WPC834A16060I_2100E_N404_CountryCode"/>
		<xs:attribute name="WPC834A16060U_2100E_N405_NotUsed"/>
		<xs:attribute name="WPC834A16060Z_2100E_N406_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC834A17030H_2100F">
	<xs:annotation>
		<xs:documentation>Custodial Parent</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="WPC834A17030U_2100F_NM1_CustodialParent" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC834A17040E_2100F_PER_CustodialParentCommunicationsNumbers" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC834A17050D_2100F_N3_CustodialParentStreetAddress" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC834A170603_2100F_N4_CustodialParentCityStateZip" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:element name="WPC834A17030U_2100F_NM1_CustodialParent">
	<xs:annotation>
		<xs:documentation>Custodial Parent</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC834A17030U_2100F_NM101_EntityIdentifierCode"/>
		<xs:attribute name="WPC834A17030_2100F_NM102_EntityTypeQualifier"/>
		<xs:attribute name="WPC834A17030O_2100F_NM103_CustodialParentLastName"/>
		<xs:attribute name="WPC834A17030Q_2100F_NM104_CustodialParentFirstName"/>
		<xs:attribute name="WPC834A17030S_2100F_NM105_CustodialParentMiddleName"/>
		<xs:attribute name="WPC834A17030H_2100F_NM106_CustodialParentNamePrefix"/>
		<xs:attribute name="WPC834A17030L_2100F_NM107_CustodialParentNameSuffix"/>
		<xs:attribute name="WPC834A17030N_2100F_NM108_IdentificationCodeQualifier"/>
		<xs:attribute name="WPC834A17030C_2100F_NM109_CustodialParentIdentifier"/>
		<xs:attribute name="WPC834A17030F_2100F_NM110_NotUsed"/>
		<xs:attribute name="WPC834A17030C_2100F_NM111_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC834A17040E_2100F_PER_CustodialParentCommunicationsNumbers">
	<xs:annotation>
		<xs:documentation>Custodial Parent Communications Numbers</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC834A17040L_2100F_PER01_ContactFunctionCode"/>
		<xs:attribute name="WPC834A17040J_2100F_PER02_NotUsed"/>
		<xs:attribute name="WPC834A17040F_2100F_PER03_CommunicationNumberQualifier"/>
		<xs:attribute name="WPC834A17040Z_2100F_PER04_CommunicationNumber"/>
		<xs:attribute name="WPC834A17040C_2100F_PER05_CommunicationNumberQualifier"/>
		<xs:attribute name="WPC834A17040M_2100F_PER06_CommunicationNumber"/>
		<xs:attribute name="WPC834A170404_2100F_PER07_CommunicationNumberQualifier"/>
		<xs:attribute name="WPC834A170407_2100F_PER08_CommunicationNumber"/>
		<xs:attribute name="WPC834A17040K_2100F_PER09_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC834A17050D_2100F_N3_CustodialParentStreetAddress">
	<xs:annotation>
		<xs:documentation>Custodial Parent Street Address</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC834A17050R_2100F_N301_CustodialParentAddressLine"/>
		<xs:attribute name="WPC834A17050L_2100F_N302_CustodialParentAddressLine"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC834A170603_2100F_N4_CustodialParentCityStateZip">
	<xs:annotation>
		<xs:documentation>Custodial Parent City, State, Zip</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC834A17060V_2100F_N401_CustodialParentCityName"/>
		<xs:attribute name="WPC834A17060T_2100F_N402_CustodialParentStateCode"/>
		<xs:attribute name="WPC834A17060H_2100F_N403_CustodialParentPostalZoneOrZIPCode"/>
		<xs:attribute name="WPC834A17060T_2100F_N404_CountryCode"/>
		<xs:attribute name="WPC834A17060K_2100F_N405_NotUsed"/>
		<xs:attribute name="WPC834A17060F_2100F_N406_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC834A18030J_2100G">
	<xs:annotation>
		<xs:documentation>Responsible Person</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="WPC834A18030J_2100G_NM1_ResponsiblePerson" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC834A18040X_2100G_PER_ResponsiblePersonCommunicationsNumbers" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC834A18050B_2100G_N3_ResponsiblePersonStreetAddress" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC834A18060Z_2100G_N4_ResponsiblePersonCityStateZip" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:element name="WPC834A18030J_2100G_NM1_ResponsiblePerson">
	<xs:annotation>
		<xs:documentation>Responsible Person</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC834A18030F_2100G_NM101_EntityIdentifierCode"/>
		<xs:attribute name="WPC834A18030S_2100G_NM102_EntityTypeQualifier"/>
		<xs:attribute name="WPC834A18030_2100G_NM103_ResponsiblePartyLastOrOrganizationName"/>
		<xs:attribute name="WPC834A18030P_2100G_NM104_ResponsiblePartyFirstName"/>
		<xs:attribute name="WPC834A18030X_2100G_NM105_ResponsiblePartyMiddleName"/>
		<xs:attribute name="WPC834A180307_2100G_NM106_ResponsiblePartyNamePrefix"/>
		<xs:attribute name="WPC834A18030W_2100G_NM107_ResponsiblePartySuffixName"/>
		<xs:attribute name="WPC834A180308_2100G_NM108_IdentificationCodeQualifier"/>
		<xs:attribute name="WPC834A18030T_2100G_NM109_ResponsiblePartyIdentifier"/>
		<xs:attribute name="WPC834A18030S_2100G_NM110_NotUsed"/>
		<xs:attribute name="WPC834A18030R_2100G_NM111_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC834A18040X_2100G_PER_ResponsiblePersonCommunicationsNumbers">
	<xs:annotation>
		<xs:documentation>Responsible Person Communications Numbers</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC834A18040E_2100G_PER01_ContactFunctionCode"/>
		<xs:attribute name="WPC834A180400_2100G_PER02_NotUsed"/>
		<xs:attribute name="WPC834A18040B_2100G_PER03_CommunicationNumberQualifier"/>
		<xs:attribute name="WPC834A18040H_2100G_PER04_CommunicationNumber"/>
		<xs:attribute name="WPC834A18040C_2100G_PER05_CommunicationNumberQualifier"/>
		<xs:attribute name="WPC834A18040U_2100G_PER06_CommunicationNumber"/>
		<xs:attribute name="WPC834A18040A_2100G_PER07_CommunicationNumberQualifier"/>
		<xs:attribute name="WPC834A18040R_2100G_PER08_CommunicationNumber"/>
		<xs:attribute name="WPC834A18040Y_2100G_PER09_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC834A18050B_2100G_N3_ResponsiblePersonStreetAddress">
	<xs:annotation>
		<xs:documentation>Responsible Person Street Address</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC834A180506_2100G_N301_ResponsiblePartyAddressLine"/>
		<xs:attribute name="WPC834A18050V_2100G_N302_ResponsiblePartyAddressLine"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC834A18060Z_2100G_N4_ResponsiblePersonCityStateZip">
	<xs:annotation>
		<xs:documentation>Responsible Person City, State, Zip</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC834A18060M_2100G_N401_ResponsiblePartyCityName"/>
		<xs:attribute name="WPC834A18060J_2100G_N402_ResponsiblePartyStateCode"/>
		<xs:attribute name="WPC834A180604_2100G_N403_ResponsiblePartyPostalZoneOrZIPCode"/>
		<xs:attribute name="WPC834A18060L_2100G_N404_CountryCode"/>
		<xs:attribute name="WPC834A18060S_2100G_N405_NotUsed"/>
		<xs:attribute name="WPC834A180606_2100G_N406_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC834A19200I_2200">
	<xs:annotation>
		<xs:documentation>Disability Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="WPC834A19200M_2200_DSB_DisabilityInformation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC834A19210Z_2200_DTP_DisabilityEligibilityDates" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:element name="WPC834A19200M_2200_DSB_DisabilityInformation">
	<xs:annotation>
		<xs:documentation>Disability Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC834A19200B_2200_DSB01_DisabilityTypeCode"/>
		<xs:attribute name="WPC834A19200T_2200_DSB02_NotUsed"/>
		<xs:attribute name="WPC834A19200G_2200_DSB03_NotUsed"/>
		<xs:attribute name="WPC834A192005_2200_DSB04_NotUsed"/>
		<xs:attribute name="WPC834A19200S_2200_DSB05_NotUsed"/>
		<xs:attribute name="WPC834A19200F_2200_DSB06_NotUsed"/>
		<xs:attribute name="WPC834A19200G_2200_DSB07_ProductOrServiceIDQualifier"/>
		<xs:attribute name="WPC834A19200I_2200_DSB08_DiagnosisCode"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC834A19210Z_2200_DTP_DisabilityEligibilityDates">
	<xs:annotation>
		<xs:documentation>Disability Eligibility Dates</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC834A19210R_2200_DTP01_DateTimeQualifier"/>
		<xs:attribute name="WPC834A19210R_2200_DTP02_DateTimePeriodFormatQualifier"/>
		<xs:attribute name="WPC834A19210U_2200_DTP03_DisabilityEligibilityDate"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC834A192605_2300">
	<xs:annotation>
		<xs:documentation>Health Coverage</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="WPC834A19260M_2300_HD_HealthCoverage" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC834A19270R_2300_DTP_HealthCoverageDates" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC834A19280W_2300_AMT_HealthCoveragePolicy" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC834A19290_2300_REF_HealthCoveragePolicyNumber" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC834A19300Y_2300_IDC_IdentificationCard" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC834A19310P_2310" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC834A19400J_2320" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:element name="WPC834A19260M_2300_HD_HealthCoverage">
	<xs:annotation>
		<xs:documentation>Health Coverage</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC834A19260H_2300_HD01_MaintenanceTypeCode"/>
		<xs:attribute name="WPC834A19260D_2300_HD02_NotUsed"/>
		<xs:attribute name="WPC834A19260S_2300_HD03_InsuranceLineCode"/>
		<xs:attribute name="WPC834A19260Q_2300_HD04_PlanCoverageDescription"/>
		<xs:attribute name="WPC834A19260_2300_HD05_CoverageLevelCode"/>
		<xs:attribute name="WPC834A19260I_2300_HD06_NotUsed"/>
		<xs:attribute name="WPC834A19260N_2300_HD07_NotUsed"/>
		<xs:attribute name="WPC834A19260F_2300_HD08_NotUsed"/>
		<xs:attribute name="WPC834A19260Z_2300_HD09_NotUsed"/>
		<xs:attribute name="WPC834A19260Y_2300_HD10_NotUsed"/>
		<xs:attribute name="WPC834A19260I_2300_HD11_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC834A19270R_2300_DTP_HealthCoverageDates">
	<xs:annotation>
		<xs:documentation>Health Coverage Dates</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC834A19270F_2300_DTP01_DateTimeQualifier"/>
		<xs:attribute name="WPC834A19270T_2300_DTP02_DateTimePeriodFormatQualifier"/>
		<xs:attribute name="WPC834A192700_2300_DTP03_CoveragePeriod"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC834A19280W_2300_AMT_HealthCoveragePolicy">
	<xs:annotation>
		<xs:documentation>Health Coverage Policy</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC834A19280_2300_AMT01_AmountQualifierCode"/>
		<xs:attribute name="WPC834A192801_2300_AMT02_ContractAmount"/>
		<xs:attribute name="WPC834A19280P_2300_AMT03_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC834A19290_2300_REF_HealthCoveragePolicyNumber">
	<xs:annotation>
		<xs:documentation>Health Coverage Policy Number</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC834A19290O_2300_REF01_ReferenceIdentificationQualifier"/>
		<xs:attribute name="WPC834A19290P_2300_REF02_InsuredGroupOrPolicyNumber"/>
		<xs:attribute name="WPC834A19290P_2300_REF03_NotUsed"/>
		<xs:attribute name="WPC834A19290W_2300_REF04_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC834A19300Y_2300_IDC_IdentificationCard">
	<xs:annotation>
		<xs:documentation>Identification Card</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC834A19300Q_2300_IDC01_PlanCoverageDescription"/>
		<xs:attribute name="WPC834A19300O_2300_IDC02_IdentificationCardTypeCode"/>
		<xs:attribute name="WPC834A19300R_2300_IDC03_IdentificationCardCount"/>
		<xs:attribute name="WPC834A19300B_2300_IDC04_ActionCode"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC834A19310P_2310">
	<xs:annotation>
		<xs:documentation>Provider Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="WPC834A19310T_2310_LX_ProviderInformation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC834A19320B_2310_NM1_ProviderName" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC834A19360K_2310_N4_ProviderCityStateZIPCode" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC834A19370A_2310_PER_ProviderCommunicationsNumbers" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC834A193953_2310_PLA_PCPChangeReason" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:element name="WPC834A19310T_2310_LX_ProviderInformation">
	<xs:annotation>
		<xs:documentation>Provider Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC834A19310O_2310_LX01_AssignedNumber"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC834A19320B_2310_NM1_ProviderName">
	<xs:annotation>
		<xs:documentation>Provider Name</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC834A19320A_2310_NM101_EntityIdentifierCode"/>
		<xs:attribute name="WPC834A19320Z_2310_NM102_EntityTypeQualifier"/>
		<xs:attribute name="WPC834A19320C_2310_NM103_ProviderLastOrOrganizationName"/>
		<xs:attribute name="WPC834A19320R_2310_NM104_ProviderFirstName"/>
		<xs:attribute name="WPC834A19320_2310_NM105_ProviderMiddleName"/>
		<xs:attribute name="WPC834A19320V_2310_NM106_ProviderNamePrefix"/>
		<xs:attribute name="WPC834A19320A_2310_NM107_ProviderNameSuffix"/>
		<xs:attribute name="WPC834A19320S_2310_NM108_IdentificationCodeQualifier"/>
		<xs:attribute name="WPC834A19320V_2310_NM109_ProviderIdentifier"/>
		<xs:attribute name="WPC834A19320V_2310_NM110_EntityRelationshipCode"/>
		<xs:attribute name="WPC834A193201_2310_NM111_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC834A19360K_2310_N4_ProviderCityStateZIPCode">
	<xs:annotation>
		<xs:documentation>Provider City, State, ZIP Code</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC834A19360Y_2310_N401_MemberCityName"/>
		<xs:attribute name="WPC834A19360O_2310_N402_MemberStateCode"/>
		<xs:attribute name="WPC834A19360N_2310_N403_MemberPostalZoneOrZipCode"/>
		<xs:attribute name="WPC834A19360H_2310_N404_CountryCode"/>
		<xs:attribute name="WPC834A19360S_2310_N405_LocationQualifier"/>
		<xs:attribute name="WPC834A193601_2310_N406_LocationIdentificationCode"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC834A19370A_2310_PER_ProviderCommunicationsNumbers">
	<xs:annotation>
		<xs:documentation>Provider Communications Numbers</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC834A19370A_2310_PER01_ContactFunctionCode"/>
		<xs:attribute name="WPC834A19370F_2310_PER02_NotUsed"/>
		<xs:attribute name="WPC834A19370L_2310_PER03_CommunicationNumberQualifier"/>
		<xs:attribute name="WPC834A193701_2310_PER04_CommunicationNumber"/>
		<xs:attribute name="WPC834A19370V_2310_PER05_CommunicationNumberQualifier"/>
		<xs:attribute name="WPC834A19370Q_2310_PER06_CommunicationNumber"/>
		<xs:attribute name="WPC834A19370B_2310_PER07_CommunicationNumberQualifier"/>
		<xs:attribute name="WPC834A19370H_2310_PER08_CommunicationNumber"/>
		<xs:attribute name="WPC834A19370Z_2310_PER09_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC834A193953_2310_PLA_PCPChangeReason">
	<xs:annotation>
		<xs:documentation>PCP Change Reason</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC834A193953_2310_PLA01_ActionCode"/>
		<xs:attribute name="WPC834A19395A_2310_PLA02_EntityIdentifierCode"/>
		<xs:attribute name="WPC834A19395N_2310_PLA03_ProviderEffectiveDate"/>
		<xs:attribute name="WPC834A193952_2310_PLA04_NotUsed"/>
		<xs:attribute name="WPC834A19395D_2310_PLA05_MaintenanceReasonCode"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC834A19400J_2320">
	<xs:annotation>
		<xs:documentation>Coordination of Benefits</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="WPC834A19400N_2320_COB_CoordinationOfBenefits" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC834A19405Q_2320_REF_AdditionalCoordinationOfBenefitsIdentifiers" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC834A19410I_2320_N1_OtherInsuranceCompanyName" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC834A19450M_2320_DTP_CoordinationOfBenefitsEligibilityDates" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:element name="WPC834A19400N_2320_COB_CoordinationOfBenefits">
	<xs:annotation>
		<xs:documentation>Coordination of Benefits</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC834A194007_2320_COB01_PayerResponsibilitySequenceNumberCode"/>
		<xs:attribute name="WPC834A19400S_2320_COB02_InsuredGroupOrPolicyNumber"/>
		<xs:attribute name="WPC834A19400Y_2320_COB03_CoordinationOfBenefitsCode"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC834A19405Q_2320_REF_AdditionalCoordinationOfBenefitsIdentifiers">
	<xs:annotation>
		<xs:documentation>Additional Coordination of Benefits Identifiers</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC834A19405I_2320_REF01_ReferenceIdentificationQualifier"/>
		<xs:attribute name="WPC834A19405N_2320_REF02_InsuredGroupOrPolicyNumber"/>
		<xs:attribute name="WPC834A19405K_2320_REF03_NotUsed"/>
		<xs:attribute name="WPC834A19405W_2320_REF04_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC834A19410I_2320_N1_OtherInsuranceCompanyName">
	<xs:annotation>
		<xs:documentation>Other Insurance Company Name</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC834A19410B_2320_N101_EntityIdentifierCode"/>
		<xs:attribute name="WPC834A19410_2320_N102_InsurerName"/>
		<xs:attribute name="WPC834A19410H_2320_N103_IdentificationCodeQualifier"/>
		<xs:attribute name="WPC834A19410P_2320_N104_InsuredGroupOrPolicyNumber"/>
		<xs:attribute name="WPC834A19410U_2320_N105_NotUsed"/>
		<xs:attribute name="WPC834A19410M_2320_N106_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC834A19450M_2320_DTP_CoordinationOfBenefitsEligibilityDates">
	<xs:annotation>
		<xs:documentation>Coordination of Benefits Eligibility Dates</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC834A19450R_2320_DTP01_DateTimeQualifier"/>
		<xs:attribute name="WPC834A19450T_2320_DTP02_DateTimePeriodFormatQualifier"/>
		<xs:attribute name="WPC834A19450K_2320_DTP03_CoordinationOfBenefitsDate"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC_IProc">
	<xs:annotation>
		<xs:documentation>WPC IProc</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="WPC_IProcEvnt" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC_Errors" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="X12_Envelope" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:element name="WPC_IProcEvnt">
	<xs:annotation>
		<xs:documentation>WPC IProcEvent</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="src" use="optional"/>
		<xs:attribute name="type" use="optional"/>
		<xs:attribute name="dt" use="optional"/>
		<xs:attribute name="hsh" use="optional"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC_Errors">
	<xs:annotation>
		<xs:documentation>WPC Error Collection</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="Violation" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:element name="Violation">
	<xs:annotation>
		<xs:documentation>Violation Detail</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="ErrorType" use="required">
			<xs:annotation>
				<xs:documentation>Enumeration of error type</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="FileID">
			<xs:annotation>
				<xs:documentation>Identifier of original submission</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TraceNumber">
			<xs:annotation>
				<xs:documentation>Application layer trace identifier</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ViolationLocation">
			<xs:annotation>
				<xs:documentation>Location of errant data</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ViolationDescription">
			<xs:annotation>
				<xs:documentation>Text description of violation</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="RuleProcessor">
			<xs:annotation>
				<xs:documentation>Rule processor identifier</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="RuleSource">
			<xs:annotation>
				<xs:documentation>Source identifier of violated rule</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="RuleViolationText">
			<xs:annotation>
				<xs:documentation>Text description of rule</xs:documentation>
			</xs:annotation>
		</xs:attribute>			
		<xs:attribute name="BadDataContent">
			<xs:annotation>
				<xs:documentation>Errant data found in violation of indicated rule</xs:documentation>
			</xs:annotation>
		</xs:attribute>			
	</xs:complexType>
</xs:element>
<xs:element name="X12_Envelope">
	<xs:annotation>
		<xs:documentation>X12 Envelope</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="ISA_InterchangeControlHeader" minOccurs="0"/>
			<xs:element ref="GS_FunctionalGroupHeader" minOccurs="0"/>
			<xs:element ref="ST_TransactionSetHeader" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:element name="ST_TransactionSetHeader">
	<xs:annotation>
		<xs:documentation>Transaction Set Header</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="ST01__TransactionSetIdentifierCode" use="optional"/>
		<xs:attribute name="ST02__TransactionSetControlNumber" use="optional"/>
	</xs:complexType>
</xs:element>
<xs:element name="GS_FunctionalGroupHeader">
	<xs:annotation>
		<xs:documentation>Functional Group Header</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="GS01__FunctionalIdentifierCode" use="optional"/>
		<xs:attribute name="GS02__ApplicationSendersCode" use="optional"/>
		<xs:attribute name="GS03__ApplicationReceiversCode" use="optional"/>
		<xs:attribute name="GS04__Date" use="optional"/>
		<xs:attribute name="GS05__Time" use="optional"/>
		<xs:attribute name="GS06__GroupControlNumber" use="optional"/>
		<xs:attribute name="GS07__ResponsibleAgencyCode" use="optional"/>
		<xs:attribute name="GS08__VersionReleaseIndustryIdentifierCode" use="optional"/>
	</xs:complexType>
</xs:element>
<xs:element name="ISA_InterchangeControlHeader">
	<xs:annotation>
		<xs:documentation>Interchange Control Header</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="ISA01__AuthorizationInformationQualifier" use="optional"/>
		<xs:attribute name="ISA02__AuthorizationInformation" use="optional"/>
		<xs:attribute name="ISA03__SecurityInformationQualifier" use="optional"/>
		<xs:attribute name="ISA04__SecurityInformation" use="optional"/>
		<xs:attribute name="ISA05__InterchangeIDQualifier" use="optional"/>
		<xs:attribute name="ISA06__InterchangeSenderID" use="optional"/>
		<xs:attribute name="ISA07__InterchangeIDQualifier" use="optional"/>
		<xs:attribute name="ISA08__InterchangeReceiverID" use="optional"/>
		<xs:attribute name="ISA09__InterchangeDate" use="optional"/>
		<xs:attribute name="ISA10__InterchangeTime" use="optional"/>
		<xs:attribute name="ISA11__InterchangeControlStandardsIdentifier" use="optional"/>
		<xs:attribute name="ISA12__InterchangeControlVersionNumber" use="optional"/>
		<xs:attribute name="ISA13__InterchangeControlNumber" use="optional"/>
		<xs:attribute name="ISA14__AcknowledgmentRequested" use="optional"/>
		<xs:attribute name="ISA15__UsageIndicator" use="optional"/>
		<xs:attribute name="ISA16__ComponentElementSeparator" use="optional"/>
	</xs:complexType>
</xs:element>
</xs:schema>


