src/main/resources/x12/835_W1.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- (c)Copyright 2004 Washington Publishing Company (http://www.wpc-edi.com) -->
<xs:schema version="1.0"  xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wpc="http://schemas.wpc-edi.com/X12/ISOMORPH/HIPAA/4010A1" targetNamespace="http://schemas.wpc-edi.com/X12/ISOMORPH/HIPAA/4010A1/WPC835W1" xmlns="http://schemas.wpc-edi.com/X12/ISOMORPH/HIPAA/4010A1/WPC835W1" >
<xs:annotation>
	<xs:documentation xml:lang="en"> 
		HIPAA Schema WPC835W1 - Washington Publishing Company (http://www.wpc-edi.com)
		Copyright (C) 2004 Washington Publishing Company
		This program is free software; you can redistribute it and/or
		modify it under the terms of the GNU General Public License
		as published by the Free Software Foundation; Version 2.
		This program is distributed in the hope that it will be useful,
		but WITHOUT ANY WARRANTY; without even the implied warranty of
		MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
		GNU General Public License for more details.
	</xs:documentation>
</xs:annotation>
<xs:element name="WPC835W1">
	<xs:annotation>
		<xs:documentation>Health Care Claim Payment/Advice</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="WPC_IProc" minOccurs="0" maxOccurs="1" />
			<xs:element ref="WPC835W110200__BPR_FinancialInformation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC835W11040F__TRN_ReassociationTraceNumber" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC835W11050F__CUR_ForeignCurrencyInformation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC835W110594__REF_ReceiverIdentification" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC835W11060F__REF_VersionIdentification" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC835W110709__DTM_ProductionDate" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC835W11080D_1000A" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC835W11140A_1000B" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC835W12003_2000" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC835W130103__PLB_ProviderAdjustment" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:element name="WPC835W110200__BPR_FinancialInformation">
	<xs:annotation>
		<xs:documentation>Financial Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC835W11020G__BPR01_TransactionHandlingCode"/>
		<xs:attribute name="WPC835W11020Q__BPR02_TotalActualProviderPaymentAmount"/>
		<xs:attribute name="WPC835W11020Y__BPR03_CreditOrDebitFlagCode"/>
		<xs:attribute name="WPC835W11020P__BPR04_PaymentMethodCode"/>
		<xs:attribute name="WPC835W11020M__BPR05_PaymentFormatCode"/>
		<xs:attribute name="WPC835W11020S__BPR06_DepositoryFinancialInstitutionDFIIdentificationNumberQualifier"/>
		<xs:attribute name="WPC835W110208__BPR07_SenderDFIIdentifier"/>
		<xs:attribute name="WPC835W11020G__BPR08_AccountNumberQualifier"/>
		<xs:attribute name="WPC835W11020R__BPR09_SenderBankAccountNumber"/>
		<xs:attribute name="WPC835W11020A__BPR10_PayerIdentifier"/>
		<xs:attribute name="WPC835W11020Q__BPR11_OriginatingCompanySupplementalCode"/>
		<xs:attribute name="WPC835W11020S__BPR12_DepositoryFinancialInstitutionDFIIdentificationNumberQualifier"/>
		<xs:attribute name="WPC835W11020Y__BPR13_ReceiverOrProviderBankIDNumber"/>
		<xs:attribute name="WPC835W11020C__BPR14_AccountNumberQualifier"/>
		<xs:attribute name="WPC835W110205__BPR15_ReceiverOrProviderAccountNumber"/>
		<xs:attribute name="WPC835W11020O__BPR16_CheckIssueOrEFTEffectiveDate"/>
		<xs:attribute name="WPC835W11020Y__BPR17_NotUsed"/>
		<xs:attribute name="WPC835W11020X__BPR18_NotUsed"/>
		<xs:attribute name="WPC835W11020U__BPR19_NotUsed"/>
		<xs:attribute name="WPC835W11020K__BPR20_NotUsed"/>
		<xs:attribute name="WPC835W11020T__BPR21_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC835W11040F__TRN_ReassociationTraceNumber">
	<xs:annotation>
		<xs:documentation>Reassociation Trace Number</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC835W11040V__TRN01_TraceTypeCode"/>
		<xs:attribute name="WPC835W11040Y__TRN02_CheckOrEFTTraceNumber"/>
		<xs:attribute name="WPC835W110408__TRN03_PayerIdentifier"/>
		<xs:attribute name="WPC835W11040C__TRN04_OriginatingCompanySupplementalCode"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC835W11050F__CUR_ForeignCurrencyInformation">
	<xs:annotation>
		<xs:documentation>Foreign Currency Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC835W11050E__CUR01_EntityIdentifierCode"/>
		<xs:attribute name="WPC835W11050L__CUR02_CurrencyCode"/>
		<xs:attribute name="WPC835W11050S__CUR03_ExchangeRate"/>
		<xs:attribute name="WPC835W11050R__CUR04_NotUsed"/>
		<xs:attribute name="WPC835W11050O__CUR05_NotUsed"/>
		<xs:attribute name="WPC835W11050Z__CUR06_NotUsed"/>
		<xs:attribute name="WPC835W110504__CUR07_NotUsed"/>
		<xs:attribute name="WPC835W11050I__CUR08_NotUsed"/>
		<xs:attribute name="WPC835W11050U__CUR09_NotUsed"/>
		<xs:attribute name="WPC835W11050C__CUR10_NotUsed"/>
		<xs:attribute name="WPC835W11050Z__CUR11_NotUsed"/>
		<xs:attribute name="WPC835W11050V__CUR12_NotUsed"/>
		<xs:attribute name="WPC835W11050I__CUR13_NotUsed"/>
		<xs:attribute name="WPC835W11050P__CUR14_NotUsed"/>
		<xs:attribute name="WPC835W110507__CUR15_NotUsed"/>
		<xs:attribute name="WPC835W11050U__CUR16_NotUsed"/>
		<xs:attribute name="WPC835W110501__CUR17_NotUsed"/>
		<xs:attribute name="WPC835W11050__CUR18_NotUsed"/>
		<xs:attribute name="WPC835W11050S__CUR19_NotUsed"/>
		<xs:attribute name="WPC835W11050W__CUR20_NotUsed"/>
		<xs:attribute name="WPC835W11050T__CUR21_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC835W110594__REF_ReceiverIdentification">
	<xs:annotation>
		<xs:documentation>Receiver Identification</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC835W110595__REF01_ReferenceIdentificationQualifier"/>
		<xs:attribute name="WPC835W11059C__REF02_ReceiverIdentifier"/>
		<xs:attribute name="WPC835W11059K__REF03_NotUsed"/>
		<xs:attribute name="WPC835W110593__REF04_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC835W11060F__REF_VersionIdentification">
	<xs:annotation>
		<xs:documentation>Version Identification</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC835W11060Q__REF01_ReferenceIdentificationQualifier"/>
		<xs:attribute name="WPC835W11060__REF02_VersionIdentificationCode"/>
		<xs:attribute name="WPC835W11060T__REF03_NotUsed"/>
		<xs:attribute name="WPC835W11060A__REF04_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC835W110709__DTM_ProductionDate">
	<xs:annotation>
		<xs:documentation>Production Date</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC835W11070O__DTM01_DateTimeQualifier"/>
		<xs:attribute name="WPC835W11070__DTM02_ProductionDate"/>
		<xs:attribute name="WPC835W110709__DTM03_NotUsed"/>
		<xs:attribute name="WPC835W11070L__DTM04_NotUsed"/>
		<xs:attribute name="WPC835W11070Y__DTM05_NotUsed"/>
		<xs:attribute name="WPC835W11070B__DTM06_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC835W11080D_1000A">
	<xs:annotation>
		<xs:documentation>Payer Identification</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="WPC835W11080R_1000A_N1_PayerIdentification" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC835W11100A_1000A_N3_PayerAddress" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC835W11110Y_1000A_N4_PayerCityStateZIPCode" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC835W11120C_1000A_REF_AdditionalPayerIdentification" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC835W111305_1000A_PER_PayerContactInformation" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:element name="WPC835W11080R_1000A_N1_PayerIdentification">
	<xs:annotation>
		<xs:documentation>Payer Identification</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC835W11080S_1000A_N101_EntityIdentifierCode"/>
		<xs:attribute name="WPC835W11080V_1000A_N102_PayerName"/>
		<xs:attribute name="WPC835W11080_1000A_N103_IdentificationCodeQualifier"/>
		<xs:attribute name="WPC835W11080L_1000A_N104_PayerIdentifier"/>
		<xs:attribute name="WPC835W11080_1000A_N105_NotUsed"/>
		<xs:attribute name="WPC835W11080W_1000A_N106_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC835W11100A_1000A_N3_PayerAddress">
	<xs:annotation>
		<xs:documentation>Payer Address</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC835W11100A_1000A_N301_PayerAddressLine"/>
		<xs:attribute name="WPC835W11100L_1000A_N302_PayerAddressLine"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC835W11110Y_1000A_N4_PayerCityStateZIPCode">
	<xs:annotation>
		<xs:documentation>Payer City, State, ZIP Code</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC835W11110I_1000A_N401_PayerCityName"/>
		<xs:attribute name="WPC835W11110T_1000A_N402_PayerStateCode"/>
		<xs:attribute name="WPC835W11110Y_1000A_N403_PayerPostalZoneOrZIPCode"/>
		<xs:attribute name="WPC835W11110F_1000A_N404_NotUsed"/>
		<xs:attribute name="WPC835W111107_1000A_N405_NotUsed"/>
		<xs:attribute name="WPC835W11110Y_1000A_N406_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC835W11120C_1000A_REF_AdditionalPayerIdentification">
	<xs:annotation>
		<xs:documentation>Additional Payer Identification</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC835W111209_1000A_REF01_ReferenceIdentificationQualifier"/>
		<xs:attribute name="WPC835W11120P_1000A_REF02_AdditionalPayerIdentifier"/>
		<xs:attribute name="WPC835W11120L_1000A_REF03_NotUsed"/>
		<xs:attribute name="WPC835W11120S_1000A_REF04_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC835W111305_1000A_PER_PayerContactInformation">
	<xs:annotation>
		<xs:documentation>Payer Contact Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC835W11130T_1000A_PER01_ContactFunctionCode"/>
		<xs:attribute name="WPC835W11130Q_1000A_PER02_PayerContactName"/>
		<xs:attribute name="WPC835W11130Y_1000A_PER03_CommunicationNumberQualifier"/>
		<xs:attribute name="WPC835W11130D_1000A_PER04_PayerContactCommunicationNumber"/>
		<xs:attribute name="WPC835W11130G_1000A_PER05_CommunicationNumberQualifier"/>
		<xs:attribute name="WPC835W11130M_1000A_PER06_PayerContactCommunicationNumber"/>
		<xs:attribute name="WPC835W111306_1000A_PER07_CommunicationNumberQualifier"/>
		<xs:attribute name="WPC835W11130X_1000A_PER08_PayerContactCommunicationNumber"/>
		<xs:attribute name="WPC835W11130B_1000A_PER09_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC835W11140A_1000B">
	<xs:annotation>
		<xs:documentation>Payee Identification</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="WPC835W111404_1000B_N1_PayeeIdentification" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC835W11160E_1000B_N3_PayeeAddress" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC835W11170J_1000B_N4_PayeeCityStateZIPCode" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC835W111805_1000B_REF_PayeeAdditionalIdentification" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:element name="WPC835W111404_1000B_N1_PayeeIdentification">
	<xs:annotation>
		<xs:documentation>Payee Identification</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC835W11140F_1000B_N101_EntityIdentifierCode"/>
		<xs:attribute name="WPC835W11140M_1000B_N102_PayeeName"/>
		<xs:attribute name="WPC835W11140X_1000B_N103_IdentificationCodeQualifier"/>
		<xs:attribute name="WPC835W11140F_1000B_N104_PayeeIdentificationCode"/>
		<xs:attribute name="WPC835W11140E_1000B_N105_NotUsed"/>
		<xs:attribute name="WPC835W11140Y_1000B_N106_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC835W11160E_1000B_N3_PayeeAddress">
	<xs:annotation>
		<xs:documentation>Payee Address</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC835W11160E_1000B_N301_PayeeAddressLine"/>
		<xs:attribute name="WPC835W11160T_1000B_N302_PayeeAddressLine"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC835W11170J_1000B_N4_PayeeCityStateZIPCode">
	<xs:annotation>
		<xs:documentation>Payee City, State, ZIP Code</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC835W11170W_1000B_N401_PayeeCityName"/>
		<xs:attribute name="WPC835W11170P_1000B_N402_PayeeStateCode"/>
		<xs:attribute name="WPC835W11170F_1000B_N403_PayeePostalZoneOrZIPCode"/>
		<xs:attribute name="WPC835W11170F_1000B_N404_CountryCode"/>
		<xs:attribute name="WPC835W11170Y_1000B_N405_NotUsed"/>
		<xs:attribute name="WPC835W111703_1000B_N406_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC835W111805_1000B_REF_PayeeAdditionalIdentification">
	<xs:annotation>
		<xs:documentation>Payee Additional Identification</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC835W11180A_1000B_REF01_ReferenceIdentificationQualifier"/>
		<xs:attribute name="WPC835W11180S_1000B_REF02_AdditionalPayeeIdentifier"/>
		<xs:attribute name="WPC835W11180L_1000B_REF03_NotUsed"/>
		<xs:attribute name="WPC835W11180Y_1000B_REF04_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC835W12003_2000">
	<xs:annotation>
		<xs:documentation>Header Number</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="WPC835W12003A_2000_LX_HeaderNumber" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC835W12005W_2000_TS3_ProviderSummaryInformation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC835W12007X_2000_TS2_ProviderSupplementalSummaryInformation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC835W12010B_2100" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:element name="WPC835W12003A_2000_LX_HeaderNumber">
	<xs:annotation>
		<xs:documentation>Header Number</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC835W120032_2000_LX01_AssignedNumber"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC835W12005W_2000_TS3_ProviderSummaryInformation">
	<xs:annotation>
		<xs:documentation>Provider Summary Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC835W12005Y_2000_TS301_ProviderIdentifier"/>
		<xs:attribute name="WPC835W12005V_2000_TS302_FacilityTypeCode"/>
		<xs:attribute name="WPC835W12005A_2000_TS303_FiscalPeriodDate"/>
		<xs:attribute name="WPC835W12005_2000_TS304_TotalClaimCount"/>
		<xs:attribute name="WPC835W12005T_2000_TS305_TotalClaimChargeAmount"/>
		<xs:attribute name="WPC835W12005E_2000_TS306_TotalCoveredChargeAmount"/>
		<xs:attribute name="WPC835W12005G_2000_TS307_TotalNoncoveredChargeAmount"/>
		<xs:attribute name="WPC835W12005G_2000_TS308_TotalDeniedChargeAmount"/>
		<xs:attribute name="WPC835W120057_2000_TS309_TotalProviderPaymentAmount"/>
		<xs:attribute name="WPC835W12005Q_2000_TS310_TotalInterestAmount"/>
		<xs:attribute name="WPC835W12005S_2000_TS311_TotalContractualAdjustmentAmount"/>
		<xs:attribute name="WPC835W12005_2000_TS312_TotalGrammRudmanReductionAmount"/>
		<xs:attribute name="WPC835W12005E_2000_TS313_TotalMSPPayerAmount"/>
		<xs:attribute name="WPC835W12005K_2000_TS314_TotalBloodDeductibleAmount"/>
		<xs:attribute name="WPC835W12005J_2000_TS315_TotalNonLabChargeAmount"/>
		<xs:attribute name="WPC835W12005G_2000_TS316_TotalCoinsuranceAmount"/>
		<xs:attribute name="WPC835W12005_2000_TS317_TotalHCPCSReportedChargeAmount"/>
		<xs:attribute name="WPC835W120052_2000_TS318_TotalHCPCSPayableAmount"/>
		<xs:attribute name="WPC835W12005A_2000_TS319_TotalDeductibleAmount"/>
		<xs:attribute name="WPC835W12005D_2000_TS320_TotalProfessionalComponentAmount"/>
		<xs:attribute name="WPC835W12005_2000_TS321_TotalMSPPatientLiabilityMetAmount"/>
		<xs:attribute name="WPC835W12005V_2000_TS322_TotalPatientReimbursementAmount"/>
		<xs:attribute name="WPC835W120058_2000_TS323_TotalPIPClaimCount"/>
		<xs:attribute name="WPC835W12005N_2000_TS324_TotalPIPAdjustmentAmount"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC835W12007X_2000_TS2_ProviderSupplementalSummaryInformation">
	<xs:annotation>
		<xs:documentation>Provider Supplemental Summary Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC835W12007B_2000_TS201_TotalDRGAmount"/>
		<xs:attribute name="WPC835W12007Y_2000_TS202_TotalFederalSpecificAmount"/>
		<xs:attribute name="WPC835W12007C_2000_TS203_TotalHospitalSpecificAmount"/>
		<xs:attribute name="WPC835W12007F_2000_TS204_TotalDisproportionateShareAmount"/>
		<xs:attribute name="WPC835W12007X_2000_TS205_TotalCapitalAmount"/>
		<xs:attribute name="WPC835W12007T_2000_TS206_TotalIndirectMedicalEducationAmount"/>
		<xs:attribute name="WPC835W12007Y_2000_TS207_TotalOutlierDayCount"/>
		<xs:attribute name="WPC835W12007C_2000_TS208_TotalDayOutlierAmount"/>
		<xs:attribute name="WPC835W12007U_2000_TS209_TotalCostOutlierAmount"/>
		<xs:attribute name="WPC835W12007D_2000_TS210_AverageDRGLengthOfStay"/>
		<xs:attribute name="WPC835W12007L_2000_TS211_TotalDischargeCount"/>
		<xs:attribute name="WPC835W120079_2000_TS212_TotalCostReportDayCount"/>
		<xs:attribute name="WPC835W12007_2000_TS213_TotalCoveredDayCount"/>
		<xs:attribute name="WPC835W12007N_2000_TS214_TotalNoncoveredDayCount"/>
		<xs:attribute name="WPC835W12007M_2000_TS215_TotalMSPPassThroughAmount"/>
		<xs:attribute name="WPC835W12007Y_2000_TS216_AverageDRGWeight"/>
		<xs:attribute name="WPC835W12007O_2000_TS217_TotalPPSCapitalFSPDRGAmount"/>
		<xs:attribute name="WPC835W120077_2000_TS218_TotalPPSCapitalHSPDRGAmount"/>
		<xs:attribute name="WPC835W120077_2000_TS219_TotalPPSDSHDRGAmount"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC835W12010B_2100">
	<xs:annotation>
		<xs:documentation>Claim Payment Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="WPC835W12010Z_2100_CLP_ClaimPaymentInformation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC835W120203_2100_CAS_ClaimAdjustment" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC835W12029J_2100_NM1_PatientName" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC835W120301_2100_NM1_InsuredName" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC835W12031Q_2100_NM1_CorrectedPatientInsuredName" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC835W12032_2100_NM1_ServiceProviderName" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC835W12033H_2100_NM1_CrossoverCarrierName" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC835W12034U_2100_NM1_CorrectedPriorityPayerName" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC835W12037H_2100_MIA_InpatientAdjudicationInformation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC835W12038L_2100_MOA_OutpatientAdjudicationInformation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC835W12040F_2100_REF_OtherClaimRelatedIdentification" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC835W120457_2100_REF_RenderingProviderIdentification" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC835W12050R_2100_DTM_ClaimDate" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC835W12060U_2100_PER_ClaimContactInformation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC835W120624_2100_AMT_ClaimSupplementalInformation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC835W12064I_2100_QTY_ClaimSupplementalInformationQuantity" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC835W120705_2110" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:element name="WPC835W12010Z_2100_CLP_ClaimPaymentInformation">
	<xs:annotation>
		<xs:documentation>Claim Payment Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC835W120104_2100_CLP01_PatientControlNumber"/>
		<xs:attribute name="WPC835W12010I_2100_CLP02_ClaimStatusCode"/>
		<xs:attribute name="WPC835W12010Y_2100_CLP03_TotalClaimChargeAmount"/>
		<xs:attribute name="WPC835W12010L_2100_CLP04_ClaimPaymentAmount"/>
		<xs:attribute name="WPC835W12010U_2100_CLP05_PatientResponsibilityAmount"/>
		<xs:attribute name="WPC835W12010O_2100_CLP06_ClaimFilingIndicatorCode"/>
		<xs:attribute name="WPC835W12010_2100_CLP07_PayerClaimControlNumber"/>
		<xs:attribute name="WPC835W12010C_2100_CLP08_FacilityTypeCode"/>
		<xs:attribute name="WPC835W12010U_2100_CLP09_ClaimFrequencyCode"/>
		<xs:attribute name="WPC835W120109_2100_CLP10_NotUsed"/>
		<xs:attribute name="WPC835W12010Q_2100_CLP11_DiagnosisRelatedGroupDRGCode"/>
		<xs:attribute name="WPC835W12010Q_2100_CLP12_DiagnosisRelatedGroupDRGWeight"/>
		<xs:attribute name="WPC835W12010H_2100_CLP13_DischargeFraction"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC835W120203_2100_CAS_ClaimAdjustment">
	<xs:annotation>
		<xs:documentation>Claim Adjustment</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC835W12020S_2100_CAS01_ClaimAdjustmentGroupCode"/>
		<xs:attribute name="WPC835W12020F_2100_CAS02_AdjustmentReasonCode"/>
		<xs:attribute name="WPC835W12020D_2100_CAS03_AdjustmentAmount"/>
		<xs:attribute name="WPC835W12020P_2100_CAS04_AdjustmentQuantity"/>
		<xs:attribute name="WPC835W12020M_2100_CAS05_AdjustmentReasonCode"/>
		<xs:attribute name="WPC835W12020F_2100_CAS06_AdjustmentAmount"/>
		<xs:attribute name="WPC835W12020X_2100_CAS07_AdjustmentQuantity"/>
		<xs:attribute name="WPC835W120206_2100_CAS08_AdjustmentReasonCode"/>
		<xs:attribute name="WPC835W12020M_2100_CAS09_AdjustmentAmount"/>
		<xs:attribute name="WPC835W12020O_2100_CAS10_AdjustmentQuantity"/>
		<xs:attribute name="WPC835W12020T_2100_CAS11_AdjustmentReasonCode"/>
		<xs:attribute name="WPC835W12020U_2100_CAS12_AdjustmentAmount"/>
		<xs:attribute name="WPC835W12020O_2100_CAS13_AdjustmentQuantity"/>
		<xs:attribute name="WPC835W12020W_2100_CAS14_AdjustmentReasonCode"/>
		<xs:attribute name="WPC835W12020P_2100_CAS15_AdjustmentAmount"/>
		<xs:attribute name="WPC835W120202_2100_CAS16_AdjustmentQuantity"/>
		<xs:attribute name="WPC835W12020_2100_CAS17_AdjustmentReasonCode"/>
		<xs:attribute name="WPC835W12020Z_2100_CAS18_AdjustmentAmount"/>
		<xs:attribute name="WPC835W12020X_2100_CAS19_AdjustmentQuantity"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC835W12029J_2100_NM1_PatientName">
	<xs:annotation>
		<xs:documentation>Patient Name</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC835W12029R_2100_NM101_EntityIdentifierCode"/>
		<xs:attribute name="WPC835W12029H_2100_NM102_EntityTypeQualifier"/>
		<xs:attribute name="WPC835W12029W_2100_NM103_PatientLastName"/>
		<xs:attribute name="WPC835W12029A_2100_NM104_PatientFirstName"/>
		<xs:attribute name="WPC835W12029Z_2100_NM105_PatientMiddleName"/>
		<xs:attribute name="WPC835W12029N_2100_NM106_NotUsed"/>
		<xs:attribute name="WPC835W12029M_2100_NM107_PatientNameSuffix"/>
		<xs:attribute name="WPC835W12029M_2100_NM108_IdentificationCodeQualifier"/>
		<xs:attribute name="WPC835W12029D_2100_NM109_PatientIdentifier"/>
		<xs:attribute name="WPC835W12029Z_2100_NM110_NotUsed"/>
		<xs:attribute name="WPC835W120290_2100_NM111_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC835W120301_2100_NM1_InsuredName">
	<xs:annotation>
		<xs:documentation>Insured Name</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC835W12030R_2100_NM101_EntityIdentifierCode"/>
		<xs:attribute name="WPC835W12030K_2100_NM102_EntityTypeQualifier"/>
		<xs:attribute name="WPC835W12030U_2100_NM103_SubscriberLastName"/>
		<xs:attribute name="WPC835W12030E_2100_NM104_SubscriberFirstName"/>
		<xs:attribute name="WPC835W12030T_2100_NM105_SubscriberMiddleName"/>
		<xs:attribute name="WPC835W12030N_2100_NM106_NotUsed"/>
		<xs:attribute name="WPC835W12030S_2100_NM107_SubscriberNameSuffix"/>
		<xs:attribute name="WPC835W120304_2100_NM108_IdentificationCodeQualifier"/>
		<xs:attribute name="WPC835W12030G_2100_NM109_SubscriberIdentifier"/>
		<xs:attribute name="WPC835W12030W_2100_NM110_NotUsed"/>
		<xs:attribute name="WPC835W12030D_2100_NM111_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC835W12031Q_2100_NM1_CorrectedPatientInsuredName">
	<xs:annotation>
		<xs:documentation>Corrected Patient/Insured Name</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC835W12031A_2100_NM101_EntityIdentifierCode"/>
		<xs:attribute name="WPC835W120314_2100_NM102_EntityTypeQualifier"/>
		<xs:attribute name="WPC835W12031H_2100_NM103_CorrectedPatientOrInsuredLastName"/>
		<xs:attribute name="WPC835W12031N_2100_NM104_CorrectedPatientOrInsuredFirstName"/>
		<xs:attribute name="WPC835W12031M_2100_NM105_CorrectedPatientOrInsuredMiddleName"/>
		<xs:attribute name="WPC835W12031O_2100_NM106_NotUsed"/>
		<xs:attribute name="WPC835W12031O_2100_NM107_CorrectedPatientOrInsuredNameSuffix"/>
		<xs:attribute name="WPC835W12031N_2100_NM108_IdentificationCodeQualifier"/>
		<xs:attribute name="WPC835W12031_2100_NM109_CorrectedInsuredIdentificationIndicator"/>
		<xs:attribute name="WPC835W12031O_2100_NM110_NotUsed"/>
		<xs:attribute name="WPC835W12031H_2100_NM111_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC835W12032_2100_NM1_ServiceProviderName">
	<xs:annotation>
		<xs:documentation>Service Provider Name</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC835W12032U_2100_NM101_EntityIdentifierCode"/>
		<xs:attribute name="WPC835W12032V_2100_NM102_EntityTypeQualifier"/>
		<xs:attribute name="WPC835W12032R_2100_NM103_RenderingProviderLastOrOrganizationName"/>
		<xs:attribute name="WPC835W120323_2100_NM104_RenderingProviderFirstName"/>
		<xs:attribute name="WPC835W12032I_2100_NM105_RenderingProviderMiddleName"/>
		<xs:attribute name="WPC835W12032Q_2100_NM106_NotUsed"/>
		<xs:attribute name="WPC835W12032_2100_NM107_RenderingProviderNameSuffix"/>
		<xs:attribute name="WPC835W12032O_2100_NM108_IdentificationCodeQualifier"/>
		<xs:attribute name="WPC835W12032S_2100_NM109_RenderingProviderIdentifier"/>
		<xs:attribute name="WPC835W12032Z_2100_NM110_NotUsed"/>
		<xs:attribute name="WPC835W12032G_2100_NM111_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC835W12033H_2100_NM1_CrossoverCarrierName">
	<xs:annotation>
		<xs:documentation>Crossover Carrier Name</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC835W12033J_2100_NM101_EntityIdentifierCode"/>
		<xs:attribute name="WPC835W12033T_2100_NM102_EntityTypeQualifier"/>
		<xs:attribute name="WPC835W12033H_2100_NM103_CoordinationOfBenefitsCarrierName"/>
		<xs:attribute name="WPC835W12033Y_2100_NM104_NotUsed"/>
		<xs:attribute name="WPC835W12033C_2100_NM105_NotUsed"/>
		<xs:attribute name="WPC835W12033_2100_NM106_NotUsed"/>
		<xs:attribute name="WPC835W12033G_2100_NM107_NotUsed"/>
		<xs:attribute name="WPC835W12033S_2100_NM108_IdentificationCodeQualifier"/>
		<xs:attribute name="WPC835W120330_2100_NM109_CoordinationOfBenefitsCarrierIdentifier"/>
		<xs:attribute name="WPC835W12033K_2100_NM110_NotUsed"/>
		<xs:attribute name="WPC835W12033H_2100_NM111_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC835W12034U_2100_NM1_CorrectedPriorityPayerName">
	<xs:annotation>
		<xs:documentation>Corrected Priority Payer Name</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC835W12034G_2100_NM101_EntityIdentifierCode"/>
		<xs:attribute name="WPC835W12034_2100_NM102_EntityTypeQualifier"/>
		<xs:attribute name="WPC835W12034M_2100_NM103_CorrectedPriorityPayerName"/>
		<xs:attribute name="WPC835W12034O_2100_NM104_NotUsed"/>
		<xs:attribute name="WPC835W12034J_2100_NM105_NotUsed"/>
		<xs:attribute name="WPC835W12034H_2100_NM106_NotUsed"/>
		<xs:attribute name="WPC835W12034N_2100_NM107_NotUsed"/>
		<xs:attribute name="WPC835W12034I_2100_NM108_IdentificationCodeQualifier"/>
		<xs:attribute name="WPC835W12034I_2100_NM109_CorrectedPriorityPayerIdentificationNumber"/>
		<xs:attribute name="WPC835W12034U_2100_NM110_NotUsed"/>
		<xs:attribute name="WPC835W12034Z_2100_NM111_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC835W12037H_2100_MIA_InpatientAdjudicationInformation">
	<xs:annotation>
		<xs:documentation>Inpatient Adjudication Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC835W12037U_2100_MIA01_CoveredDaysOrVisitsCount"/>
		<xs:attribute name="WPC835W12037U_2100_MIA02_PPSOperatingOutlierAmount"/>
		<xs:attribute name="WPC835W12037_2100_MIA03_LifetimePsychiatricDaysCount"/>
		<xs:attribute name="WPC835W12037O_2100_MIA04_ClaimDRGAmount"/>
		<xs:attribute name="WPC835W12037Q_2100_MIA05_RemarkCode"/>
		<xs:attribute name="WPC835W12037S_2100_MIA06_ClaimDisproportionateShareAmount"/>
		<xs:attribute name="WPC835W12037H_2100_MIA07_ClaimMSPPassThroughAmount"/>
		<xs:attribute name="WPC835W12037L_2100_MIA08_ClaimPPSCapitalAmount"/>
		<xs:attribute name="WPC835W12037N_2100_MIA09_PPSCapitalFSPDRGAmount"/>
		<xs:attribute name="WPC835W12037C_2100_MIA10_PPSCapitalHSPDRGAmount"/>
		<xs:attribute name="WPC835W12037F_2100_MIA11_PPSCapitalDSHDRGAmount"/>
		<xs:attribute name="WPC835W12037C_2100_MIA12_OldCapitalAmount"/>
		<xs:attribute name="WPC835W12037E_2100_MIA13_PPSCapitalIMEAmount"/>
		<xs:attribute name="WPC835W12037L_2100_MIA14_PPSOperatingHospitalSpecificDRGAmount"/>
		<xs:attribute name="WPC835W12037J_2100_MIA15_CostReportDayCount"/>
		<xs:attribute name="WPC835W12037F_2100_MIA16_PPSOperatingFederalSpecificDRGAmount"/>
		<xs:attribute name="WPC835W12037Z_2100_MIA17_ClaimPPSCapitalOutlierAmount"/>
		<xs:attribute name="WPC835W12037C_2100_MIA18_ClaimIndirectTeachingAmount"/>
		<xs:attribute name="WPC835W12037M_2100_MIA19_NonpayableProfessionalComponentAmount"/>
		<xs:attribute name="WPC835W120374_2100_MIA20_RemarkCode"/>
		<xs:attribute name="WPC835W120377_2100_MIA21_RemarkCode"/>
		<xs:attribute name="WPC835W12037K_2100_MIA22_RemarkCode"/>
		<xs:attribute name="WPC835W12037D_2100_MIA23_RemarkCode"/>
		<xs:attribute name="WPC835W12037R_2100_MIA24_PPSCapitalExceptionAmount"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC835W12038L_2100_MOA_OutpatientAdjudicationInformation">
	<xs:annotation>
		<xs:documentation>Outpatient Adjudication Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC835W120383_2100_MOA01_ReimbursementRate"/>
		<xs:attribute name="WPC835W12038V_2100_MOA02_ClaimHCPCSPayableAmount"/>
		<xs:attribute name="WPC835W12038T_2100_MOA03_RemarkCode"/>
		<xs:attribute name="WPC835W12038H_2100_MOA04_RemarkCode"/>
		<xs:attribute name="WPC835W12038T_2100_MOA05_RemarkCode"/>
		<xs:attribute name="WPC835W12038K_2100_MOA06_RemarkCode"/>
		<xs:attribute name="WPC835W12038F_2100_MOA07_RemarkCode"/>
		<xs:attribute name="WPC835W12038J_2100_MOA08_ClaimESRDPaymentAmount"/>
		<xs:attribute name="WPC835W12038J_2100_MOA09_NonpayableProfessionalComponentAmount"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC835W12040F_2100_REF_OtherClaimRelatedIdentification">
	<xs:annotation>
		<xs:documentation>Other Claim Related Identification</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC835W12040S_2100_REF01_ReferenceIdentificationQualifier"/>
		<xs:attribute name="WPC835W12040_2100_REF02_OtherClaimRelatedIdentifier"/>
		<xs:attribute name="WPC835W12040P_2100_REF03_NotUsed"/>
		<xs:attribute name="WPC835W12040X_2100_REF04_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC835W120457_2100_REF_RenderingProviderIdentification">
	<xs:annotation>
		<xs:documentation>Rendering Provider Identification</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC835W12045W_2100_REF01_ReferenceIdentificationQualifier"/>
		<xs:attribute name="WPC835W120458_2100_REF02_RenderingProviderSecondaryIdentifier"/>
		<xs:attribute name="WPC835W12045T_2100_REF03_NotUsed"/>
		<xs:attribute name="WPC835W12045S_2100_REF04_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC835W12050R_2100_DTM_ClaimDate">
	<xs:annotation>
		<xs:documentation>Claim Date</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC835W12050X_2100_DTM01_DateTimeQualifier"/>
		<xs:attribute name="WPC835W12050E_2100_DTM02_ClaimDate"/>
		<xs:attribute name="WPC835W120500_2100_DTM03_NotUsed"/>
		<xs:attribute name="WPC835W12050B_2100_DTM04_NotUsed"/>
		<xs:attribute name="WPC835W12050H_2100_DTM05_NotUsed"/>
		<xs:attribute name="WPC835W12050C_2100_DTM06_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC835W12060U_2100_PER_ClaimContactInformation">
	<xs:annotation>
		<xs:documentation>Claim Contact Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC835W12060A_2100_PER01_ContactFunctionCode"/>
		<xs:attribute name="WPC835W12060R_2100_PER02_ClaimContactName"/>
		<xs:attribute name="WPC835W12060Y_2100_PER03_CommunicationNumberQualifier"/>
		<xs:attribute name="WPC835W12060B_2100_PER04_ClaimContactCommunicationsNumber"/>
		<xs:attribute name="WPC835W120606_2100_PER05_CommunicationNumberQualifier"/>
		<xs:attribute name="WPC835W12060V_2100_PER06_ClaimContactCommunicationsNumber"/>
		<xs:attribute name="WPC835W12060Z_2100_PER07_CommunicationNumberQualifier"/>
		<xs:attribute name="WPC835W12060M_2100_PER08_CommunicationNumberExtension"/>
		<xs:attribute name="WPC835W12060J_2100_PER09_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC835W120624_2100_AMT_ClaimSupplementalInformation">
	<xs:annotation>
		<xs:documentation>Claim Supplemental Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC835W12062L_2100_AMT01_AmountQualifierCode"/>
		<xs:attribute name="WPC835W12062S_2100_AMT02_ClaimSupplementalInformationAmount"/>
		<xs:attribute name="WPC835W120626_2100_AMT03_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC835W12064I_2100_QTY_ClaimSupplementalInformationQuantity">
	<xs:annotation>
		<xs:documentation>Claim Supplemental Information Quantity</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC835W12064M_2100_QTY01_QuantityQualifier"/>
		<xs:attribute name="WPC835W12064B_2100_QTY02_ClaimSupplementalInformationQuantity"/>
		<xs:attribute name="WPC835W12064T_2100_QTY03_NotUsed"/>
		<xs:attribute name="WPC835W12064G_2100_QTY04_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC835W120705_2110">
	<xs:annotation>
		<xs:documentation>Service Payment Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="WPC835W12070S_2110_SVC_ServicePaymentInformation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC835W12080F_2110_DTM_ServiceDate" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC835W12090_2110_CAS_ServiceAdjustment" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC835W12100A_2110_REF_ServiceIdentification" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC835W12105K_2110_REF_RenderingProviderInformation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC835W12110S_2110_AMT_ServiceSupplementalAmount" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC835W12120F_2110_QTY_ServiceSupplementalQuantity" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC835W12130B_2110_LQ_HealthCareRemarkCodes" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:element name="WPC835W12070S_2110_SVC_ServicePaymentInformation">
	<xs:annotation>
		<xs:documentation>Service Payment Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="WPC835W12070F_2110_SVC01_CompositeMedicalProcedureIdentifier" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC835W12070Q_2110_SVC06_CompositeMedicalProcedureIdentifier" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="WPC835W12070M_2110_SVC02_LineItemChargeAmount"/>
		<xs:attribute name="WPC835W12070H_2110_SVC03_LineItemProviderPaymentAmount"/>
		<xs:attribute name="WPC835W12070D_2110_SVC04_NationalUniformBillingCommitteeRevenueCode"/>
		<xs:attribute name="WPC835W12070S_2110_SVC05_UnitsOfServicePaidCount"/>
		<xs:attribute name="WPC835W12070R_2110_SVC07_OriginalUnitsOfServiceCount"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC835W12070F_2110_SVC01_CompositeMedicalProcedureIdentifier">
	<xs:annotation>
		<xs:documentation>Composite Medical Procedure Identifier</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC835W12070G_2110_SVC0101_ProductOrServiceIDQualifier"/>
		<xs:attribute name="WPC835W12070I_2110_SVC0102_ProcedureCode"/>
		<xs:attribute name="WPC835W12070Z_2110_SVC0103_ProcedureModifier"/>
		<xs:attribute name="WPC835W12070R_2110_SVC0104_ProcedureModifier"/>
		<xs:attribute name="WPC835W12070R_2110_SVC0105_ProcedureModifier"/>
		<xs:attribute name="WPC835W12070U_2110_SVC0106_ProcedureModifier"/>
		<xs:attribute name="WPC835W120705_2110_SVC0107_ProcedureCodeDescription"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC835W12070Q_2110_SVC06_CompositeMedicalProcedureIdentifier">
	<xs:annotation>
		<xs:documentation>Composite Medical Procedure Identifier</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC835W12070_2110_SVC0601_ProductOrServiceIDQualifier"/>
		<xs:attribute name="WPC835W12070I_2110_SVC0602_ProcedureCode"/>
		<xs:attribute name="WPC835W12070N_2110_SVC0603_ProcedureModifier"/>
		<xs:attribute name="WPC835W12070F_2110_SVC0604_ProcedureModifier"/>
		<xs:attribute name="WPC835W12070Z_2110_SVC0605_ProcedureModifier"/>
		<xs:attribute name="WPC835W12070Y_2110_SVC0606_ProcedureModifier"/>
		<xs:attribute name="WPC835W12070I_2110_SVC0607_ProcedureCodeDescription"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC835W12080F_2110_DTM_ServiceDate">
	<xs:annotation>
		<xs:documentation>Service Date</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC835W12080T_2110_DTM01_DateTimeQualifier"/>
		<xs:attribute name="WPC835W120800_2110_DTM02_ServiceDate"/>
		<xs:attribute name="WPC835W12080W_2110_DTM03_NotUsed"/>
		<xs:attribute name="WPC835W12080_2110_DTM04_NotUsed"/>
		<xs:attribute name="WPC835W120801_2110_DTM05_NotUsed"/>
		<xs:attribute name="WPC835W12080P_2110_DTM06_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC835W12090_2110_CAS_ServiceAdjustment">
	<xs:annotation>
		<xs:documentation>Service Adjustment</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC835W12090O_2110_CAS01_ClaimAdjustmentGroupCode"/>
		<xs:attribute name="WPC835W12090P_2110_CAS02_AdjustmentReasonCode"/>
		<xs:attribute name="WPC835W12090P_2110_CAS03_AdjustmentAmount"/>
		<xs:attribute name="WPC835W12090W_2110_CAS04_AdjustmentQuantity"/>
		<xs:attribute name="WPC835W12090Y_2110_CAS05_AdjustmentReasonCode"/>
		<xs:attribute name="WPC835W12090Q_2110_CAS06_AdjustmentAmount"/>
		<xs:attribute name="WPC835W12090O_2110_CAS07_AdjustmentQuantity"/>
		<xs:attribute name="WPC835W12090R_2110_CAS08_AdjustmentReasonCode"/>
		<xs:attribute name="WPC835W12090B_2110_CAS09_AdjustmentAmount"/>
		<xs:attribute name="WPC835W12090P_2110_CAS10_AdjustmentQuantity"/>
		<xs:attribute name="WPC835W12090T_2110_CAS11_AdjustmentReasonCode"/>
		<xs:attribute name="WPC835W12090O_2110_CAS12_AdjustmentAmount"/>
		<xs:attribute name="WPC835W12090B_2110_CAS13_AdjustmentQuantity"/>
		<xs:attribute name="WPC835W12090A_2110_CAS14_AdjustmentReasonCode"/>
		<xs:attribute name="WPC835W12090Z_2110_CAS15_AdjustmentAmount"/>
		<xs:attribute name="WPC835W12090C_2110_CAS16_AdjustmentQuantity"/>
		<xs:attribute name="WPC835W12090R_2110_CAS17_AdjustmentReasonCode"/>
		<xs:attribute name="WPC835W12090_2110_CAS18_AdjustmentAmount"/>
		<xs:attribute name="WPC835W12090V_2110_CAS19_AdjustmentQuantity"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC835W12100A_2110_REF_ServiceIdentification">
	<xs:annotation>
		<xs:documentation>Service Identification</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC835W12100S_2110_REF01_ReferenceIdentificationQualifier"/>
		<xs:attribute name="WPC835W12100V_2110_REF02_ProviderIdentifier"/>
		<xs:attribute name="WPC835W12100V_2110_REF03_NotUsed"/>
		<xs:attribute name="WPC835W121001_2110_REF04_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC835W12105K_2110_REF_RenderingProviderInformation">
	<xs:annotation>
		<xs:documentation>Rendering Provider Information</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC835W12105Y_2110_REF01_ReferenceIdentificationQualifier"/>
		<xs:attribute name="WPC835W12105O_2110_REF02_RenderingProviderIdentifier"/>
		<xs:attribute name="WPC835W12105N_2110_REF03_NotUsed"/>
		<xs:attribute name="WPC835W12105H_2110_REF04_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC835W12110S_2110_AMT_ServiceSupplementalAmount">
	<xs:annotation>
		<xs:documentation>Service Supplemental Amount</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC835W121101_2110_AMT01_AmountQualifierCode"/>
		<xs:attribute name="WPC835W12110A_2110_AMT02_ServiceSupplementalAmount"/>
		<xs:attribute name="WPC835W12110A_2110_AMT03_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC835W12120F_2110_QTY_ServiceSupplementalQuantity">
	<xs:annotation>
		<xs:documentation>Service Supplemental Quantity</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC835W12120L_2110_QTY01_QuantityQualifier"/>
		<xs:attribute name="WPC835W121201_2110_QTY02_ServiceSupplementalQuantityCount"/>
		<xs:attribute name="WPC835W12120V_2110_QTY03_NotUsed"/>
		<xs:attribute name="WPC835W12120Q_2110_QTY04_NotUsed"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC835W12130B_2110_LQ_HealthCareRemarkCodes">
	<xs:annotation>
		<xs:documentation>Health Care Remark Codes</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC835W12130H_2110_LQ01_CodeListQualifierCode"/>
		<xs:attribute name="WPC835W12130Z_2110_LQ02_RemarkCode"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC835W130103__PLB_ProviderAdjustment">
	<xs:annotation>
		<xs:documentation>Provider Adjustment</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="WPC835W13010N__PLB03_AdjustmentIdentifier" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC835W13010N__PLB05_AdjustmentIdentifier" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC835W13010Q__PLB07_AdjustmentIdentifier" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC835W13010W__PLB09_AdjustmentIdentifier" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC835W13010H__PLB11_AdjustmentIdentifier" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC835W13010M__PLB13_AdjustmentIdentifier" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="WPC835W130103__PLB01_ProviderIdentifier"/>
		<xs:attribute name="WPC835W13010A__PLB02_FiscalPeriodDate"/>
		<xs:attribute name="WPC835W13010J__PLB04_ProviderAdjustmentAmount"/>
		<xs:attribute name="WPC835W13010Y__PLB06_ProviderAdjustmentAmount"/>
		<xs:attribute name="WPC835W13010K__PLB08_ProviderAdjustmentAmount"/>
		<xs:attribute name="WPC835W13010__PLB10_ProviderAdjustmentAmount"/>
		<xs:attribute name="WPC835W13010M__PLB12_ProviderAdjustmentAmount"/>
		<xs:attribute name="WPC835W13010K__PLB14_ProviderAdjustmentAmount"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC835W13010N__PLB03_AdjustmentIdentifier">
	<xs:annotation>
		<xs:documentation>Adjustment Identifier</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC835W130102__PLB0301_AdjustmentReasonCode"/>
		<xs:attribute name="WPC835W13010D__PLB0302_ProviderAdjustmentIdentifier"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC835W13010N__PLB05_AdjustmentIdentifier">
	<xs:annotation>
		<xs:documentation>Adjustment Identifier</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC835W130107__PLB0501_AdjustmentReasonCode"/>
		<xs:attribute name="WPC835W13010S__PLB0502_ProviderAdjustmentIdentifier"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC835W13010Q__PLB07_AdjustmentIdentifier">
	<xs:annotation>
		<xs:documentation>Adjustment Identifier</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC835W13010I__PLB0701_AdjustmentReasonCode"/>
		<xs:attribute name="WPC835W13010N__PLB0702_ProviderAdjustmentIdentifier"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC835W13010W__PLB09_AdjustmentIdentifier">
	<xs:annotation>
		<xs:documentation>Adjustment Identifier</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC835W13010I__PLB0901_AdjustmentReasonCode"/>
		<xs:attribute name="WPC835W13010B__PLB0902_ProviderAdjustmentIdentifier"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC835W13010H__PLB11_AdjustmentIdentifier">
	<xs:annotation>
		<xs:documentation>Adjustment Identifier</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC835W13010P__PLB1101_AdjustmentReasonCode"/>
		<xs:attribute name="WPC835W13010U__PLB1102_ProviderAdjustmentIdentifier"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC835W13010M__PLB13_AdjustmentIdentifier">
	<xs:annotation>
		<xs:documentation>Adjustment Identifier</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="WPC835W13010R__PLB1301_AdjustmentReasonCode"/>
		<xs:attribute name="WPC835W13010T__PLB1302_ProviderAdjustmentIdentifier"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC_IProc">
	<xs:annotation>
		<xs:documentation>WPC IProc</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="WPC_IProcEvnt" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WPC_Errors" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="X12_Envelope" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:element name="WPC_IProcEvnt">
	<xs:annotation>
		<xs:documentation>WPC IProcEvent</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="src" use="optional"/>
		<xs:attribute name="type" use="optional"/>
		<xs:attribute name="dt" use="optional"/>
		<xs:attribute name="hsh" use="optional"/>
	</xs:complexType>
</xs:element>
<xs:element name="WPC_Errors">
	<xs:annotation>
		<xs:documentation>WPC Error Collection</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="Violation" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:element name="Violation">
	<xs:annotation>
		<xs:documentation>Violation Detail</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="ErrorType" use="required">
			<xs:annotation>
				<xs:documentation>Enumeration of error type</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="FileID">
			<xs:annotation>
				<xs:documentation>Identifier of original submission</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TraceNumber">
			<xs:annotation>
				<xs:documentation>Application layer trace identifier</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ViolationLocation">
			<xs:annotation>
				<xs:documentation>Location of errant data</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ViolationDescription">
			<xs:annotation>
				<xs:documentation>Text description of violation</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="RuleProcessor">
			<xs:annotation>
				<xs:documentation>Rule processor identifier</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="RuleSource">
			<xs:annotation>
				<xs:documentation>Source identifier of violated rule</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="RuleViolationText">
			<xs:annotation>
				<xs:documentation>Text description of rule</xs:documentation>
			</xs:annotation>
		</xs:attribute>			
		<xs:attribute name="BadDataContent">
			<xs:annotation>
				<xs:documentation>Errant data found in violation of indicated rule</xs:documentation>
			</xs:annotation>
		</xs:attribute>			
	</xs:complexType>
</xs:element>
<xs:element name="X12_Envelope">
	<xs:annotation>
		<xs:documentation>X12 Envelope</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="ISA_InterchangeControlHeader" minOccurs="0"/>
			<xs:element ref="GS_FunctionalGroupHeader" minOccurs="0"/>
			<xs:element ref="ST_TransactionSetHeader" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:element name="ST_TransactionSetHeader">
	<xs:annotation>
		<xs:documentation>Transaction Set Header</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="ST01__TransactionSetIdentifierCode" use="optional"/>
		<xs:attribute name="ST02__TransactionSetControlNumber" use="optional"/>
	</xs:complexType>
</xs:element>
<xs:element name="GS_FunctionalGroupHeader">
	<xs:annotation>
		<xs:documentation>Functional Group Header</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="GS01__FunctionalIdentifierCode" use="optional"/>
		<xs:attribute name="GS02__ApplicationSendersCode" use="optional"/>
		<xs:attribute name="GS03__ApplicationReceiversCode" use="optional"/>
		<xs:attribute name="GS04__Date" use="optional"/>
		<xs:attribute name="GS05__Time" use="optional"/>
		<xs:attribute name="GS06__GroupControlNumber" use="optional"/>
		<xs:attribute name="GS07__ResponsibleAgencyCode" use="optional"/>
		<xs:attribute name="GS08__VersionReleaseIndustryIdentifierCode" use="optional"/>
	</xs:complexType>
</xs:element>
<xs:element name="ISA_InterchangeControlHeader">
	<xs:annotation>
		<xs:documentation>Interchange Control Header</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="ISA01__AuthorizationInformationQualifier" use="optional"/>
		<xs:attribute name="ISA02__AuthorizationInformation" use="optional"/>
		<xs:attribute name="ISA03__SecurityInformationQualifier" use="optional"/>
		<xs:attribute name="ISA04__SecurityInformation" use="optional"/>
		<xs:attribute name="ISA05__InterchangeIDQualifier" use="optional"/>
		<xs:attribute name="ISA06__InterchangeSenderID" use="optional"/>
		<xs:attribute name="ISA07__InterchangeIDQualifier" use="optional"/>
		<xs:attribute name="ISA08__InterchangeReceiverID" use="optional"/>
		<xs:attribute name="ISA09__InterchangeDate" use="optional"/>
		<xs:attribute name="ISA10__InterchangeTime" use="optional"/>
		<xs:attribute name="ISA11__InterchangeControlStandardsIdentifier" use="optional"/>
		<xs:attribute name="ISA12__InterchangeControlVersionNumber" use="optional"/>
		<xs:attribute name="ISA13__InterchangeControlNumber" use="optional"/>
		<xs:attribute name="ISA14__AcknowledgmentRequested" use="optional"/>
		<xs:attribute name="ISA15__UsageIndicator" use="optional"/>
		<xs:attribute name="ISA16__ComponentElementSeparator" use="optional"/>
	</xs:complexType>
</xs:element>
</xs:schema>


